.mw-notification-area {
	top: 0;
	right: 0;
	/* Padding on all sides so drop shadows aren't cut by overflow: hidden */
	padding: 1em;
	width: 20em;
	line-height: 1.35;
	z-index: 10000;
	/* Avoid horizontal scrollbar on fade in and on fade out */
	overflow: hidden;
}

.mw-notification {
	padding: 0.75em 1.5em;
	margin-bottom: 0.5em;
	border: solid 1px #ddd;
	background-color: #fff;
	/* Click handler in mediawiki.notification.js */
	cursor: pointer;
	opacity: 0;
	-webkit-transform: translateX( 35px );
	transform: translateX( 35px );
	-webkit-transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.mw-notification-visible {
	opacity: 1;
	-webkit-transform: translateX( 0 );
	transform: translateX( 0 );
}

.mw-notification-replaced {
	opacity: 0;
	-webkit-transform: translateY( -35px );
	transform: translateY( -35px );
	pointer-events: none;
}

.mw-notification-title {
	font-weight: bold;
}

.mw-notification.mw-notification-type-warn {
	border-color: #f5be00; /* yellow */
	background-color: #ffffe8;
}

.mw-notification.mw-notification-type-error {
	border-color: #eb3941; /* red */
	background-color: #fff8f8;
}
