//GRID VARIABLES

// Default separation between columns:
@grid-gutter: 20px;

//Breakpoints:
@palm: ~"only screen and (max-width: 480px)";
@lap: ~"only screen and (min-width: 481px) and (max-width: 1023px)";
@portable: ~"only screen and (max-width: 1023px)";
@desk: ~"only screen and (min-width: 1024px)";
