/* Amethyst stylesheet for mediawiki.
 *
 * Copyright Big John, Gabriel Wicke, Sorwena, Sorkhiri, Ashar Voultoiz
 *
 * License: GPL (http://www.gnu.org/copyleft/gpl.html)
 *
 * Based on MonoBook by Gwicke itself based on a Plone 2.0 skin.
 * Colors by Sorwena and Sorkhiri <Amethyst> guild.
 * Adapted for MediaWiki by Ashar Voultoiz.
 *
 * Icons from Gartoon Gnome Icon pack
 * Created by Zeus (zeussama@yahoo.com) http://zeus.qballcow.nl
 * License: GPL
 *
 *
 * NOTE: Internet Explorer is not able to correctly render this
 * skin. Complain to your local software reseller or use an up
 * to date browser such as Mozilla Firefox.
 */
BODY { margin : 0; padding: 0; background : black; color:white;}
div { font-size : small; }
pre {
	border: 1px dashed #2A3C61;
	color:white;
	background-color: #2A3C61;
	overflow : auto;
}
input,select { border: 1px solid #CCCCCC;}
textarea {border: 1px solid #CCCCCC;font-size:small; width : 100%;}

a {	color: yellow; text-decoration: none; }
a:visited { color: #C0C000; text-decoration: none;}
a:hover { text-decoration: underline; }

img { border:none; vertical-align:middle; }
li { margin-bottom: .1em; }
p img { margin: 0;}

H1.firstHeading { text-align: center; }

#column-content {
	width:100%;
	float:left;
	margin: 0 0 0 -12em;
	padding : 0;
	display:table-cell;
}

#content {
	background : #2F333B;
	color : white;
	margin: 5em 1em 1em 13em;
	padding: 0 1em 1.5em 1em;
	position: relative;
}

#column-one {
	padding-top: 170px;
	display:table-cell;
}

#globalWrapper { width:100%; margin:0; padding:0; }
.visualClear { clear : both;}

.pBody {
	font-size:96%;
	background-color: #2F333B;
}
.portlet {
    border: none;
    margin-bottom: 1em;
    padding: 0;
    float: none;
    width: 13em;
    overflow: hidden;
	font-size: 85%;
	background-color: #2F333B;
}
.portlet h5 {
	background-color: #2A3C61;
	font-size:100%;
	border-bottom : 1px solid white;
	padding-bottom: .1em;
	margin:0;
}
.portlet ul {
	margin : 1em 0 1em 0; padding:0;
	list-style: none;
}
.portlet li { margin-left:1em;}

#p-navigation div.pBody { background-color:transparent;}
#p-navigation {
	width : 100%;
	white-space:nowrap;
	position : absolute;
	left: 0; top: 0;
	margin:0; padding:0 0 .2em 0;
	background-color: #2A3C61;
	color: white;
	border-bottom : 1px solid white;
}
#p-navigation h5 { display : none;}
#p-navigation ul {
	margin : 0 ; padding:0;
	list-style: none;
}
#p-navigation li {
	margin:0 1em 0 0;
	display : inline;
	font-weight : bold;
}
#p-navigation a { color:white; }
#p-navigation a : visited { color:#D0D0D0; }
li#n-mainpage a{padding-left: 18px;background:url('mainpage.png') top left no-repeat; }
li#n-portal  a{padding-left: 18px;background:url('portal.png') top left no-repeat; }
li#n-currentevents  a{padding-left: 18px;background:url('currentevents.png') top left no-repeat; }
li#n-recentchanges  a{padding-left: 18px;background:url('recentchanges.png') top left no-repeat; }
li#n-help  a{padding-left: 18px;background:url('help.png') top left no-repeat; }
li#n-randompage a{padding-left: 18px;background:url('random.png') top left no-repeat; }
li#n-sitesupport a{padding-left: 18px;background:url('sitesupport.png') top left no-repeat; }


#p-cactions {
	width : 100%;
	position : absolute;
	left: 0; top: 4.2em;
	margin:0; padding: 0;
	background-color:transparent;
}
#p-cactions h5 { display : none; }
#p-cactions ul {
	display : inline;
	margin : 0; padding-left:.5em;
	list-style:none;
}
#p-cactions li {
	display : inline;
	font-size: 96%;
}

#p-cactions li a { color : white;}
#p-cactions .new a { color : red;}
li#ca-delete  a{padding-left: 18px;background:url('delete.png') top left no-repeat; }
li#ca-edit    a{padding-left: 18px;background:url('edit.png') top left no-repeat; }
li#ca-history a{padding-left: 18px;background:url('history.png') top left no-repeat; }
li#ca-talk a{padding-left: 18px;background:url('chat.png') top left no-repeat; }
li#ca-move a{padding-left: 18px;background:url('move.png') top left no-repeat; }
li#ca-nstab-main a{padding-left: 18px;background:url('nstab-main.png') top left no-repeat; }
li#ca-nstab-user a{padding-left: 18px;background:url('nstab-user.png') top left no-repeat; }
li#ca-nstab-wp a{padding-left: 18px;background:url('nstab-wp.png') top left no-repeat; }
li#ca-article a{padding-left: 18px;background:url('article.png') top left no-repeat; }
li#ca-protect a{padding-left: 18px;background:url('lock.png') top left no-repeat; }
li#ca-unprotect a{padding-left: 18px;background:url('unlock.png') top left no-repeat; }
li#ca-watch a{padding-left: 18px;background:url('watch.png') top left no-repeat; }
li#ca-unwatch a{padding-left: 18px;background:url('unwatch.png') top left no-repeat; }


/* other boxes */
#p-search {	display :none; }
#p-tb li a { color : white;}
li#t-print  {padding-left: 18px;background:url('printer.png') top left no-repeat; }
li#t-specialpages a{padding-left: 18px;background:url('gear.png') top left no-repeat; }
li#t-upload  {padding-left: 18px;background:url('upload.png') top left no-repeat; }


#p-personal li a { color : white;}
#p-personal li a.new { color : red;}
li#pt-userpage a{padding-left: 18px;background:url('user.png') top left no-repeat; }
li#pt-anonuserpage a{padding-left: 18px;background:url('user.png') top left no-repeat; }
li#pt-mytalk a{padding-left: 18px;background:url('chat.png') top left no-repeat; }
li#pt-anontalk a{padding-left: 18px;background:url('chat.png') top left no-repeat; }
li#pt-preferences a{padding-left: 18px;background:url('configure.png') top left no-repeat; }
li#pt-logout      a{padding-left: 18px;background:url('connect.png') top left no-repeat; }
li#pt-anonlogin   a{padding-left: 18px;background:url('connected.png') top left no-repeat; }

.printfooter { display : none; }

#footer {
	clear:both;
	background-color: #2A3C61;
	color:#D0D0D0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
	font-size: x-small;
	margin:1em 0 1em 0;
}
#footer li { display:inline; }
#f-poweredbyico { float:right;}
#f-copyrightico { float: left;}

#p-logo {
	background-color:transparent;
	z-index: 3;
	position: absolute; /*needed to use z-index */
	top: 1.3em; right: 1em;
	height: 155px;
	width: 12em;
	overflow: visible;
}
#p-logo h5 { display: none; }
#p-logo a,
#p-logo a:hover {
	display: block;
	height: 155px;
	width: 12em;
	background-repeat: no-repeat;
	background-position: 35% 50% !important;
	text-decoration: none;
}



/* END OF GENERAL LAYOUT */


/* CONTENT STYLE */
#preftoc {
	float:left;
	margin: 1em;
	width:12em;
	font-size:96%;
}

#preferences ul { padding:.7em 0 0 1em; margin:0;}
#preftoc li { list-style:none; border: 1px solid #C0C0C0;}
#preftoc li.selected { background-color: #2A3C61;}
#preftoc a,
#preftoc a:active {
	display:block;
	color : white;
}
div.prefsectiontip { font-size:95%; margin-top:1em;}
#prefcontrol { clear:both; float:left; margin-top:1em; margin-left:13em;}


.toc {
	border : 1px solid black;
	background-color: #2A3C61;
	padding: 5px;
	font-size:small;
}
#toc h2, .toc h2 {
	display:inline;
	border:none;
	padding: 0;
	font-size:100%;
	font-weight:bold;
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: x-small;
}

#siteSub { display:none; }

#catlinks {
	border: 1px solid #aaa;
	background-color: #2A3C61; 
	margin : 1em -1em -1.5em -1em;
	padding : .5em;
	clear: both;
}


table.diff, td.diff-otitle, td.diff-ntitle {
	color:white;
}
td.diff-addedline {
	color:black;
    background: #9BC4AB;
    font-size: smaller;
}
td.diff-deletedline {
	color:black;
    background: #D3D79B;
    font-size: smaller;
}
td.diff-context {
	color:white;
    background: #2A3C61;
    font-size: smaller;
}
span.diffchange {
    color: red;
    font-weight: bold;
}

#jump-to-nav {
  display: none;
}

table.collapsed tr.collapsable {
	display: none;
}
