<div style="position: relative; display: block;" class="ui-dialog-content ui-widget-content">
	<div class="feedback-mode feedback-form">
		<small><p></p></small>
		<div class="subject" style="margin-top: 1em;">
			<span></span><br>
			<input type="text" class="feedback-subject" name="subject" maxlength="60"
				style="width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
		</div>
		<div class="message" style="margin-top: 0.4em;">
			<span></span><br>
			<textarea name="message" class="feedback-message" rows="5" cols="60"></textarea>
		</div>
		<div class="terms" style="margin-top: 0.4em;margin-bottom: 0.4em;">
			<span></span><br>
			<input type="checkbox" name="terms" class="feedback-terms" ></input>
		</div>
	</div>
	<div class="feedback-mode feedback-bugs">
		<p></p>
	</div>
	<div class="feedback-mode feedback-notice" style="text-align: center; margin: 3em 0;">
		<span class="feedback-incomplete"></span><br>
		<span class="feedback-publishing"></span><br>
		<span class="feedback-spinner"></span>
	</div>
	<div class="feedback-mode feedback-thanks" style="text-align: center; margin:1em"></div>
	<div class="feedback-mode feedback-error" style="position: relative;">
		<div class="feedback-error-msg" style=" color:#990000; margin-top:0.4em;"></div>
	</div>
</div>
