/* Babaco Color Scheme A */


html .thumbimage,
#toc, .toc, .mw-warning, div.thumbinner {
	border-color: #cccccc;
	background-color: #f7f7f7;
}

/* Framework */
#page-base {
	background-color: inherit !important;
	background-image: none !important;
}
body {
	background-color: #f9f9f9 !important;
	background-image:url(images/page-base-updated.png);
}
/* Links */
a {
	color: #003cb3;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #a31205 !important;
}
{
	color: #260e9c;
}
a:visited,
a:visited div.vectorTabs li.selected a:visited span,
a.new:visited, 
#p-personal a.new:visited {
	color: #260e9c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	border-color:#999999;
}

div.vectorTabs li.new a, 
div.vectorTabs li.new a span, 
div.vectorTabs li.new a:visited, 
div.vectorTabs li.new a:visited span {
	color:#a31205;
}

#toc,
.toc,
.mw-warning,
div.gallerybox div.thumb,
table.gallery,
#preferences fieldset.prefsection fieldset,
#preferences,
html .thumbimage,
.usermessage,
img.thumbborder,
div.thumbinner{
	border: 1px solid #cccccc;
	background-color: #f7f7f7;
}
