/* Babaco Color Scheme C */

/* ridding ourselves of the gradient */
#mw-page-base {
	background-color: inherit !important;
	background-image: none !important;
}

a:visited,
a:visited div.vectorTabs li.selected a:visited span {
	color: #260e9c;
}

html .thumbimage,
#toc, .toc, .mw-warning, div.thumbinner {
	border-color: #cccccc;
	background-color: #f7f7f7;
}

/* Framework */
body {
	background-color: #f9f9f9 !important;
	background-image:url(images/page-base-updated.png);
}

/* Links */
a {
	color: #0000cc;
}
a:visited {
	color: #004d99;
}
a:active {
	color: #ff6600;
}
a.stub {
	color: #56228b;
}
a.new, #p-personal a.new {
	color: #a31205 !important;
}
a.new:visited, #p-personal a.new:visited {
	color: #a31205;
}

#firstHeading {
	font-size:1.5em;
}
h2 .editsection,
.portal h5 {
	font-weight:normal;
}
#toc h2, .toc h2 {
	font-weight:normal;
}
body #mw-panel div.portal div.body {
	background-image:url(images/new-portal-break-ltr.png);
}

div.vectorTabs li.new a, 
div.vectorTabs li.new a span, 
div.vectorTabs li.new a:visited, 
div.vectorTabs li.new a:visited span {
	color:#a31205;
}
#toc,
.toc,
.mw-warning,
div.gallerybox div.thumb,
table.gallery,
#preferences fieldset.prefsection fieldset,
#preferences,
html .thumbimage,
.usermessage,
img.thumbborder,
div.thumbinner {
	border: 1px solid #cccccc;
	background-color: #f7f7f7;
}
#mw-panel div.portal h5 {
	font-weight:bold;
	margin-bottom:0;
	padding-bottom:0.05em;
	color:#000000;
}
div.vectorTabs li.selected a,
div.vectorTabs li.selected a span,
div.vectorTabs li.selected a:visited
div.vectorTabs li.selected a:visited span {
	color: #333333 !important;
}