/* js pref toc */
#preftoc { float: right; }
/* workaround for moz bug, displayed bullets on left side */
#preftoc li { list-style: none; }
#prefcontrol { float: right; }
fieldset.prefsection,
fieldset.operaprefsection { 
    margin-left: 0;
    margin-right: 18em;
}
/* page history */
#pagehistory span.user { 
    margin-right: 1.4em;
    margin-left: 0.4em;
}
.editsection {
	float: left;
	margin-right: 5px;
}