/*
** MediaWiki style sheet for general styles on basic content elements
*/

/* Links */
a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}
a:visited {
	color: #0b0080;
}
a:active {
	color: #faa700;
}
a:hover, a:focus {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

/* Interwiki Styling */
.mw-body a.extiw,
.mw-body a.extiw:active {
	color: #36b;
}
.mw-body a.extiw:visited {
	color: #636;
}
.mw-body a.extiw:active {
	color: #b63;
}

/* External links */
.mw-body a.external {
	color: #36b;
}
.mw-body a.external:visited {
	color: #636; /* bug 3112 */
}
.mw-body a.external:active {
	color: #b63;
}

/* Inline Elements */
img {
	border: none;
	vertical-align: middle;
}
hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0;
}

/* Structural Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
	width: auto;
}
h1 {
	font-size: 188%;
}
h1 .editsection {
	font-size: 53%;
}
h2 {
	font-size: 150%;
}
h2 .editsection {
	font-size: 67%;
}
h3,
h4,
h5,
h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 {
	font-size: 132%;
}
h3 .editsection {
	font-size: 76%;
	font-weight: normal;
}
h4 {
	font-size: 116%;
}
h4 .editsection {
	font-size: 86%;
	font-weight: normal; }
h5 {
	font-size: 100%;
}
h5 .editsection {
	font-weight: normal;
}
h6 {
	font-size: 80%;
}
h6 .editsection {
	font-size: 125%;
	font-weight: normal;
}

/* Some space under the headers in the content area */
h1,
h2 {
	margin-bottom: .6em;
}
h3,
h4,
h5 {
	margin-bottom: .3em;
}

p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
p img {
	margin: 0;
}

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.6em;
	padding: 0;
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 1.6em;
	margin-bottom: .1em;
}

q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* Disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
pre, code, tt, kbd, samp {
	/*
	 * Some browsers will render the monospace text too small, namely Firefox, Chrome and Safari.
	 * Specifying any valid, second value will trigger correct behaviour without forcing a different font.
	 */
	font-family: monospace, Courier;
}
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
}

/* Tables */
table {
	font-size: 100%;
}

/* Forms */
fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}
textarea {
	width: 100%;
	padding: .1em;
}
select {
	vertical-align: top;
}

/* Emulate Center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* Small for tables and similar */
.small {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

