/*
** MediaWiki style sheet for common core styles on interfaces
*/

/* Categories */
.catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}

/* User Message */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}

/* Site Notice (includes notices from CentralNotice extension) */
#siteNotice {
	position: relative;
	text-align: center;
	margin: 0;
}
#localNotice {
	margin-bottom: 0.9em;
}

/* First h1 */
.firstHeading,
#firstHeading {
	margin-bottom: .1em;
	/* These two rules hack around bug 2013 (fix for more limited bug 11325).
	 * When bug 2013 is fixed properly, they should be removed. */
	line-height: 1.2em;
	padding-bottom: 0;
}

/* Sub-navigation */
#siteSub {
	display: none;
}
#jump-to-nav {
	/* Negate #contentSub's margin and replicate it so that the jump to links don't affect the spacing */
	margin-top: -1.4em;
	margin-bottom: 1.4em
}
#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}

