.env-check {
	font-size: 90%;
	margin: 1em 0 1em 2.5em;
}

.config-section {
	margin-top: 2em;
}
.config-block {
	margin-top: 2em;
	display: block;
	
}
.config-block-label {
	display: block;
	margin-bottom: .2em;
}
.config-block-label label, .config-label {
	font-weight: bold;
	padding-right: .5em;
	padding-top: .2em;
}
.config-block-elements {
	margin-left: 2em;
}
.config-block-elements li {
	list-style: none;
}
.config-input {
	clear: left;
	zoom: 100%; /* IE hack */
}

.config-page-wrapper {
	padding: 0.5em;
}

.config-page-list {
	float: right;
	width: 12em;
	border: 1px solid #aaa;
	background: #fff;
	padding: 0.5em;
	/* 3em left margin to leave space between the list and the page-content */
	margin: 0.5em 0.5em 0.5em 3.5em;
}

.config-page {
	padding: 0.5em 0.5em 0.5em 2em;
	margin: 0.5em 0.5em 0.5em 0.5em;
	background: #eee;
}

.config-submit {
	clear: left;
	text-align: center;
	padding: 1em;
}

.config-submit input {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.config-page-disabled {
	color: #aaa;
}

.config-error-box {
	border: 2px solid #f00;
	margin: 0.4em;
	clear: left;
}

.config-warning-box {
	border: 2px solid #ff7f00;
	margin: 0.4em;
	clear: left;
}

.config-info-left {
	margin: 7px;
	float: left;
	width: 35px;
}

.config-info-right {
	margin: 0.5em 0.5em 0.5em 49px;
}

.config-page-current {
	font-weight: bold;
}

.config-message {
	display: list-item;
	line-height: 1.5em;
	list-style-image: url(images/bullet.gif);
	list-style-type: square;
}

.config-input-text {
	width: 20em;
	margin-right: 1em;
}

.config-input-check {
	margin-left: 10em;
}

.error {
	color: red;
	background-color: #fff;
	font-weight: bold;
	left: 1em;
	font-size: 100%;
}

.config-settings-block {
	list-style-type: none;
	list-style-image: none;
	float: left;
	margin: 0;
	padding: 0;
}

.btn-install {
	font-weight: bold;
	font-size: 110%;
	padding: .2em .3em;
}

.success-message {
	font-weight: bold;
	font-size: 110%;
	color: green;
}
.success-box {
	font-size: 130%;
}

.config-cc-wrapper {
	clear: left;
	/* If you change this height, also change it in WebInstaller_Options::submitCC() */
	height: 54em; 
}

.config-plainlink a {
	background: none !important;
	padding: 0 !important;
}

#config-memcachewrapper {
	display: none;
}
