span.mw-password-bad {
	background: red;
	color: yellow;
	font-weight: bold;
}

.mw-password-mediocre {
	background: yellow;
}

.mw-password-acceptable {
	background: silver;
}

.mw-password-good {
	background: green;
}