/**
 * CSS in this file is used by *all* skins (that have any CSS at all).  Be
 * careful what you put in here, since what looks good in one skin may not in
 * another, but don't ignore the poor pre-Monobook users either.
 */

/* Colored watchlist and recent changes numbers */
.mw-plusminus-pos { color: #006400; } /* dark green */
.mw-plusminus-neg { color: #8b0000; } /* dark red */
.mw-plusminus-null { color: #aaa; } /* gray */

/* Links to redirects appear italicized on [[Special:AllPages]], [[Special:PrefixIndex]],
   [[Special:Watchlist/edit]] and in category listings */
.allpagesredirect, .redirect-in-category, .watchlistredir {
	font-style: italic;
}

/* Comment and username portions of RC entries */
span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

/* Math */
.texvc {
	direction: ltr;
	unicode-bidi: embed;
}
img.tex { vertical-align: middle; }
span.texhtml { font-family: serif; }

/* add a bit of margin space between the preview and the toolbar */
/* this replaces the ugly <p><br /></p> we used to insert into the page source */
#wikiPreview.ontop { margin-bottom: 1em; }

/* Stop floats from intruding into edit area in previews */
#editform, #toolbar, #wpTextbox1 {
	clear: both;
}

div#mw-js-message {
	margin: 1em 5%;
	padding: 0.5em 2.5%;
	border: solid 1px #ddd;
	background-color: #fcfcfc;
}

/* Edit section links */
.editsection {
	float: right;
	margin-left: 5px;
}

/**
 * File histories
 */
h2#filehistory {
	clear: both;
}

table.filehistory th,
table.filehistory td {
	vertical-align: top;
}
table.filehistory th {
	text-align: left;
}
table.filehistory td.mw-imagepage-filesize,
table.filehistory th.mw-imagepage-filesize {
	white-space: nowrap;
}

table.filehistory td.filehistory-selected {
	font-weight: bold;
}

/*
 * rev_deleted stuff
 */
li span.deleted, span.history-deleted {
	text-decoration: line-through;
	color: #888;
	font-style: italic;
}

/**
 * Patrol stuff
 */
.not-patrolled {
	background-color: #ffa;
}

.unpatrolled {
	font-weight: bold;
	color: red;
}

div.patrollink {
	font-size: 75%;
	text-align: right;
}

/**
 * Forms
 */
td.mw-label { text-align: right; }
td.mw-input { text-align: left; }
td.mw-submit { text-align: left; }

td.mw-label { vertical-align: top; }
.prefsection td.mw-label { width: 20%; }
.prefsection table { width: 100%; }
td.mw-submit { white-space: nowrap; }

table.mw-htmlform-nolabel td.mw-label {
	width: 0 !important;
}

tr.mw-htmlform-vertical-label td.mw-label {
	text-align: left !important;
}

.mw-htmlform-invalid-input td.mw-input input {
	border-color: red;
}
.mw-htmlform-multiselect-flatlist div.mw-htmlform-multiselect-item {
	display: inline;
	margin-right: 1em;
	white-space: nowrap;
}

input#wpSummary {
	width: 80%;
}

/**
 * Image captions
 */
.thumbcaption { text-align: left; }
.magnify { float: right; }

/**
 * Hidden categories
 */
.mw-hidden-cats-hidden { display: none; }
.catlinks-allhidden { display: none; }

/* Convenience links to edit block, delete and protect reasons */
p.mw-ipb-conveniencelinks, p.mw-protect-editreasons,
p.mw-filedelete-editreasons, p.mw-delete-editreasons,
p.mw-revdel-editreasons {
	font-size: 90%;
	float: right;
}

/*
 * OpenSearch ajax suggestions
 */
.os-suggest {
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	background-color: white;
	background-color: Window;
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	z-index:99;
	font-size:95%;
}

table.os-suggest-results {
	font-size: 95%;
	cursor: pointer;
	border: 0;
	border-collapse: collapse;
	width: 100%;
}

.os-suggest-result, .os-suggest-result-hl {
	white-space: nowrap;
	background-color: white;
	background-color: Window;
	color: black;
	color: WindowText;
	padding: 2px;
}
.os-suggest-result-hl,
.os-suggest-result-hl-webkit {
	background-color: #4C59A6;
	color: white;
}
.os-suggest-result-hl {
	/* System colors are misimplemented in Safari 3.0 and earlier,
	   making highlighted text illegible... */
	background-color: Highlight;
	color: HighlightText;
}

.os-suggest-toggle {
	position: relative;
	left: 1ex;
	font-size: 65%;
}
.os-suggest-toggle-def {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 65%;
	visibility: hidden;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment { color: gray; }
#pagehistory .history-user {
	margin-left: 0.4em;
	margin-right: 0.2em;
}
#pagehistory span.minor {
	font-weight: bold;
}
#pagehistory li {
	border: 1px solid white;
}
#pagehistory li.selected {
	background-color: #f9f9f9;
	border: 1px dashed #aaa;
}

/** Generic minor/bot/newpage styling */
.newpage, .minor, .bot {
	font-weight: bold;
}

#shared-image-dup, #shared-image-conflict {
	font-style: italic;
}

/*
 * Recreating deleted page warning
 * Reupload file warning
 * Page protection warning
 * incl. log entries for these warnings
 */
div.mw-warning-with-logexcerpt {
	padding: 3px;
	margin-bottom: 3px;
	border: 2px solid #2F6FAB;
	clear: both;
}
div.mw-warning-with-logexcerpt ul li {
	font-size: 90%;
}

/* (show/hide) revision deletion links */
span.mw-revdelundel-link,
strong.mw-revdelundel-link {
	font-size: 90%;
}
span.mw-revdelundel-hidden,
input.mw-revdelundel-hidden {
	visibility: hidden;
}

td.mw-revdel-checkbox, th.mw-revdel-checkbox {
	padding-right: 10px;
	text-align: center;
}

/* feed links */
a.feedlink {
	/* @embed */
	background: url("images/feed-icon.png") center left no-repeat;
	padding-left: 16px;
}

/* Plainlinks - this can be used to switch
 * off special external link styling */
.plainlinks a {
	background: none !important;
	padding: 0 !important;
}

/* wikitable class for skinning normal tables
 * keep on sync with commonPrint.css
 */
table.wikitable {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}
.wikitable th, .wikitable td {
	border: 1px #aaa solid;
	padding: 0.2em;
}
.wikitable th {
	background: #f2f2f2;
	text-align: center;
}
.wikitable caption {
	font-weight: bold;
}

/* hide initially collapsed collapsable tables */
table.collapsed tr.collapsable {
	display: none;
}

/* success and error messages */
.success {
	color: green;
	font-size: larger;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

/* Note on preview page */
.previewnote {
	color: #c00;
	margin-bottom: 1em;
}

.previewnote p {
	text-indent: 3em;
	margin: 0.8em 0;
}

.visualClear {
	clear: both;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}

/*
	Table pager (e.g. Special:ListFiles)
	- remove underlines from the navigation link
	- collapse borders
	- set the borders to outsets (similar to Special:AllMessages)
	- remove line wrapping for all td and th, set background color
	- restore line wrapping for the last two table cells (description and size)
*/
.TablePager {
	min-width: 80%;
	border-collapse: collapse;
}
.TablePager_nav a {
	text-decoration: none;
}
.TablePager, .TablePager td, .TablePager th {
	border: 1px solid #aaaaaa;
	padding: 0 0.15em 0 0.15em;
}
.TablePager th {
	background-color: #eeeeff;
}
.TablePager td {
	background-color: #ffffff;
}
.TablePager tr:hover td {
	background-color: #eeeeff;
}

.imagelist td, .imagelist th {
	white-space: nowrap;
}
.imagelist .TablePager_col_links {
	background-color: #eeeeff;
}
.imagelist .TablePager_col_img_description {
	white-space: normal;
}
.imagelist th.TablePager_sort {
	background-color: #ccccff;
}

/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

/* Galleries */
/* These display attributes look nonsensical, but are needed to support IE and FF2 */
/* Don't forget to update commonPrint.css */
li.gallerybox {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px white;
	display: -moz-inline-box;
	display: inline-block;
}

ul.gallery, li.gallerybox {
	zoom: 1;
	*display: inline;
}

ul.gallery {
	margin: 2px;
	padding: 2px;
	display: block;
}

li.gallerycaption {
	font-weight: bold;
	text-align: center;
	display: block;
	word-wrap: break-word;
}

li.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	overflow: hidden;
	font-size: 94%;
	padding: 2px 4px;
	word-wrap: break-word;
}

#mw-addcategory-prompt {
	display: inline;
	margin-left: 1em;
}

#mw-addcategory-prompt input {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.mw-remove-category {
	padding: 8px;
	/* @embed */
	background-image: url(images/remove.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.mw-ajax-addcategory {
	padding-left: 20px;
	/* @embed */
	background-image: url(images/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.mw-ajax-loader {
	/* @embed */
	background-image: url(images/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16px;
	position: relative;
	top: -16px;
}

.mw-small-spinner {
	padding: 10px !important;
	margin-right: 0.6em;
	/* @embed */
	background-image: url(images/spinner.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

/* Sort arrows added by SortableTables */
a.sortheader {
	margin: 0 0.3em;
}

/* Localised ordered list numbering for some languages */
ol:lang(bcc) li,
ol:lang(bqi) li,
ol:lang(fa) li,
ol:lang(glk) li,
ol:lang(kk-arab) li,
ol:lang(mzn) li {
	list-style-type: -moz-persian;
	list-style-type: persian;
}

ol:lang(ckb) li {
	list-style-type: -moz-arabic-indic;
	list-style-type: arabic-indic;
}

ol:lang(bn) li {
	list-style-type: -moz-bengali;
	list-style-type: bengali;
}

ol:lang(or) li {
	list-style-type: -moz-oriya;
	list-style-type: oriya;
}

/* tooltip styles */
.mw-help-field-hint {
	display: none;
	padding: 0px;
	padding-left: 15px;
	margin-left: 2px;
	margin-bottom: -8px;
	/* @embed */
	background-image: url('images/help-question.gif');
	background-position: left center;
	background-repeat: no-repeat;
	color: #0645ad;
	text-decoration: underline;
	cursor: pointer;
	font-size: .8em;
}
.mw-help-field-hint:hover {
	/* @embed */
	background-image: url('images/help-question-hover.gif');
}
.mw-help-field-data {
	display: block;
	background-color: #d6f3ff;
	padding:5px 8px 4px 8px;
	border: 1px solid #5dc9f4;
	margin-left: 20px;
}
.tipsy {
	padding: 5px 5px 10px;
	font-size: 12px;
	position: absolute;
	z-index: 100000;
	overflow: visible;
}
.tipsy-inner {
	padding: 5px 8px 4px 8px;
	background-color: #d6f3ff;
	color: black;
	border: 1px solid #5dc9f4;
	max-width: 300px;
	text-align: left;
}
.tipsy-arrow {
	position: absolute;
	/* @embed */
	background: url(images/tipsy-arrow.gif) no-repeat top left;
	width: 13px;
	height: 13px;
}
.tipsy-se .tipsy-arrow {
	bottom: -2px;
	right: 10px;
	background-position: 0% 100%;
}
