/* IE5.5/win- only fixes */

/* slightly smaller top margin for the content area */


#portal-personaltools {
    padding-bottom: 0.1em;
}

body {
    font-size: xx-small;
}
/*#portlet-contentViews {
    left: 11.4em;
    z-index: 3;
}*/

#portlet-contentViews li.selected {
    background-color: White;
}
#portal-column-content #content {
    margin-top: 1.9em;
    padding-top: 0.3em;
}
#portlet-contentViews li a,
#portlet-contentViews .selected a,
#portlet-contentViews li a:hover {
    padding-bottom: 0.1em;
}
#portlet-contentViews li a {
    z-index: 0 !important;
}
.portlet {
    overflow:hidden;
}
