/* stylelint-disable-next-line selector-class-pattern */
.hlist {
	dl,
	ol,
	ul {
		margin: 0;
		padding: 0;

		dl,
		ol,
		ul {
			display: inline;
		}
	}

	dd,
	dt,
	li {
		margin: 0;
		display: inline;
	}
}
