/* Basic support for desktop-small and -mid because IE9 doesn't do flexbox */
/* Mobile/desktop-full would need a bit more, but nobody cares */
#p-search {
	margin-left: 14em;
	margin-right: 16em;
}

#p-logo-text {
	width: 14em;
	float: left;
}

#user-tools {
	width: 16em;
	float: right;
}
