@import 'variables.less';

// Three-column layout

#mw-content-block {
    .flex-display;
    clear: both;
}

#p-logo-text {
    min-width: 14em;
}

#mw-site-navigation {
    .column-left();
    .flex(0, 0, 14em, 1);
}

#mw-content-wrapper {
    .flex(1, 1, auto, 2);
    // Make word wrapping, max-width percentages, etc work with the above flex
    min-width: 50%;
}

#mw-related-navigation {
    .column-right();
    .flex(0, 0, 14em, 3);
}

// Redundant content category list
#catlinks {
    display: none;
}

// For the more responsive username support
#user-tools {
    min-width: 14em;
}
