body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: serif;
}

#specialform {
	display: inline;
}

#content {
	top: 0;
	margin: 0;
	padding: 0;
}

#mw-data-after-content {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	font-size: 8pt;
}

#powersearch {
	background: #DDEEFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

#quickbar {
	width: 140px;
	top: 18ex;
	padding: 2px;
	visibility: visible;
	z-index: 99;
}

#article, #article td, #article th, #article p {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	color: black;
}

#article p {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 1ex;
	margin-bottom: 0;
}

p, pre, .mw-code, td, th, li, dd, dt {
	line-height: 12pt;
}

textarea {
	overflow: auto;
	width: 100%;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#footer {
	margin-right: 2%;
	margin-top: 1em;
	padding: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

#footer form {
	display: inline;
}

#cb-ca-edit {
	font-weight: bold;
}

#pagestats {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	font-size: 9pt;
}



#quickbar {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	line-height: 9.5pt;
	text-decoration: none;
	color: black;
	padding: 0;
	margin-top: 0;
}

#quickbar a {
	color: #446688;
}

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

#quickbar h3 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
	text-decoration: none;
	color: #666666;
	padding: 0;
	margin-bottom: 2px;
	margin-top: 6px;
}

#quickbar form {
	padding: 0;
	margin-top: 0;
}

#quickbar .portlet ul,
#quickbar .portlet li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: inherit;
}

div.after-portlet {
	display: inline;
	padding-left: .5em;
}

h1 {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: 180%;
	line-height: 21pt;
}

h1#firstHeading {
	padding-bottom: 0;
	margin-bottom: 0;
}

#article p.subtitle, #article p.subpages, #article p.tagline {
	color: #666666;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 1ex;
}

a {
	color: #223366;
}

a.external {
	color: #336644;
}

a:visited {
	color: #8D0749;
}

a.printable {
	text-decoration: underline;
}

a.stub, #quickbar a.stub {
	color: #772233;
	text-decoration: none;
}

a.new, #quickbar span.new a, #footer span.new a {
	color: #CC2200;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

small {
	font-size: 75%;
}

input.mw-searchInput {
	width: 106px;
}

/* Directionality-specific styles */
#quickbar { position: absolute; left: 4px; }
#article { margin-left: 148px; margin-right: 4px; }
#footer { margin-left: 152px; }


#sitetitle, #sitesub, #toplinks, #linkcollection {
	margin-top: 0;
	margin-bottom: 0;
}

#sitetitle, #toplinks {
	color: white;
	text-transform: uppercase;
	height: 32pt;
}
#sitetitle {
	padding-left: 8px;
	font-family: Times, serif;
	font-weight: normal;
	font-size: 32pt;
	line-height: 32pt;
	background-color: #6688AA;
}
#sitetitle a, #toplinks a {
	color: white;
	text-decoration: none;
}
/* Bring #sitetitle to top. Otherwise #toplinks is overlaid over it, making the link unclickable. */
#sitetitle a {
	position: relative;
	z-index: 10
}

#toplinks {
	font-family: Verdana, Arial, sans-serif;
	position: absolute;
	top: 0;
	right: 8px;
	width: 100%;
	font-size: 8pt;
}
#toplinks a {
	font-size: 10pt;
}
#toplinks p {
	position: absolute;
	right: 0;
	margin: 0;
	width: 100%;
	text-align: right;
}
#toplinks #syslinks {
	bottom: 0;
}
#toplinks #variantlinks {
	bottom: 12pt;
}

#sitesub {
	float: left;
	margin-left: 8px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: black;
}

#linkcollection {
	margin-top: 0.5em;
	font-size: small;
	margin-right: 8px;
	text-align: right;
	padding-left: 140px;
}
/* Override text justification (user preference), see bug 31990 */
#linkcollection * {
	text-align: right;
}
