@charset "UTF-8";
/**
 * Provide Agora appearance for mw-ui-* classes when using a skin other than
 * Vector.
 * Compass builds these Agora styles from source Sass files in
 * extensions/Agora/modules/scss
 */
/* _effects.scss */
/* Mixins for visual effects in CSS3 */
/* line 7, sourcefiles/scss/components/_utilities.scss */
.mw-ui-flush-left {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

/* line 11, sourcefiles/scss/components/_utilities.scss */
.mw-ui-flush-right {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

/* line 15, sourcefiles/scss/components/_utilities.scss */
.mw-ui-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 4, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.4em 1em 0.4em 1em;
  margin: 0;
  background-color: #c9c9c9;
  *background-color: #c9c9c9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDCDCDC', endColorstr='#FFC9C9C9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #c9c9c9);
  background-image: -moz-linear-gradient(top, #dcdcdc, #c9c9c9);
  background-image: -o-linear-gradient(top, #dcdcdc, #c9c9c9);
  background-image: linear-gradient(top, #dcdcdc, #c9c9c9);
  color: black;
  text-shadow: 0 1px 1px rgba(201, 201, 201, 0.3);
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
/* line 38, sourcefiles/scss/mixins/_effects.scss */
.mw-ui-button:hover, .mw-ui-button.mw-ui-hover {
  background-color: gainsboro;
  *background-color: gainsboro;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#FFDCDCDC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(top, #e9e9e9, #dcdcdc);
  background-image: -moz-linear-gradient(top, #e9e9e9, #dcdcdc);
  background-image: -o-linear-gradient(top, #e9e9e9, #dcdcdc);
  background-image: linear-gradient(top, #e9e9e9, #dcdcdc);
  text-decoration: none;
}
/* line 44, sourcefiles/scss/mixins/_effects.scss */
.mw-ui-button:active, .mw-ui-button.mw-ui-active {
  background-image: none;
  background-color: #c1c1c1;
  text-shadow: none;
}
/* line 54, sourcefiles/scss/mixins/_effects.scss */
.mw-ui-button:disabled, .mw-ui-button.mw-ui-disabled {
  background-image: none;
  background-color: #c9c9c9;
  opacity: 0.5;
  text-shadow: none;
}
/* line 30, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button:disabled, .mw-ui-button.mw-ui-disabled {
  cursor: default;
}
/* line 36, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button.mw-ui-big {
  font-size: 1.3em;
}
/* line 41, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button.mw-ui-block {
  display: block;
  width: 100%;
}

/* line 49, sourcefiles/scss/components/default/_buttons.scss */
a.mw-ui-button {
  text-decoration: none;
}

/* line 56, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button-group > * {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
}
/* line 60, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button-group > *:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 65, sourcefiles/scss/components/default/_buttons.scss */
.mw-ui-button-group > *:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 14, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 290px;
}
/* line 20, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform > div {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  width: 100%;
}
/* line 28, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform > div input,
.mw-ui-vform > div .mw-ui-button {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
/* line 37, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform > div input:not([type=button]):not([type=submit]):not([type=file]) {
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  color: #252525;
  padding: 0.35em 0 0.35em 0.5em;
}
/* line 11, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-vform > div input:not([type=button]):not([type=submit]):not([type=file]):focus {
  box-shadow: #4091ed 0px 0px 5px;
  border-color: #4091ed;
}
/* line 13, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-vform > div input:not([type=button]):not([type=submit]):not([type=file]):focus:not([type=checkbox]):not([type=radio]) {
  outline: 0;
}
/* line 41, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform > div label {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  color: #4a4a4a;
  width: auto;
  margin: 0 0 0.2em 0;
  padding: 0;
}
/* line 38, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-vform > div label * {
  font-weight: normal;
}
/* line 52, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform > div input[type="checkbox"],
.mw-ui-vform > div input[type="radio"] {
  display: inline;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
}
/* line 63, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform .error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  color: #cc0000;
  border: 1px solid #fac5c5;
  background-color: #fae3e3;
  text-shadow: 0 1px #fae3e3;
  word-wrap: break-word;
}

/* line 86, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-vform-div {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  width: 100%;
}

/* line 96, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-input {
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  color: #252525;
  padding: 0.35em 0 0.35em 0.5em;
}
/* line 11, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-input:focus {
  box-shadow: #4091ed 0px 0px 5px;
  border-color: #4091ed;
}
/* line 13, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-input:focus:not([type=checkbox]):not([type=radio]) {
  outline: 0;
}

/* line 103, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-label {
  font-size: 0.9em;
  color: #4a4a4a;
}
/* line 38, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-label * {
  font-weight: normal;
}

/* line 112, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-checkbox-label, .mw-ui-radio-label {
  margin-bottom: 0.5em;
  cursor: pointer;
  vertical-align: bottom;
  line-height: normal;
  font-weight: normal;
}
/* line 54, sourcefiles/scss/mixins/_forms.scss */
.mw-ui-checkbox-label > input[type="checkbox"], .mw-ui-checkbox-label > input[type="radio"], .mw-ui-radio-label > input[type="checkbox"], .mw-ui-radio-label > input[type="radio"] {
  width: auto;
  height: auto;
  margin: 0 0.1em 0em 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  cursor: pointer;
}
