/* Agora styles, default with vector stuff removed. */
/* _effects.scss */
/* Mixins for visual effects in CSS3 */
/* line 7, ../scss/components/_utilities.scss */
.mw-ui-flush-left {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

/* line 11, ../scss/components/_utilities.scss */
.mw-ui-flush-right {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

/* line 15, ../scss/components/_utilities.scss */
.mw-ui-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* no buttons?
button.mw-ui-button, input[type="submit"].mw-ui-button, a.mw-ui-button 
button.mw-ui-button:hover, button.mw-ui-button.hover, input[type="submit"].mw-ui-button:hover, input[type="submit"].mw-ui-button.hover, a.mw-ui-button:hover, a.mw-ui-button.hover 
*/

/* line 7, ../scss/components/_forms.scss */
ul.mw-ui-formlist {
  list-style: none;
  list-style-image: none;
}
/* line 16, ../scss/components/_forms.scss */
ul.mw-ui-formlist li {
  display: block;
  width: 100%;
}
/* line 25, ../scss/components/_forms.scss */
ul.mw-ui-formlist li input,
ul.mw-ui-formlist li label,
ul.mw-ui-formlist li .mw-ui-button {
  margin: 0;
  width: 100%;
}
/* nothing about labels or checkboxes
ul.mw-ui-formlist li label
ul.mw-ui-formlist li label.mw-ui-checkbox-label > input[type="checkbox"], ul.mw-ui-formlist li label.mw-ui-checkbox-label > input[type="radio"], ul.mw-ui-formlist li label.mw-ui-radio-label > input[type="checkbox"], ul.mw-ui-formlist li label.mw-ui-radio-label > input[type="radio"] 
*/
