# Upstream code
/resources/lib/
/resources/src/mediawiki.libs.jpegmeta/

# Skip functions
/resources/src/skip-*

# Build tooling
/docs/coverage/
/docs/html/
/docs/js/
/docs/latex/
/vendor/
/tests/coverage/

# Test data
/tests/phpunit/data/registration/duplicate_keys.json
/tests/phpunit/data/resourceloader/codex/
/tests/phpunit/data/resourceloader/codex-devmode/
/tests/phpunit/data/SelserContext/*.json
/tests/phpunit/data/PageEditStashContents/*.json
/tests/phpunit/unit/includes/Settings/Source/fixtures/bad.json
/tests/phpunit/**/*malformed*.json
/maintenance/benchmarks/data/

# Nested projects
/extensions/
/skins/

# Language files written automatically by TranslateWiki
/**/i18n/**/*.json
!/**/i18n/**/en.json
!/**/i18n/**/qqq.json

# Ignore directories where MW may write internal files (T291674)
# Ref $wgCacheDirectory (installer)
# Ref $wgUploadDirectory (run-time default)
/cache/
/images/
