[submodule "extensions/CheckUser"]
	path = extensions/CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser.git
	branch = REL1_25
[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
	branch = REL1_25
[submodule "extensions/CentralAuth"]
	path = extensions/CentralAuth
	url = https://github.com/wikimedia/mediawiki-extensions-CentralAuth
	branch = REL1_25
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions
	branch = REL1_25
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-TitleBlacklist
	branch = REL1_25
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-SpamBlacklist
	branch = REL1_25
