.svn
*~
*.kate-swp
.classpath
.idea
.metadata*
.project
.settings
AdminSettings.php
LocalSettings.php
StartProfiler.php
cscope.files
cscope.out
favicon.ico
nbproject*
project.index
static*
tags
cache/*.cdb
images/[0-9a-f]
images/temp
images/thumb
maintenance/dev/data/
maintenance/.mweval_history
maintenance/.mwsql_history
