[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cite
	branch = REL1_27
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CiteThisPage
	branch = REL1_27
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ConfirmEdit
	branch = REL1_27
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Gadgets
	branch = REL1_27
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ImageMap
	branch = REL1_27
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/InputBox
	branch = REL1_27
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Interwiki
	branch = REL1_27
[submodule "extensions/LocalisationUpdate"]
	path = extensions/LocalisationUpdate
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LocalisationUpdate
	branch = REL1_27
[submodule "extengit"]
	path = extengit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
	branch = REL1_27
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
	branch = REL1_27
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ParserFunctions
	branch = REL1_27
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PdfHandler
	branch = REL1_27
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Poem
	branch = REL1_27
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Renameuser
	branch = REL1_27
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SpamBlacklist
	branch = REL1_27
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
	branch = REL1_27
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleBlacklist
	branch = REL1_27
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
	branch = REL1_27
[submodule "skins/CologneBlue"]
	path = skins/CologneBlue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/CologneBlue
	branch = REL1_27
[submodule "skins/Modern"]
	path = skins/Modern
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Modern
	branch = REL1_27
[submodule "skins/MonoBook"]
	path = skins/MonoBook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MonoBook
	branch = REL1_27
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Vector
	branch = REL1_27
[submodule "vendor"]
	path = vendor
	url = https://gerrit.wikimedia.org/r/mediawiki/vendor
	branch = REL1_27
