*.sh eol=lf
*.icc binary
*.webp binary
*.mp3 binary
*.map.json binary
*~ export-ignore
#*# export-ignore
.* export-ignore
*.htaccess -export-ignore
package.json export-ignore
package-lock.json export-ignore
Gruntfile.js export-ignore
Gemfile* export-ignore
vendor/pear/net_smtp/README.rst export-ignore
phpunit.xml.dist export-ignore
DEVELOPERS.md export-ignore
docker-compose.yml export-ignore
