[BOT] Gerrit Patch Uploader <gerritpatchuploader@gmail.com>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
Aaron Schulz <aschulz@wikimedia.org>
Aaron Schulz <aschulz@wikimedia.org> <aaron@users.mediawiki.org>
Adam Roses Wight <awight@wikimedia.org>
addshore <addshorewiki@gmail.com>
Adrian Heine <adrian.heine@wikimedia.de>
Alex Monk <krenair@gmail.com>
Alex Monk <krenair@gmail.com> <krenair@wikimedia.org>
Alex Z <mrzmanwiki@gmail.com> <mrzman@users.mediawiki.org>
Alexander Emsenhuber <ialex.wiki@gmail.com>
Alexander Emsenhuber <ialex.wiki@gmail.com> <ialex@users.mediawiki.org>
Alexander Emsenhuber <ialex.wiki@gmail.com> <mediawiki@emsenhuber.ch>
Alexia E. Smith <washuu@gmail.com>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il> <amire80@users.mediawiki.org>
Anders Wegge Jakobsen <awegge@gmail.com> <wegge@users.mediawiki.org>
Andre Engels <andreengels@gmail.com> <a_engels@users.mediawiki.org>
Andrew Garrett <agarrett@wikimedia.org> <werdna@users.mediawiki.org>
Angela Beesley Starling <wiki@nge.la> <angelab@users.mediawiki.org>
Antoine Musso <hashar@free.fr>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
Aran Dunkley <aran@organicdesign.co.nz> <nad@users.mediawiki.org>
Ariel Glenn <ariel@wikimedia.org> <ariel@users.mediawiki.org>
Arlo Breault <abreault@wikimedia.org>
Arthur Richards <arichards@wikimedia.org> <awjrichards@users.mediawiki.org>
Aryeh Gregor <simetrical+mw@gmail.com> <simetrical@users.mediawiki.org>
Asher Feldman <afeldman@wikimedia.org> <asher@users.mediawiki.org>
aude <aude.wiki@gmail.com>
Audrey Tang <audreyt@audreyt.org>
Audrey Tang <audreyt@audreyt.org> <au@localhost>
ayush_garg <ayush.ce13@iitp.ac.in>
Bahodir Mansurov <bmansurov@wikimedia.org>
Bartosz Dziewoński <matma.rex@gmail.com>
Bartosz Dziewoński <matma.rex@gmail.com> <matmarex@wikimedia.org>
Bartosz Dziewoński <matma.rex@gmail.com> <bdziewonski@wikimedia.org>
Ben Hartshorne <bhartshorne@wikimedia.org> <ben@users.mediawiki.org>
Bene <benestar.wikimedia@gmail.com>
Benjamin Lees <emufarmers@gmail.com> <emufarmers@users.mediawiki.org>
Benny Situ <bsitu@wikimedia.org> <bsitu@users.mediawiki.org>
Bertrand Grondin <bertrand.grondin@tiscali.fr> <grondin@users.mediawiki.org>
Brad Jorsch <bjorsch@wikimedia.org>
Brandon Harris <bharris@wikimedia.org> <bharris@users.mediawiki.org>
Brian Wolff <bawolff+svn@gmail.com> <bawolff@users.mediawiki.org>
Brian Wolff <bawolff+wn@gmail.com>
Brion Vibber <brion@wikimedia.org>
Brion Vibber <brion@wikimedia.org> <brion@pobox.com>
Brion Vibber <brion@wikimedia.org> <brion@users.mediawiki.org>
Bryan Davis <bd808@wikimedia.org>
Bryan Tong Minh <bryan.tongminh@gmail.com> <btongminh@users.mediawiki.org>
C. Scott Ananian <cscott@cscott.net>
C. Scott Ananian <cscott@cscott.net> <cananian@wikimedia.org>
cacycle@gerrit.wikimedia.org <cacyclewp@gmail.com>
cenarium <cenarium.sysop@gmail.com>
Chad Horohoe <chadh@wikimedia.org>
Chad Horohoe <chadh@wikimedia.org> <demon@users.mediawiki.org>
Charles Melbye <charlie@yourwiki.net> <charlie@users.mediawiki.org>
Chiefwei <chiefwei1989@gmail.com>
Chris McMahon <cmcmahon@wikimedia.org>
Chris Steipp <csteipp@wikimedia.org>
Christian Aistleitner <christian@quelltextlich.at> <qchris@users.mediawiki.org>
Christian Aistleitner <christian@quelltextlich.at>
Christian Williams <orbit@framezero.com>
Christian Williams <orbit@framezero.com> <christian@localhost>
Christian Williams <orbit@framezero.com> <christian@wikia-inc.com>
ckoerner <nobelx@gmail.com>
Conrad Irwin <conrad.irwin+wiki@gmail.com> <conrad@users.mediawiki.org>
Dan Duvall <dduvall@wikimedia.org>
dan-nl <d_entous@yahoo.com>
Daniel A. R. Werner <daniel.a.r.werner@gmail.com>
Daniel Cannon <cannon.danielc@gmail.com> <amidaniel@users.mediawiki.org>
Daniel Friesen <mediawiki@danielfriesen.name> <dantman@users.mediawiki.org>
Daniel Kinzler <daniel.kinzler@wikimedia.de>
Daniel Kinzler <daniel.kinzler@wikimedia.de> <daniel@users.mediawiki.org>
Danny B <Wikipedia.Danny.B@email.cz> <danny_b@users.mediawiki.org>
David Chan <david@sheetmusic.org.uk>
Derk-Jan Hartman <hartman@videolan.org> <hartman@users.mediawiki.org>
Derk-Jan Hartman <hartman.wiki@gmail.com>
Diederik van Liere <dvanliere@gmail.com> <diederik@users.mediawiki.org>
Domas Mituzas <domas.mituzas@gmail.com> <midom@users.mediawiki.org>
Douglas Gardner <douglas@chippy.ch>
DPStokesNZ <duncan.stokes@gmail.com>
Ebrahim Byagowi <ebrahim@gnu.org>
Ed Sanders <esanders@wikimedia.org>
Elliott Eggleston <ejegg@ejegg.com>
Emmanuel Engelhart <kelson@kiwix.org> <kelson42@users.mediawiki.org>
eranroz <eranroz89@gmail.com>
Erik Bernhardson <ebernhardson@wikimedia.org>
Erik Moeller <erik@wikimedia.org>
Erik Moeller <erik@wikimedia.org> <erik@users.mediawiki.org>
Erwin Dokter <erwin@darcoury.nl>
Evan McIntire <mcintire.evan@gmail.com>
Federico Leva <federicoleva@tiscali.it>
Fenzik Joseph <fenzik@gmail.com> <fenzik@users.mediawiki.org>
Florianschmidtwelzow <florian.schmidt.welzow@t-online.de> <florian.schmidt.stargatewissen@gmail.com>
Florianschmidtwelzow <florian.schmidt.welzow@t-online.de> Florian <florian.schmidt.welzow@t-online.de>
Fomafix <fomafix@googlemail.com>
Fran Rogers <fran@dumetella.net> <krimpet@users.mediawiki.org>
FunPika <funpikawiki@gmail.com>
Gabriel Wicke <gwicke@wikimedia.org>
Gabriel Wicke <gwicke@wikimedia.org> <gwicke@users.mediawiki.org>
Gabriel Wicke <gwicke@wikimedia.org> <wicke@wikidev.net>
Geoffrey Mon <geofbot@gmail.com>
Gergő Tisza <gtisza@wikimedia.org>
Gergő Tisza <gtisza@wikimedia.org> <tgr.huwiki@gmail.com>
Giftpflanze <gifti@tools.wmflabs.org>
Gilles Dubuc <gdubuc@wikimedia.org>
gladoscc <admin@glados.cc>
glaisher <glaisher.wiki@gmail.com>
Greg Sabino Mullane <greg@turnstep.com>
Greg Sabino Mullane <greg@turnstep.com> <greg@endpoint.com>
Greg Sabino Mullane <greg@turnstep.com> <greg@users.mediawiki.org>
Guy Van den Broeck <guyvdb@gmail.com> <guyvdb@users.mediawiki.org>
Happy-melon <happy-melon@live.com> <happy-melon@users.mediawiki.org>
Helder <he7d3r@gmail.com>
Helder <he7d3r@gmail.com> <helder.wiki@gmail.com>
Hoo man <hoo@online.de>
Huji <huji.huji@gmail.com> <huji@users.mediawiki.org>
Ian Baker <ibaker@wikimedia.org> <raindrift@users.mediawiki.org>
Ilmari Karonen <nospam@vyznev.net> <vyznev@users.mediawiki.org>
Inez Korczyński <inez@wikia-inc.com>
Inez Korczyński <inez@wikia-inc.com> <inez@users.mediawiki.org>
isarra <s@zaori.org>
Ivan Lanin <ivanlanin@gmail.com> <ivanlanin@users.mediawiki.org>
Jack Phoenix <jack@countervandalism.net> <ashley@users.mediawiki.org>
Jack Phoenix <jack@countervandalism.net>
Jackmcbarn <jackmcbarn@gmail.com>
Jackmcbarn <jackmcbarn@users.noreply.github.com>
jagori <jagori79@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Jan Gerber <j@thing.net> <j@users.mediawiki.org>
Jan Luca Naumann <jan@jans-seite.de> <jan@users.mediawiki.org>
Jan Paul Posma <jp.posma@gmail.com> <janpaul123@users.mediawiki.org>
Jan Zerebecki <jan.wikimedia@zerebecki.de>
Jaroslav Škarvada <jskarvad@redhat.com>
jarrettmunton <jmuntjmunt@gmail.com>
Jason Richey <jasonr@wikia.com> <jasonr@users.mediawiki.org>
Jeff Hall <jeffreyehall@gmail.com>
Jeff Hall <jeffreyehall@gmail.com> <jhall@wikimedia.org>
Jeff Janes <jeff.janes@gmail.com>
Jeremy Postlethwaite <jpostlethwaite@wikimedia.org> <jpostlethwaite@users.mediawiki.org>
Jeroen De Dauw <jeroendedauw@gmail.com>
Jeroen De Dauw <jeroendedauw@gmail.com> <jeroendedauw@users.mediawiki.org>
Jesús Martínez Novo <martineznovo@gmail.com>
Jiabao <jiabao.foss@gmail.com>
Jimmy Collins <jimmy.collins@web.de> <collinj@users.mediawiki.org>
John Du Hart <john@compwhizii.net> <johnduhart@users.mediawiki.org>
Jon Harald Søby <jhsoby@gmail.com> <jhsoby@users.mediawiki.org>
Jon Robson <jrobson@wikimedia.org>
Jon Robson <jrobson@wikimedia.org> <jdlrobson@gmail.com>
Juliusz Gonera <jgonera@gmail.com>
Juliusz Gonera <jgonera@gmail.com> <jgonera@wikimedia.org>
JuneHyeon Bae <devunt@gmail.com>
Jure Kajzer <freak@drajv.si> <freakolowsky@users.mediawiki.org>
Katie Filbert <aude.wiki@gmail.com> <aude@users.mediawiki.org>
Kevin Israel <pleasestand@live.com>
Kunal Mehta <legoktm@gmail.com>
Kunal Mehta <legoktm@gmail.com> <legoktm.wikipedia@gmail.com>
Kwan Ting Chan <ktc@ktchan.info> <ktchan@users.mediawiki.org>
lekshmi <andnlnbn18@gmail.com>
Leo Koppelkamm <diebuche@gmail.com> <diebuche@users.mediawiki.org>
Leon Weber <leon@vserver152.masterssystems.com> <leon@users.mediawiki.org>
Leonardo Gregianin <leogregianin@googlemail.com> <leogregianin@users.mediawiki.org>
Leons Petrazickis <leons.petrazickis.haveyouconsiderednotincludingthisphrase@gmail.com> <leonsp@users.mediawiki.org>
Liangent <liangent@gmail.com>
Lisa Ridley <lhridley@gmail.com> <lhridley@users.mediawiki.org>
Ljudusika <plo2000@i.ua>
Luis Felipe Schenone <schenonef@gmail.com>
m4tx <m4tx@m4tx.pl>
Magnus Manske <magnusmanske@googlemail.com> <magnusmanske@users.mediawiki.org>
Manuel Schneider <manuel.schneider@wikimedia.ch> <80686@users.mediawiki.org>
Marcin Cieślak <saper@saper.info> <saper@users.mediawiki.org>
Marielle Volz <marielle.volz@gmail.com>
Marius Hoch <hoo@online.de>
Mark A. Hershberger <mah@everybody.org>
Mark A. Hershberger <mah@everybody.org> <mah@nichework.com>
Mark A. Hershberger <mah@everybody.org> <mah@users.mediawiki.org>
Mark Clements <mediawiki@kennel17.co.uk> <happydog@users.mediawiki.org>
Mark Holmquist <mtraceur@member.fsf.org>
Marko Obrovac <mobrovac@wikimedia.org>
Matt Johnston <mattj@emazestudios.com> <mattj@users.mediawiki.org>
Matthew Britton <hugglegurch@gmail.com> <gurch@users.mediawiki.org>
Matthew Flaschen <mflaschen@wikimedia.org>
Matthias Mullie <git@mullie.eu>
Matěj Grabovský <mgrabovsky@yahoo.com> <mgrabovsky@users.mediawiki.org>
Max Semenik <maxsem.wiki@gmail.com>
Max Semenik <maxsem.wiki@gmail.com> <maxsem@users.mediawiki.org>
mgooley <g0013y@gmail.com>
Michael Dale <mdale@wikimedia.org> <dale@users.mediawiki.org>
mjbmr <mjbmri@gmail.com>
Mohamed Magdy <mohamedmk@gmail.com> <alnokta@users.mediawiki.org>
Moriel Schottlender <mschottlender@wikimedia.org>
Moriel Schottlender <mschottlender@wikimedia.org> <moriel@gmail.com>
Mormegil <mormegil@centrum.cz>
Mukunda Modell <mmodell@wikimedia.org>
MZMcBride <g@mzmcbride.com>
nadeesha <nadeesha@calcey.com> <nadeesha@users.mediawiki.org>
Namit <namit.ohri@gmail.com>
Nathaniel Herman <redwwjd@yahoo.com> <pinky@users.mediawiki.org>
Neil Kandalgaonkar <neilk@wikimedia.org> <neilk@users.mediawiki.org>
Nemo bis <federicoleva@tiscali.it>
Nephele <nephele@skyhighway.com> <nephele@users.mediawiki.org>
Nick Jenkins <nickpj@gmail.com> <nickj@users.mediawiki.org>
Nik Everett <neverett@wikimedia.org>
Niklas Laxström <niklas.laxstrom@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com> <nikerabbit@users.mediawiki.org>
Nimish Gautam <nimishg@wikimedia.org> <nimishg@users.mediawiki.org>
Nuria Ruiz <nuria@wikimedia.org>
Ori.livneh <ori@wikimedia.org>
OverlordQ <wikipedia@thedarkcitadel.com> <overlordq@users.mediawiki.org>
paladox <thomasmulhall410@yahoo.com>
Patrick Reilly <preilly@wikimedia.org> <preilly@users.mediawiki.org>
Patrick Westerhoff <PatrickWesterhoff@gmail.com>
Paul Copperman <paul.copperman@gmail.com> <pcopp@users.mediawiki.org>
Peter Coti <petercoti@gmail.com>
Peter Potrowl <peter017@gmail.com> <peter17@users.mediawiki.org>
Petr Kadlec <mormegil@centrum.cz>
Philip Tzou <philip.npc@gmail.com> <philip@users.mediawiki.org>
physikerwelt (Moritz Schubotz) <wiki@physikerwelt.de>
PiRSquared17 <pirsquared@tools.wmflabs.org>
Platonides <platonides@gmail.com> <platonides@users.mediawiki.org>
PranavK <pranavmk98@gmail.com>
Prateek Saxena <psaxena@wikimedia.org>
Prateek Saxena <psaxena@wikimedia.org> <prtksxna@gmail.com>
Priyanka Dhanda <pdhanda@wikimedia.org> <pdhanda@users.mediawiki.org>
Purodha B Blissenbach <purodha@blissenbach.org>
Purodha B Blissenbach <purodha@blissenbach.org> <purodha@users.mediawiki.org>
Purodha B Blissenbach <purodha@blissenbach.org> <publi@web.de>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Remember the dot <rememberthedot@gmail.com> <rememberthedot@users.mediawiki.org>
Reza <reza.energy@gmail.com>
Ricordisamoa <ricordisamoa@openmailbox.org>
rillke <rillke@wikipedia.de>
rillke <rillke@wikipedia.de> <rainerrillke@hotmail.com>
River Tarnell <river@wikimedia.org> <river@users.mediawiki.org>
River Tarnell <river@wikimedia.org> <kateturner@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com> <roan@wikimedia.org>
Rob Church <robchur@gmail.com> <robchurch@users.mediawiki.org>
Rob Lanphier <robla@robla.net> <robla@users.mediawiki.org>
Rob Moen <rmoen@mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@users.mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@wikimedia.org>
Robert Hoenig <indielives010@gmail.com>
Robert Leverington <robert@rhl.me.uk> <roberthl@users.mediawiki.org>
Robert Rohde <rarohde@gmail.com> <rarohde@users.mediawiki.org>
Robert Stojnić <rainmansr@gmail.com> <rainman@users.mediawiki.org>
Robin Pepermans <robinp.1273@gmail.com> <robin@users.mediawiki.org>
robinhood701 <robinhood70@live.ca>
Rohan <rohan1395@yahoo.com>
Rotem Liss <rotemliss@gmail.com> <rotem@users.mediawiki.org>
Rummana Yasmeen <ryasmeen@wikimedia.org>
Russ Nelson <russnelson@gmail.com> <nelson@users.mediawiki.org>
Ryan Kaldari <rkaldari@wikimedia.org> <kaldari@users.mediawiki.org>
Ryan Kaldari <rkaldari@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org> <kaldari@gmail.com>
Ryan Lane <rlane32@gmail.com> <laner@users.mediawiki.org>
Ryan Schmidt <skizzerz@gmail.com> <skizzerz@users.mediawiki.org>
S Page <spage@wikimedia.org>
Sam Reed <reedy@wikimedia.org>
Sam Reed <reedy@wikimedia.org> <reedy@users.mediawiki.org>
Sam Smith <git@samsmith.io>
Santhosh Thottingal <santhosh.thottingal@gmail.com> <santhosh@users.mediawiki.org>
Santhosh Thottingal <santhosh.thottingal@gmail.com>
saper <saper@saper.info>
Schnark <listenleser@gmail.com>
Scimonster <tehalmightyscimonster@gmail.com>
Sean Colombo <sean.colombo@gmail.com> <sean_colombo@users.mediawiki.org>
Sean Pringle <springle@wikimedia.org>
Seb35 <seb35wikipedia@gmail.com>
Sergio Santoro <santoro.srg@gmail.com>
Shahyar <shahyar@gmail.com>
Shinjiman <shinjiman@gmail.com> <shinjiman@users.mediawiki.org>
Siebrand Mazeland <s.mazeland@xs4all.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@kitano.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@wikimedia.org>
Southparkfan <southparkfan223@hotmail.com>
SQL <sxwiki@gmail.com> <sql@users.mediawiki.org>
Stanislav Malyshev <smalyshev@gmail.com>
Stephan Gambke <s7eph4n@gmail.com>
Stephane Bisson <sbisson@wikimedia.org>
Stephen Liang <github@stephenliang.pw>
Steve Sanbeg <ffnaort@jro.qr> <sanbeg@users.mediawiki.org>
Steven Roddis <StevenRoddis@users.noreply.github.com>
Subramanya Sastry <ssastry@wikimedia.org>
Sucheta Ghoshal <sghoshal@wikimedia.org>
Sumit Asthana <asthana.sumit23@gmail.com>
Thalia Chan <thalia@cantorion.org>
TheDJ <hartman.wiki@gmail.com>
Thiemo Mättig (WMDE) <thiemo.maettig@wikimedia.de>
This, that and the other <at.light@live.com.au>
tholam <t.lam@lamsinfosystem.com>
Thomas Bleher <ThomasBleher@gmx.de> <tbleher@users.mediawiki.org>
Thomas Dalton <thomas.dalton@gmail.com> <tango@users.mediawiki.org>
Thomas Gries <mail@tgries.de> <wikinaut@users.mediawiki.org>
Tim Landscheidt <tim@tim-landscheidt.de>
Tim Laqua <t.laqua@gmail.com> <tlaqua@users.mediawiki.org>
Tim Starling <tstarling@wikimedia.org>
Tim Starling <tstarling@wikimedia.org> <tstarling@users.mediawiki.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <krinkle@users.mediawiki.org>
Timo Tijhof <krinklemail@gmail.com> <timo@wikimedia.org>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
Tina Johnson <tinajohnson.1234@gmail.com>
Tom Maaswinkel <tom.maaswinkel@12wiki.eu> <thedevilonline@users.mediawiki.org>
Tomasz Finc <tfinc@wikimedia.org> <tomasz@users.mediawiki.org>
Tony Thomas <01tonythomas@gmail.com>
Trevor Parscal <trevorparscal@gmail.com>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@users.mediawiki.org>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@wikimedia.org>
Tyler Cipriani <tcipriani@wikimedia.org>
Tyler Romeo <tylerromeo@gmail.com>
umherirrender <umherirrender_de.wp@web.de>
Victor Vasiliev <vasilvv@mit.edu> <vasilievvv@users.mediawiki.org>
Vikas S Yaligar <vikasyaligar.it@gmail.com>
Vivek Ghaisas <v.a.ghaisas@gmail.com>
wctaiwan <wctaiwan@gmail.com>
withoutaname <drevitchi@gmail.com>
X! <soxred93@gmail.com> <soxred93@users.mediawiki.org>
Yaroslav Melnychuk <yaroslavmelnuchuk@gmail.com>
Yuri Astrakhan <yurik@wikimedia.org>
Yuri Astrakhan <yurik@wikimedia.org> <yurik@users.mediawiki.org>
Yusuke Matsubara <whym@whym.org>
YuviPanda <yuvipanda@gmail.com>
Zak Greant <zak+mediawiki@fooassociates.com> <zak@users.mediawiki.org>
Ævar Arnfjörð Bjarmason <avarab@gmail.com> <avar@users.mediawiki.org>
Željko Filipin <zeljko.filipin@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com> <zfilipin@wikimedia.org>
Zhengzhu Feng <zhengzhu@gmail.com>
Zhengzhu Feng <zhengzhu@gmail.com> <zhengzhu@users.mediawiki.org>
