[BOT] Gerrit Patch Uploader <gerritpatchuploader@gmail.com>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
Aaron Schulz <aschulz@wikimedia.org>
Aaron Schulz <aschulz@wikimedia.org> <aaron@users.mediawiki.org>
Adam Roses Wight <awight@wikimedia.org>
addshore <addshorewiki@gmail.com>
Adrian Heine <adrian.heine@wikimedia.de>
Alex Monk <krenair@gmail.com>
Alex Monk <krenair@gmail.com> <krenair@wikimedia.org>
Alexander Emsenhuber <ialex.wiki@gmail.com>
Alexander Emsenhuber <ialex.wiki@gmail.com> <ialex@users.mediawiki.org>
Alexander Emsenhuber <ialex.wiki@gmail.com> <mediawiki@emsenhuber.ch>
Alexia E. Smith <washuu@gmail.com>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Antoine Musso <hashar@free.fr>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
Arlo Breault <abreault@wikimedia.org>
aude <aude.wiki@gmail.com>
Audrey Tang <audreyt@audreyt.org>
Audrey Tang <audreyt@audreyt.org> <au@localhost>
ayush_garg <ayush.ce13@iitp.ac.in>
Bahodir Mansurov <bmansurov@wikimedia.org>
Bartosz Dziewoński <matma.rex@gmail.com>
Bartosz Dziewoński <matma.rex@gmail.com> <matmarex@wikimedia.org>
Bartosz Dziewoński <matma.rex@gmail.com> <bdziewonski@wikimedia.org>
Bene <benestar.wikimedia@gmail.com>
Brad Jorsch <bjorsch@wikimedia.org>
Brian Wolff <bawolff+wn@gmail.com>
Brion Vibber <brion@wikimedia.org>
Brion Vibber <brion@wikimedia.org> <brion@pobox.com>
Brion Vibber <brion@wikimedia.org> <brion@users.mediawiki.org>
Bryan Davis <bd808@wikimedia.org>
C. Scott Ananian <cscott@cscott.net>
C. Scott Ananian <cscott@cscott.net> <cananian@wikimedia.org>
cacycle@gerrit.wikimedia.org <cacyclewp@gmail.com>
cenarium <cenarium.sysop@gmail.com>
Chad Horohoe <chadh@wikimedia.org>
Chiefwei <chiefwei1989@gmail.com>
Chris McMahon <cmcmahon@wikimedia.org>
Chris Steipp <csteipp@wikimedia.org>
Christian Aistleitner <christian@quelltextlich.at>
Christian Williams <orbit@framezero.com>
Christian Williams <orbit@framezero.com> <christian@localhost>
Christian Williams <orbit@framezero.com> <christian@wikia-inc.com>
ckoerner <nobelx@gmail.com>
Dan Duvall <dduvall@wikimedia.org>
dan-nl <d_entous@yahoo.com>
Daniel Kinzler <daniel.kinzler@wikimedia.de>
Daniel A. R. Werner <daniel.a.r.werner@gmail.com>
David Chan <david@sheetmusic.org.uk>
Derk-Jan Hartman <hartman.wiki@gmail.com>
Douglas Gardner <douglas@chippy.ch>
DPStokesNZ <duncan.stokes@gmail.com>
Ebrahim Byagowi <ebrahim@gnu.org>
Ed Sanders <esanders@wikimedia.org>
Elliott Eggleston <ejegg@ejegg.com>
eranroz <eranroz89@gmail.com>
Erik Bernhardson <ebernhardson@wikimedia.org>
Erik Moeller <erik@wikimedia.org>
Erik Moeller <erik@wikimedia.org> <erik@users.mediawiki.org>
Erwin Dokter <erwin@darcoury.nl>
Evan McIntire <mcintire.evan@gmail.com>
Federico Leva <federicoleva@tiscali.it>
Florianschmidtwelzow <florian.schmidt.welzow@t-online.de> <florian.schmidt.stargatewissen@gmail.com>
Florianschmidtwelzow <florian.schmidt.welzow@t-online.de> Florian <florian.schmidt.welzow@t-online.de>
Fomafix <fomafix@googlemail.com>
FunPika <funpikawiki@gmail.com>
Gabriel Wicke <gwicke@wikimedia.org>
Gabriel Wicke <gwicke@wikimedia.org> <gwicke@users.mediawiki.org>
Gabriel Wicke <gwicke@wikimedia.org> <wicke@wikidev.net>
Geoffrey Mon <geofbot@gmail.com>
Gergő Tisza <gtisza@wikimedia.org>
Gergő Tisza <gtisza@wikimedia.org> <tgr.huwiki@gmail.com>
Giftpflanze <gifti@tools.wmflabs.org>
Gilles Dubuc <gdubuc@wikimedia.org>
gladoscc <admin@glados.cc>
glaisher <glaisher.wiki@gmail.com>
Helder <he7d3r@gmail.com>
Helder <he7d3r@gmail.com> <helder.wiki@gmail.com>
Hoo man <hoo@online.de>
Inez Korczyński <inez@wikia-inc.com>
Inez Korczyński <inez@wikia-inc.com> <inez@users.mediawiki.org>
isarra <s@zaori.org>
Jack Phoenix <jack@countervandalism.net>
Jackmcbarn <jackmcbarn@gmail.com>
Jackmcbarn <jackmcbarn@users.noreply.github.com>
jagori <jagori79@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Jan Zerebecki <jan.wikimedia@zerebecki.de>
Jaroslav Škarvada <jskarvad@redhat.com>
jarrettmunton <jmuntjmunt@gmail.com>
Jeff Hall <jeffreyehall@gmail.com>
Jeff Hall <jeffreyehall@gmail.com> <jhall@wikimedia.org>
Jeff Janes <jeff.janes@gmail.com>
jeroendedauw <jeroendedauw@gmail.com>
Jesús Martínez Novo <martineznovo@gmail.com>
Jiabao <jiabao.foss@gmail.com>
Jon Robson <jrobson@wikimedia.org>
Jon Robson <jrobson@wikimedia.org> <jdlrobson@gmail.com>
Juliusz Gonera <jgonera@gmail.com>
Juliusz Gonera <jgonera@gmail.com> <jgonera@wikimedia.org>
JuneHyeon Bae <devunt@gmail.com>
Kevin Israel <pleasestand@live.com>
Kunal Mehta <legoktm@gmail.com>
Kunal Mehta <legoktm@gmail.com> <legoktm.wikipedia@gmail.com>
lekshmi <andnlnbn18@gmail.com>
Liangent <liangent@gmail.com>
Ljudusika <plo2000@i.ua>
Luis Felipe Schenone <schenonef@gmail.com>
m4tx <m4tx@m4tx.pl>
Marielle Volz <marielle.volz@gmail.com>
Marius Hoch <hoo@online.de>
Mark A. Hershberger <mah@everybody.org>
Mark A. Hershberger <mah@everybody.org> <mah@nichework.com>
Mark A. Hershberger <mah@everybody.org> <mah@users.mediawiki.org>
Mark Holmquist <mtraceur@member.fsf.org>
Marko Obrovac <mobrovac@wikimedia.org>
Matthew Flaschen <mflaschen@wikimedia.org>
Matthias Mullie <git@mullie.eu>
Max Semenik <maxsem.wiki@gmail.com>
mgooley <g0013y@gmail.com>
mjbmr <mjbmri@gmail.com>
Moriel Schottlender <mschottlender@wikimedia.org>
Moriel Schottlender <mschottlender@wikimedia.org> <moriel@gmail.com>
Mormegil <mormegil@centrum.cz>
Mukunda Modell <mmodell@wikimedia.org>
MZMcBride <g@mzmcbride.com>
Namit <namit.ohri@gmail.com>
Nemo bis <federicoleva@tiscali.it>
Nik Everett <neverett@wikimedia.org>
Niklas Laxström <niklas.laxstrom@gmail.com>
Nuria Ruiz <nuria@wikimedia.org>
Ori.livneh <ori@wikimedia.org>
paladox <thomasmulhall410@yahoo.com>
Patrick Westerhoff <PatrickWesterhoff@gmail.com>
Peter Coti <petercoti@gmail.com>
Petr Kadlec <mormegil@centrum.cz>
physikerwelt (Moritz Schubotz) <wiki@physikerwelt.de>
PiRSquared17 <pirsquared@tools.wmflabs.org>
PranavK <pranavmk98@gmail.com>
Prateek Saxena <psaxena@wikimedia.org>
Prateek Saxena <psaxena@wikimedia.org> <prtksxna@gmail.com>
Purodha <purodha@blissenbach.org>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Reza <reza.energy@gmail.com>
Ricordisamoa <ricordisamoa@openmailbox.org>
rillke <rillke@wikipedia.de>
rillke <rillke@wikipedia.de> <rainerrillke@hotmail.com>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com> <roan@wikimedia.org>
Rob Moen <rmoen@mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@users.mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@wikimedia.org>
Robert Hoenig <indielives010@gmail.com>
robinhood701 <robinhood70@live.ca>
Rohan <rohan1395@yahoo.com>
Rummana Yasmeen <ryasmeen@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org> <kaldari@gmail.com>
S Page <spage@wikimedia.org>
Sam Reed <reedy@wikimedia.org>
Sam Reed <reedy@wikimedia.org> <reedy@users.mediawiki.org>
Sam Smith <git@samsmith.io>
Santhosh Thottingal <santhosh.thottingal@gmail.com>
saper <saper@saper.info>
Schnark <listenleser@gmail.com>
Scimonster <tehalmightyscimonster@gmail.com>
Sean Pringle <springle@wikimedia.org>
Seb35 <seb35wikipedia@gmail.com>
Sergio Santoro <santoro.srg@gmail.com>
Shahyar <shahyar@gmail.com>
Siebrand Mazeland <s.mazeland@xs4all.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@kitano.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@wikimedia.org>
Southparkfan <southparkfan223@hotmail.com>
Stanislav Malyshev <smalyshev@gmail.com>
Stephan Gambke <s7eph4n@gmail.com>
Stephane Bisson <sbisson@wikimedia.org>
Stephen Liang <github@stephenliang.pw>
Steven Roddis <StevenRoddis@users.noreply.github.com>
Subramanya Sastry <ssastry@wikimedia.org>
Sucheta Ghoshal <sghoshal@wikimedia.org>
Sumit Asthana <asthana.sumit23@gmail.com>
Thalia Chan <thalia@cantorion.org>
TheDJ <hartman.wiki@gmail.com>
Thiemo Mättig (WMDE) <thiemo.maettig@wikimedia.de>
This, that and the other <at.light@live.com.au>
tholam <t.lam@lamsinfosystem.com>
Tim Landscheidt <tim@tim-landscheidt.de>
Tim Starling <tstarling@wikimedia.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <timo@wikimedia.org>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
Tina Johnson <tinajohnson.1234@gmail.com>
Tony Thomas <01tonythomas@gmail.com>
Trevor Parscal <trevorparscal@gmail.com>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@users.mediawiki.org>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@wikimedia.org>
Tyler Cipriani <tcipriani@wikimedia.org>
Tyler Romeo <tylerromeo@gmail.com>
umherirrender <umherirrender_de.wp@web.de>
Vikas S Yaligar <vikasyaligar.it@gmail.com>
Vivek Ghaisas <v.a.ghaisas@gmail.com>
wctaiwan <wctaiwan@gmail.com>
withoutaname <drevitchi@gmail.com>
Yaroslav Melnychuk <yaroslavmelnuchuk@gmail.com>
Yuri Astrakhan <yurik@wikimedia.org>
Yusuke Matsubara <whym@whym.org>
YuviPanda <yuvipanda@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com> <zfilipin@wikimedia.org>
