{
	"rules": {
		"color-hex-case": [ "lower" ],
		"color-hex-length": [ "short" ],
		"color-named": [ "never" ],
		"color-no-invalid-hex": true,

		"declaration-bang-space-after": [ "never" ],
		"declaration-bang-space-before": [ "always" ],
		"declaration-colon-space-after": [ "always" ],
		"declaration-colon-space-before": [ "never" ],

		"font-family-name-quotes": [ "always-unless-keyword" ],
		"font-weight-notation": [ "named-where-possible" ],

		"function-calc-no-unspaced-operator": true,
		"function-comma-newline-after": "never-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": [ "always" ],
		"function-comma-space-before": [ "never" ],
		"function-parentheses-newline-inside": [ "never-multi-line" ],
		"function-parentheses-space-inside": [ "always" ],
		"function-url-quotes": [ "never" ],
		"function-whitespace-after": [ "always" ],
	}
}
