{
	"extends": "stylelint-config-wikimedia",
	"rules": {
		"declaration-no-important": null,

		"indentation": null,

		"no-descending-specificity": null,
		"no-duplicate-selectors": null,

		"selector-list-comma-newline-after": null,
		"selector-no-id": null,
		"selector-pseudo-element-colon-notation": null,

		"string-quotes": null,

		"value-keyword-case": null
	}
}
