# Travis CI build configuration for MediaWiki
# <https://travis-ci.org/wikimedia/mediawiki-core>
#
# The Wikimedia Foundation uses a self-hosted Jenkins instance to run unit
# tests, but it tests code against the version of PHP that is deployed on
# Wikimedia's production cluster. This Travis CI configuration is designed to
# complement that setup by testing MediaWiki on travis
#
language: php

matrix:
  fast_finish: true
  include:
    - env: dbtype=mysql
      php: 5.5
    - env: dbtype=postgres
      php: 5.5
    - env: dbtype=mysql
      php: hhvm
    - env: dbtype=mysql
      php: 7
  allow_failures:
    # Postgres support for unit tests is still buggy
    # https://phabricator.wikimedia.org/T75174
    - env: dbtype=postgres dbuser=travis
      php: 5.5

services:
  - mysql

branches:
  # Test changes in master and arbitrary Travis CI branches only.
  # The latter allows developers to enable Travis CI in their GitHub fork of
  # wikimedia/mediawiki and then push changes they like to test to branches like
  # "travis-ci/test-this-awesome-change".
  only:
    - master
    - /^travis-ci\/.*$/

before_install:
  - sudo apt-get install -qq djvulibre-bin tidy
  - composer self-update --quiet --no-interaction

before_script:
  - composer install --prefer-source --quiet --no-interaction
  - if [ "$dbtype" = postgres ]; then psql -c "CREATE DATABASE traviswiki WITH OWNER travis;" -U postgres; fi
  - >
      php maintenance/install.php traviswiki admin
      --pass travis
      --dbtype "$dbtype"
      --dbname traviswiki
      --dbuser travis
      --dbpass ""
      --scriptpath "/w"

script:
  - php tests/phpunit/phpunit.php

notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#mediawiki-feed"
    on_success: change
    on_failure: change
    skip_join: true
