[project]
	description = MediaWiki core
[access]
	inheritFrom = mediawiki
[access "refs/*"]
	owner = group Administrators
	owner = group mediawiki
	push = +force group mediawiki
	pushTag = +force group mediawiki
	exclusiveGroupPermissions = push pushTag
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
