[project]
	description = MediaWiki core (phase3)
[access]
	inheritFrom = mediawiki
[access "refs/*"]
	owner = group Administrators
	owner = group mediawiki
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/Wikidata"]
	owner = group wikidata
	create = group wikidata
	submit = group wikidata
	forgeCommitter = group wikidata
	push = group wikidata
	pushMerge = group wikidata
[access "refs/heads/refs/heads/Wikidata"]
	create = group wikidata
	forgeCommitter = group wikidata
	push = group wikidata
	pushMerge = group wikidata
[access "refs/heads/wmf/*"]
	create = group wmf-deployment
	forgeCommitter = group wmf-deployment
	push = group wmf-deployment
	pushMerge = group wmf-deployment
[access "refs/tags/*"]
	pushTag = group mediawiki
[access "refs/tags/wmf/*"]
	create = group wmf-deployment
	create = deny group Project Owners
[access "refs/for/wmf/*"]
	exclusiveGroupPermissions = push
	push = group wmf-deployment
	push = deny group Registered Users
[access "refs/drafts/*"]
	push = group Administrators
