[project]
	description = MediaWiki core
[access]
	inheritFrom = mediawiki
[access "refs/*"]
	owner = group Administrators
	read = group mediawiki-replication
	push = +force group platform-engineering
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/tags/wmf/*"]
	create = block group Registered Users
[allowSuperproject "mediawiki/extensions"]
	all = refs/heads/*:refs/heads/*
[allowSuperproject "mediawiki/skins"]
	all = refs/heads/*:refs/heads/*
[allowSuperproject "mediawiki/core"]
	all = refs/heads/*:refs/heads/*
