<?php

/**
 * To use a profiler, copy this file to StartProfiler.php,
 * and add something like this:
 *
 *   $wgProfiler['class'] = 'Profiler';
 *
 * Or for a sampling profiler:
 *   if ( !mt_rand( 0, 100 ) ) {
 *       $wgProfiler['class'] = 'Profiler';
 *   } else {
 *       $wgProfiler['class'] = 'ProfilerStub';
 *   }
 *
 * Configuration of the profiler output can be done in LocalSettings.php
 */
