<?php

/**
 * To use a profiler, copy this file to StartProfiler.php,
 * and add either:
 *  $wgProfiler['class'] = 'ProfilerStandard'
 *    or
 *  $wgProfiler['class'] = 'ProfilerXhprof';
 *
 * For output, add:
 *  $wgProfiler['output'] = 'text'
 *    'text' can be one (or more) of 'text' 'udp' or 'db'
 *    'db' requires creating the profiling table, see patch-profiling.sql
 *    'text' also provides a 'visible' parameter
 *
 * For a rudimentary sampling profiler:
 *   if ( !mt_rand( 0, 100 ) ) {
 *       $wgProfiler['class'] = 'ProfilerStandard';
 *       $wgProfiler['output'] = 'db';
 *   }
 */
