@import 'mediawiki.skin.variables.less';

/* Make the clock icon smaller than it is by default, and grey it out. */
.mw-changesList-watchlistExpiry.oo-ui-iconElement-icon {
	min-height: 13px;
	height: 13px;
	position: relative;
	top: -@position-offset-border-width-base;
	opacity: @opacity-icon-base--disabled;
}

.mw-watchlistexpiry-msg {
	// Reduce the amount of space between the clock and the message shown to its right.
	margin-left: -0.2em;
}
