<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="min-height: 100%; background: #f6f6f6;" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0; padding: 0;">
		<style type="text/css">
		@media only screen and (max-width: 596px) {
			table.body table.container .hide-for-large {
				display: block !important; width: auto !important; overflow: visible !important;
			}
			table.body table.container .row.hide-for-large {
				display: table !important; width: 100% !important;
			}
			table.body table.container .row.hide-for-large {
				display: table !important; width: 100% !important;
			}
			table.body table.container .show-for-large {
				display: none !important; width: 0; mso-hide: all; overflow: hidden;
			}
			table.body img {
				width: auto !important; height: auto !important;
			}
			table.body center {
				min-width: 0 !important;
			}
			table.body .container {
				width: 95% !important;
			}
			table.body .columns {
				height: auto !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 16px !important; padding-right: 16px !important;
			}
			table.body .columns .column {
				padding-left: 0 !important; padding-right: 0 !important;
			}
			table.body .columns .columns {
				padding-left: 0 !important; padding-right: 0 !important;
			}
			table.body .collapse .columns {
				padding-left: 0 !important; padding-right: 0 !important;
			}
			td.small-12 {
				display: inline-block !important; width: 100% !important;
			}
			th.small-12 {
				display: inline-block !important; width: 100% !important;
			}
			.columns td.small-12 {
				display: block !important; width: 100% !important;
			}
			.columns th.small-12 {
				display: block !important; width: 100% !important;
			}
			table.body table.columns td.expander {
				display: none !important;
			}
			table.body table.columns th.expander {
				display: none !important;
			}
		}
		</style>
		<table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 15px; background: #f6f6f6; margin: 0; padding: 0;" bgcolor="#f6f6f6">
			<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
				<td class="center" align="center" valign="top" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 15px; margin: 0; padding: 0;">
					<center data-parsed="" style="width: 100%; min-width: 580px;">
						<table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; background: #fefefe; margin: 0 auto; padding: 0;" bgcolor="#fefefe">
							<tbody>
								<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
									<td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left" valign="top">
									<!-- This container adds the grey gap at the top of the email -->
										<table class="row grey" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #f6f6f6; padding: 0;" bgcolor="#f6f6f6">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
													<th class="small-12 columns" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0 auto; padding: 0 16px 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left"></th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; background: #fefefe; margin: 0 auto; padding: 0;" bgcolor="#fefefe">
							<tbody>
								<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
									<td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left" valign="top">
									<!-- This container is the main email content -->
										<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
												<!-- Logo -->
													<th class="small-12 -12 columns first " style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0 auto; padding: 0 16px 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left"><!-- Logo goes here --></th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
										<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
												<!-- spacer  -->
													<th class="small-12 columns" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 5px; font-size: 15px; margin: 0 auto; padding: 0 16px 0 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="margin: 0; padding: 0;">
																	<hr style="max-width: 580px; height: 0; border-bottom-color: #a7d7f9; clear: both; border-bottom-style: solid; margin: 20px auto; border-width: 0 0 1px;" /> 
																</th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
										<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
												<!-- main Email content -->
													<th class="small-12 columns" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 5px; font-size: 15px; margin: 0 auto; padding: 0 16px 0 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left">
																	<p style="color: #777777 !important; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0 0 10px; padding: 0;" align="left">{{{body}}}</p>
																	<br />
																</th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
										<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
												<!-- This container adds the gap between digest content and CTA  -->
													<th class="small-12 columns" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0 auto; padding: 0 16px 0 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1px; font-size: 15px; margin: 0; padding: 0;" align="left">
																	<hr style="max-width: 580px; height: 0; border-bottom-color: #a7d7f9; clear: both; border-bottom-style: solid; margin: 20px auto; border-width: 0 0 1px;" />
																</th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- end main email content -->
						<table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; background: #fefefe; margin: 0 auto; padding: 0;" bgcolor="#fefefe">
							<tbody>
								<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
									<td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left" valign="top">
									<!-- footer -->
										<table class="row grey" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #f6f6f6; padding: 0;" bgcolor="#f6f6f6">
											<tbody>
												<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
													<th class="small-12 columns" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 5px; font-size: 15px; margin: 0 auto; padding: 0 16px 16px;" align="left">
														<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
															<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
																<th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 15px; margin: 0; padding: 0;" align="left">
																	<p style="text-align: right; color: #777777 !important; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; font-size: 12px; margin: 0 0 10px; padding: 20px 0px;" align="center">Powered by MediaWiki<br/>© Copyright 2016 Sendwithus. All Rights Reserved.</p>
																</th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</table>
	</body>
</html>
