<div id="{{prefix}}1">
	<strong>{{{header}}}</strong>
</div>
<div id="{{prefix}}2">
	{{#tools}}{{{.}}}{{/tools}}
</div>
<div id="{{prefix}}3">
	{{{minor}}}
	{{{comment}}}
	{{{deleted}}}
</div>
<div id="{{prefix}}5">{{{tags}}}</div>
<div id="{{prefix}}4">
	{{#links}}{{{.}}}{{/links}}
</div>