{{{ del }}}{{{ timestamp }}}
{{{ diffHistLinks }}}{{{ charDifference }}}{{# flags }}{{{ . }}}{{/ flags }}
{{{ articleLink }}}{{{ userlink }}}
{{{ logText }}}
{{{ topmarktext }}}{{# rev-deleted-user-contribs }} <strong>{{{ . }}}</strong>{{/ rev-deleted-user-contribs }}
{{{ tagSummary }}}
