{{{ del }}}{{{ timestamp }}} {{{ diffHistLinks }}}{{{ charDifference }}}{{{ flags }}} {{{ articleLink }}}{{{ userlink }}} {{{ logText }}} {{{ topmarktext }}}{{# rev-deleted-user-contribs }} <strong>{{{ . }}}</strong>{{/ rev-deleted-user-contribs }} {{{ tagSummary }}}
