/* Mixins for visual effects in CSS3 */

@import "../settings/colors";
// FIXME: move all colors to colors.less

// ----------------------------------------------------------------------------
// Button styling
// ----------------------------------------------------------------------------

.button-colors(@bgColor: #fff) {
	background: @bgColor;

	&:hover,
	&:focus {
		box-shadow: 0 1px rgba(0,0,0,.2), inset 0 -3px rgba(0,0,0,.2);
		outline: none;
	}

	&:active {
		background: darken(@bgColor, 5%);
		box-shadow: none;
	}
}

.button-colors(@bgColor: #fff) when (lightness(@bgColor) >= 50%) {
	color: #898989;
	border: 1px solid #ccc;

	&:disabled {
		color: #ededed;
	}
}

.button-colors(@bgColor: #fff) when (lightness(@bgColor) < 50%) {
	color: #fff;
	border: none;

	&:disabled {
		background: #ccc;
	}
}
