@import "../settings/colors";
// ----------------------------------------------------------------------------
// Button styling
// ----------------------------------------------------------------------------

.button-colors(@bgColor) {
	background: @bgColor;

	&:hover,
	&:focus {
		box-shadow: 0 1px rgba(0,0,0,.2), inset 0 -3px rgba(0,0,0,.2);
		outline: none;
	}

	&:active {
		background: darken(@bgColor, 5%);
		box-shadow: none;
	}
}

.button-colors(@bgColor) when (lightness(@bgColor) >= 50%) {
	color: @colorGrayDark;
	border: 1px solid @colorGrayLight;

	&:disabled {
		color: tint(@colorGrayDark, 50%);

		// make sure disabled buttons don't have hover and active states
		&:hover,
		&:active {
			background: @bgColor;
			box-shadow: none;
		}
	}
}

.button-colors(@bgColor) when (lightness(@bgColor) < 50%) {
	color: @colorWhite;
	border: none;

	&:disabled {
		background: @colorGrayLight;

		// make sure disabled buttons don't have hover and active states
		&:hover,
		&:active {
			box-shadow: none;
		}
	}
}

.button-colors-quiet(@textColor) {
	color: @textColor;

	&:hover,
	&:focus {
		color: darken(@textColor, 10%);
	}

	&:disabled {
		color: tint(@textColor, 50%);
	}
}
