/* The login form invites users to create an account */
#mw-createaccount-cta {
	width: 20em;
	background: url( images/glyph-people-large.png ) no-repeat 50%;
	margin: 0 auto;
	padding-top: 7.8em;
	font-weight: bold;
}

.mw-htmlform-codex a.cdx-button {
	align-items: center;
	display: inline-flex;
}
