/* The login form invites users to create an account */
#mw-createaccount-cta {
	width: 20em;
	/* @embed */
	background: url( images/glyph-people-large.png ) no-repeat 50%;
	margin: 0 auto;
	padding-top: 7.8em;
	font-weight: bold;
}

/* Login Button, following 'ButtonWidget (progressive)' from OOUI */
#mw-createaccount-join {
	background-color: #f8f9fa;
	color: #36c;
}

#mw-createaccount-join:hover {
	background-color: #fff;
	border-color: #859ecc;
	box-shadow: none;
}

#mw-createaccount-join:active {
	background-color: #eff3fa;
	color: #2a4b8d;
	border-color: #2a4b8d;
}

#mw-createaccount-join:focus {
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
}
