@import 'mediawiki.skin.variables.less';

#mw-indicator-mw-helplink a {
	display: flex;
	align-items: center;

	.mw-helplink-icon {
		padding-right: 10px;
		.cdx-mixin-css-icon( @cdx-icon-help-notice );
	}
}
