[SeleniumSettings]

; Set up the available browsers that Selenium can control.
browsers[firefox] 	= "*firefox"
browsers[iexplorer] = "*iexploreproxy"
browsers[chrome] 	= "*chrome"

; The simple configurations above usually work on Linux, but Windows and
; Mac OS X hosts may need to specify a full path:
;browsers[firefox] = "*firefox /Applications/Firefox.app/Contents/MacOS/firefox-bin"
;browsers[firefox] = "*firefox C:\Program Files\Mozilla Firefox\firefox.exe"

host 				= "localhost"
port 				= "4444"
wikiUrl 			= "http://localhost/deployment"
username 			= "wikiuser"
userPassword 		= "wikipass"
testBrowser 		= "firefox"
startserver			=
stopserver			=
jUnitLogFile		=

; To let the test runner start and stop the selenium server, it needs the full
; path to selenium-server.jar from the selenium-remote-control package.
seleniumserverexecpath = "/opt/local/selenium-remote-control-1.0.3/selenium-server-1.0.3/selenium-server.jar"

[SeleniumTests]

testSuite[SimpleSeleniumTestSuite] = "maintenance/tests/selenium/SimpleSeleniumTestSuite.php"
testSuite[PagedTiffHandlerSeleniumTestSuite] = "extensions/PagedTiffHandler/selenium/PagedTiffHandlerTestSuite.php"

