.client-js .mw-input-hidden {
	display: none;
}

/*
 * Titles, including username links, and also tag names
 * are prone to getting jumbled up
 * with other titles, usernames, etc. in mixed RTL-LTR environment.
 */
.mw-changeslist .mw-tag-marker,
.mw-changeslist .mw-title {
	unicode-bidi: embed;
}

/*
 * Bidi-isolate these numbers.
 * See https://phabricator.wikimedia.org/T93484
 */
.mw-plusminus-pos,
.mw-plusminus-neg,
.mw-plusminus-null {
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
}
