/**
 * MediaWiki print style sheet
 * Largely based on work by Gabriel Wicke
 *
 * Originally derived from Plone (https://plone.org/) styles
 * Copyright Alexander Limi
 */

/* stylelint-disable selector-class-pattern */

/**
 * Hide all the elements irrelevant for printing
 * Skins however can and should override.
 */
/* General hide-in-print class, please only use sparely */
.noprint,
/* Various content classes, in alphabetical order */
.mw-cite-backlink,
.mw-redirectedfrom,
.patrollink,
/* Various content ids, in alphabetical order */
#column-one,
#footer-places,
#mw-navigation,
/* Deprecated, changed in core */
#f-poweredbyico,
#f-copyrightico,
li#about,
li#disclaimer,
li#mobileview,
li#privacy {
	display: none;
}

/**
 * Generic HTML elements
 */
body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

@import 'content.body-print.less';

/* Prevent citations and subscripts from interfering with the line-height */
sup,
sub {
	line-height: 1;
}

/**
 * MediaWiki-specific elements
 */
#globalWrapper {
	width: 100% !important; /* stylelint-disable-line declaration-no-important */
	min-width: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.mw-body {
	background: #fff;
	color: #000;
	border: 0 !important; /* stylelint-disable-line declaration-no-important */
	padding: 0 !important; /* stylelint-disable-line declaration-no-important */
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
	direction: ltr;
}

#column-content {
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
}

#column-content .mw-body {
	padding: 1em;
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
}

/* (T280929) As this is a CSS file, we need to import it inline lest LESS parses the CSS and gets paths wrong. */
@import (inline) 'toc/print.css';
@import 'elements-print.less';
@import 'content.thumbnails-print.less';
@import 'content.tables-print.less';
@import 'interface.category-print.less';

/**
 * Footer
 */
.printfooter {
	padding: 1em 0;
}

#footer {
	background: #fff;
	color: #000;
	margin-top: 1em;
	border-top: 1pt solid #aaa;
	padding-top: 5px;
	direction: ltr;
}
