/*!
 * Icons and colors for external links.
 */

@import 'mediawiki.mixins';

.mw-parser-output a.external,
.link-https {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/external-ltr.svg', 'images/external-ltr.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href^='mailto:' ],
.link-mailto {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/mail.svg', 'images/mail.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href^='ftp://' ],
.link-ftp {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/ftp-ltr.svg', 'images/ftp-ltr.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href^='irc://' ],
.mw-parser-output a.external[ href^='ircs://' ],
.link-irc {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/chat-ltr.svg', 'images/chat-ltr.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href$='.ogg' ],
.mw-parser-output a.external[ href$='.OGG' ],
.mw-parser-output a.external[ href$='.mid' ],
.mw-parser-output a.external[ href$='.MID' ],
.mw-parser-output a.external[ href$='.midi' ],
.mw-parser-output a.external[ href$='.MIDI' ],
.mw-parser-output a.external[ href$='.mp3' ],
.mw-parser-output a.external[ href$='.MP3' ],
.mw-parser-output a.external[ href$='.wav' ],
.mw-parser-output a.external[ href$='.WAV' ],
.mw-parser-output a.external[ href$='.wma' ],
.mw-parser-output a.external[ href$='.WMA' ],
.link-audio {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/audio-ltr.svg', 'images/audio-ltr.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href$='.ogm' ],
.mw-parser-output a.external[ href$='.OGM' ],
.mw-parser-output a.external[ href$='.avi' ],
.mw-parser-output a.external[ href$='.AVI' ],
.mw-parser-output a.external[ href$='.mpeg' ],
.mw-parser-output a.external[ href$='.MPEG' ],
.mw-parser-output a.external[ href$='.mpg' ],
.mw-parser-output a.external[ href$='.MPG' ],
.link-video {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/video.svg', 'images/video.png' );
	padding-right: 13px;
}

.mw-parser-output a.external[ href$='.pdf' ],
.mw-parser-output a.external[ href$='.PDF' ],
.mw-parser-output a.external[ href*='.pdf#' ],
.mw-parser-output a.external[ href*='.PDF#' ],
.mw-parser-output a.external[ href*='.pdf?' ],
.mw-parser-output a.external[ href*='.PDF?' ],
.link-document {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg( 'images/document-ltr.svg', 'images/document-ltr.png' );
	padding-right: 13px;
}

/* Interwiki styling */
.mw-parser-output a.extiw,
.mw-parser-output a.extiw:active {
	color: #36b;
}

/* External link color */
.mw-parser-output a.external {
	color: #36b;
}
