@import 'variables.less';

figure[ typeof~='mw:File/Thumb' ],
figure[ typeof~='mw:File/Frame' ],
/* TODO: Remove "Image|Video|Audio" when version 2.4.0 of the content is no
 * longer supported
 */
figure[ typeof~='mw:Image/Thumb' ],
figure[ typeof~='mw:Video/Thumb' ],
figure[ typeof~='mw:Audio/Thumb' ],
figure[ typeof~='mw:Image/Frame' ],
figure[ typeof~='mw:Video/Frame' ],
figure[ typeof~='mw:Audio/Frame' ] {
	border: @border-thumbinner-print;
	border-bottom: 0;  // No border to figcaption
	background-color: @background-color-thumbinner-print;

	> a:first-child,
	> span:first-child {
		> *:first-child:not( .mw-broken-media ) {
			border: @border-thumbimage-print;
		}
	}

	> figcaption {
		border: @border-thumbinner-print;
		border-top: 0;
		background-color: @background-color-thumbinner-print;
		font-size: @font-size-thumbinner-print;
		color: @color-thumbinner-print;
	}
}

.mw-image-border {
	> a:first-child,
	> span:first-child {
		> *:first-child:not( .mw-broken-media ) {
			border: @border-thumbborder-print;
		}
	}
}
