/*!
 * Icons and colors for external links.
 */

/* T68091 is blocking is from converting this file to LESS
 * and using the .background-image-svg mixin. */

/* SVG support using a transparent gradient to guarantee cross-browser
 * compatibility ( browsers able to understand gradient syntax support also SVG ).
 * http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique */

.mw-body-content a.external,
.link-https {
	background: url( images/external-ltr.png ) center right no-repeat;
	/* @embed */
	background-image: -webkit-linear-gradient( transparent, transparent ), url( images/external-ltr.svg );
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/external-ltr.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href^='mailto:'],
.link-mailto {
	background: url( images/mail.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/mail.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href^='ftp://'],
.link-ftp {
	background: url( images/ftp-ltr.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/ftp-ltr.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href^='irc://'],
.mw-body-content a.external[href^='ircs://'],
.link-irc {
	background: url( images/chat-ltr.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/chat-ltr.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href$='.ogg'],
.mw-body-content a.external[href$='.OGG'],
.mw-body-content a.external[href$='.mid'],
.mw-body-content a.external[href$='.MID'],
.mw-body-content a.external[href$='.midi'],
.mw-body-content a.external[href$='.MIDI'],
.mw-body-content a.external[href$='.mp3'],
.mw-body-content a.external[href$='.MP3'],
.mw-body-content a.external[href$='.wav'],
.mw-body-content a.external[href$='.WAV'],
.mw-body-content a.external[href$='.wma'],
.mw-body-content a.external[href$='.WMA'],
.link-audio {
	background: url( images/audio-ltr.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/audio-ltr.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href$='.ogm'],
.mw-body-content a.external[href$='.OGM'],
.mw-body-content a.external[href$='.avi'],
.mw-body-content a.external[href$='.AVI'],
.mw-body-content a.external[href$='.mpeg'],
.mw-body-content a.external[href$='.MPEG'],
.mw-body-content a.external[href$='.mpg'],
.mw-body-content a.external[href$='.MPG'],
.link-video {
	background: url( images/video.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/video.svg );
	padding-right: 15px;
}

.mw-body-content a.external[href$='.pdf'],
.mw-body-content a.external[href$='.PDF'],
.mw-body-content a.external[href*='.pdf#'],
.mw-body-content a.external[href*='.PDF#'],
.mw-body-content a.external[href*='.pdf?'],
.mw-body-content a.external[href*='.PDF?'],
.link-document {
	background: url( images/document-ltr.png ) center right no-repeat;
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/document-ltr.svg );
	padding-right: 15px;
}

/* Interwiki styling */
.mw-body-content a.extiw,
.mw-body-content a.extiw:active {
	color: #36b;
}

/* External link color */
.mw-body-content a.external {
	color: #36b;
}
