//
// Please DO NOT add any new variables to this file unless they are clearly documented with a
// Phabricator task for upstreaming to Codex design tokens.
//

@font-size-thumbinner-screen: 94%;
@font-size-thumbinner-print: 10pt;

@background-color-base-print: #fff;

@color-thumbinner-print: #666;

@font-size-thumbcaption-screen: 94%;

@line-height-thumbcaption: 1.4em;

@margin-floatright: 0 0 0.5em 0.5em;
@margin-floatleft: 0 0.5em 0.5em 0;

@margin-bottom-thumb: 0.5em;

@margin-tright: 0.5em 0 1.3em 1.4em;
@margin-tleft: 0.5em 1.4em 1.3em 0;

@border-base-print: 1pt solid #000;
@border-thumbborder-print: 1pt solid #ddd;

@border-width-base-print: 1pt;

@background-image-magnify-ltr: url( images/magnify-clip-ltr.svg );
@background-image-magnify-rtl: url( images/magnify-clip-rtl.svg );
