/*!
 * Colors and icons for external links.
 */

/* stylelint-disable selector-class-pattern */

// External links.
.mw-parser-output a.external {
	color: #36b;
}

.mw-parser-output a.external,
.link-mailto,
.link-ftp,
.link-irc,
.link-audio,
.link-video,
.link-document {
	background-image: url( images/external-ltr.svg );
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 13px;
}

.mw-parser-output a.external[ href^='mailto:' ],
.link-mailto {
	background-image: url( images/mail.svg );
}

.mw-parser-output a.external[ href^='ftp://' ],
.link-ftp {
	background-image: url( images/ftp-ltr.svg );
}

.mw-parser-output a.external[ href^='irc://' ],
.mw-parser-output a.external[ href^='ircs://' ],
.link-irc {
	background-image: url( images/chat-ltr.svg );
}

.mw-parser-output a.external[ href$='.ogg' ],
.mw-parser-output a.external[ href$='.OGG' ],
.mw-parser-output a.external[ href$='.mid' ],
.mw-parser-output a.external[ href$='.MID' ],
.mw-parser-output a.external[ href$='.midi' ],
.mw-parser-output a.external[ href$='.MIDI' ],
.mw-parser-output a.external[ href$='.mp3' ],
.mw-parser-output a.external[ href$='.MP3' ],
.mw-parser-output a.external[ href$='.wav' ],
.mw-parser-output a.external[ href$='.WAV' ],
.mw-parser-output a.external[ href$='.wma' ],
.mw-parser-output a.external[ href$='.WMA' ],
.link-audio {
	background-image: url( images/audio-ltr.svg );
}

.mw-parser-output a.external[ href$='.ogm' ],
.mw-parser-output a.external[ href$='.OGM' ],
.mw-parser-output a.external[ href$='.avi' ],
.mw-parser-output a.external[ href$='.AVI' ],
.mw-parser-output a.external[ href$='.mpeg' ],
.mw-parser-output a.external[ href$='.MPEG' ],
.mw-parser-output a.external[ href$='.mpg' ],
.mw-parser-output a.external[ href$='.MPG' ],
.link-video {
	background-image: url( images/video.svg );
}

.mw-parser-output a.external[ href$='.pdf' ],
.mw-parser-output a.external[ href$='.PDF' ],
.mw-parser-output a.external[ href*='.pdf#' ],
.mw-parser-output a.external[ href*='.PDF#' ],
.mw-parser-output a.external[ href*='.pdf?' ],
.mw-parser-output a.external[ href*='.PDF?' ],
.link-document {
	background-image: url( images/document-ltr.svg );
}

// External interwiki links.
.mw-parser-output a.extiw,
.mw-parser-output a.extiw:active {
	color: #36b;
}
