/*** To remove deprecation notice please move these styles to your skin or include the elements feature */
@import 'mediawiki.mixins.less';

ul {
	margin-top: 0.3em;
	.margin-inline( 1.6em, 0 );
	padding: 0;
}

ol {
	margin-top: 0.3em;
	.margin-inline( 3.2em, 0 );
	padding: 0;
}

dd {
	.margin-inline( 1.6em, 0 );
}
