@import 'mediawiki.skin.variables.less';

/* stylelint-disable-next-line selector-class-pattern */
.usermessage {
	background-color: @background-color-warning-subtle;
	border: @border-width-base @border-style-base @border-color-warning;
	color: @color-emphasized;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: 0.5em 1em;
	vertical-align: middle;
}
