/* stylelint-disable-next-line selector-class-pattern */
.usermessage {
	background-color: #fef6e7;
	border: 1px solid #fc3;
	color: #000;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: 0.5em 1em;
	vertical-align: middle;
}
