/* stylelint-disable selector-class-pattern */
.catlinks {
	ul {
		display: inline;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		line-height: 1.15;
		margin: 0.1em 0;
		border-left: 1pt solid #aaa;
		padding: 0 0.4em;

		&:first-child {
			border-left: 0;
			padding-left: 0.2em;
		}
	}
}

.mw-hidden-catlinks,
.catlinks {
	display: none;
}
