/* Sub-navigation */
#siteSub {
	display: none;
}

#contentSub,
#contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #54595d;
	width: auto;
}

/* stylelint-disable-next-line selector-class-pattern */
span.subpages {
	display: block;
}
