/**
 * CSS in this file is used by *all* skins (that have any CSS at all). Be
 * careful what you put in here, since what looks good in one skin may not in
 * another, but don't ignore the poor pre-Monobook users either.
 *
 * NOTE: The images which are referenced in this file are no longer in use in
 * essential interface components. They should NOT be embedded, because that
 * optimizes for the uncommon case at the cost of bloating the size of render-
 * blocking CSS common to all pages.
 */
@import 'mediawiki.mixins';

/* stylelint-disable selector-class-pattern */

/* GENERAL CLASSES FOR DIRECTIONALITY SUPPORT */

/**
 * These classes should be used for text depending on the content direction.
 * Content stuff like editsection, ul/ol and TOC depend on this.
 */
.mw-content-ltr {
	/* @noflip */
	direction: ltr;
}

.mw-content-rtl {
	/* @noflip */
	direction: rtl;
}

/* Most input fields should be in site direction */
textarea,
input {
	// Doubling of `dir` attribute selector increases specificity to allow
	// attributes to override content and/or site directionality. See T260993.
	.sitedir-ltr &,
	&[ dir='ltr' ][ dir='ltr' ] {
		/* @noflip */
		direction: ltr;
	}

	.sitedir-rtl &,
	&[ dir='rtl' ][ dir='rtl' ] {
		/* @noflip */
		direction: rtl;
	}
}

.mw-userlink {
	// Word-break overlong user names, see T237230.
	// FIXME: This property is introduced now, but will be separated in a follow-up
	// caring about 'i18n-directionality', see T247033.
	.hyphens( auto );
	unicode-bidi: embed;
}

/* User-Agent styles for new HTML5 elements */
mark {
	background-color: #ff0;
	color: #000;
}

/* Helper for wbr element on IE 8+; in HTML5, but not supported by default as of IE 11. */
/* Note canonical HTML5 styles recommend "content: \u200B", but this doesn't work as of IE 11. */
wbr {
	display: inline-block;
}

/* Input types that should follow user direction, like buttons */
/* TODO: What about buttons in wikipage content ? */
input[ type='submit' ],
input[ type='button' ],
input[ type='reset' ],
input[ type='file' ] {
	direction: ltr;
}

/* Default style for semantic tags */
abbr[ title ], /* Note: Duplicate ruleset if skins load `normalize` and `legacy`. */
.explain[ title ] {
	border-bottom: 1px dotted;
	cursor: help;
}

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
@supports ( text-decoration: underline dotted ) {
	abbr[ title ], /* FIXME: Remove similar to `abbr` above. */
	.explain[ title ] {
		border-bottom: 0;
		text-decoration: underline dotted;
	}
}

/* Comment portions of RC entries */
span.comment {
	font-style: italic;
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
}

/**
 * rev_deleted stuff
 */
li span.deleted,
span.history-deleted {
	text-decoration: line-through;
	color: #72777d;
	font-style: italic;
}

/**
 * Patrol stuff
 */

/**
 * Forms
 */
td.mw-label {
	text-align: right;
	vertical-align: middle;
}

td.mw-input {
	text-align: left;
}

td.mw-submit {
	text-align: left;
	white-space: nowrap;
}

@import 'content.links.less';
@import 'content.thumbnails-legacy.less';
@import 'interface.category.less';
@import '../mediawiki.action.styles/styles.less';

/* The auto-generated edit comments */
.autocomment,
.autocomment a,
.autocomment a:visited {
	color: #72777d;
}

/**
 * Recreating deleted page warning
 * Reupload file warning
 * Page protection warning
 * incl. log entries for these warnings
 */

/* (show/hide) revision deletion links */
span.mw-revdelundel-link,
strong.mw-revdelundel-link {
	font-size: 90%;
}

/* red links; see T38276 */
a.new {
	color: #ba0000;
}

@import 'content.tables.less';

/* Error, warning, success and neutral messages */
.error,
.warning,
.success {
	font-size: larger;
}

.error {
	color: #d33;
}

.warning {
	color: #ac6600;
}

.success {
	color: #14866d;
}

.visualClear {
	clear: both;
}

@import '../mediawiki.pager.styles/DataTable.less';

.mw-ajax-loader {
	background-image: url( images/ajax-loader.gif );
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16px;
	position: relative;
	top: -16px;
}

.mw-small-spinner {
	padding: 10px !important; /* stylelint-disable-line declaration-no-important */
	margin-right: 0.6em;
	background-image: url( images/spinner.gif );
	background-position: center center;
	background-repeat: no-repeat;
}

@import 'i18n-all-lists-margins.less';
@import 'i18n-headings.less';
@import 'i18n-ordered-lists.less';
@import 'toc/i18n.less';

/* Print footer should be hidden by default in screen. */
.printfooter {
	display: none;
}

/* For developers */
.xdebug-error {
	position: absolute;
	z-index: 99;
}

@import 'interface-edit-section-links.less';

/* Prevent citations and subscripts from interfering with the line-height */
sup, /* FIXME: Remove after adding 'normalize.less' added to all 'legacy.less' calling skins. */
sub {
	line-height: 1;
}
