.mw-message-box {
	color: #000;
	box-sizing: border-box;
	margin-bottom: 16px;
	border: 1px solid;
	padding: 12px 24px;
	word-wrap: break-word;
	/* Standard property is `overflow-wrap` */
	overflow-wrap: break-word;
	overflow: hidden;
	background-color: #eaecf0;
	border-color: #a2a9b1;

	/* Ensure box inner spacing is not all over the place no matter what element is only child. */
	> :only-child {
		margin: 0;
	}

	// Used in MobileFrontend/Nearby extensions
	h2 {
		color: inherit;
		display: block;
		border: 0;
		font-size: 1em;
		font-weight: bold;
	}

	// Formerly provided by mw-warning-with-logexcerpt, now available for all messageboxes.
	.mw-logevent-loglines li {
		font-size: 90%;
	}
}

.mw-message-box-error {
	background-color: #fee7e6;
	border-color: #d33;
}

.mw-message-box-warning {
	background-color: #fef6e7;
	border-color: #fc3;
}

.mw-message-box-success {
	background-color: #d5fdf4;
	border-color: #14866d;
}
