@font-size-thumbinner-screen: 94%;
@font-size-thumbinner-print: 10pt;

@border-thumbinner-screen: 1px solid #c8ccd1;
@border-thumbinner-print: 1px;

@background-color-thumbinner-screen: #f8f9fa;
@background-color-thumbinner-print: #fff;

@color-thumbinner-print: #666;

@font-size-thumbcaption-screen: 94%;

@line-height-thumbcaption: 1.4em;

@margin-floatright: 0 0 0.5em 0.5em;
@margin-floatleft: 0 0.5em 0.5em 0;

@margin-bottom-thumb: 0.5em;

@margin-tright: 0.5em 0 1.3em 1.4em;
@margin-tleft: 0.5em 1.4em 1.3em 0;

@border-thumbimage-screen: 1px solid #c8ccd1;
@border-thumbimage-print: 1px;

@background-color-thumbimage-screen: #fff;

@border-thumbborder-screen: 1px solid #eaecf0;
@border-thumbborder-print: 1pt solid #ddd;

@background-image-magnify-ltr: url( images/magnify-clip-ltr.svg );
@background-image-magnify-rtl: url( images/magnify-clip-rtl.svg );
