// @since 1.36
@font-size-thumbinner: 94%;

// @since 1.36
@border-thumbinner: 1px solid #c8ccd1;

// @since 1.36
@background-color-thumbinner: #f8f9fa;

// @since 1.36
@font-size-thumbcaption: 94%;

// @since 1.36
@line-height-thumbcaption: 1.4em;

// @since 1.36
@margin-floatright: 0 0 0.5em 0.5em;

// @since 1.36
@margin-floatleft: 0 0.5em 0.5em 0;

// @since 1.36
@margin-bottom-thumb: 0.5em;

// @since 1.36
@margin-tright: 0.5em 0 1.3em 1.4em;

// @since 1.36
@margin-tleft: 0.5em 1.4em 1.3em 0;

// @since 1.36
@border-thumbimage: 1px solid #c8ccd1;

// @since 1.36
@background-color-thumbimage: #fff;

// @since 1.36
@border-thumbborder: 1px solid #eaecf0;

// @since 1.36
@background-image-magnify-ltr-1: url( images/magnify-clip-ltr.png );

// @since 1.36
@background-image-magnify-ltr-2: linear-gradient( transparent, transparent ), url( images/magnify-clip-ltr.svg );

// @since 1.36
@background-image-magnify-rtl-1: url( images/magnify-clip-rtl.png );

// @since 1.36
@background-image-magnify-rtl-2: linear-gradient( transparent, transparent ), url( images/magnify-clip-rtl.svg );
