@base100: rgb(55,55,55);
@base90: rgb(69,69,72);
@base80: rgb(43,43,46);
@base70: rgb(43,43,46);
@base30: rgb(43,43,46);
@base20: rgb(43,43,46);
@base0: rgb(206,206,207);

@red: #fd6a5d;
@red-bright: #fc1703;
@red-dark: #fea29a;

@green: rgb(55,55,55);
@green-bright: rgb(55,55,55);
@green-dark: rgb(55,55,55);

@blue: rgb(70, 160, 190);
@blue-bright: rgb(53, 126, 151);
@blue-dark: #7bbbd1;

@background: @base100;
@text: @base0;

@link: @blue;
@link-visited: @blue-dark;

@link-red: @red;
@link-red-visited: @red-dark;

// Flair

// Fonts are chosen for consistent metrics, not necessarily overall prettiness.
@fonts: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
@fonts-secondary: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
@fonts-mono: 'Menlo', 'Consolas', 'Monaco', 'Noto Mono', 'Nimbus Mono L', monospace;

@border: 0.2em;
@radius: 0.2em;
