@import '../../resources/common/variables.less';

/* mediawiki.notification */

.mw-notification-area {
	font-size: @font-size-notification;
}

.mw-notification-area-layout {
	top: 7em;
}

.mw-notification {
	border: @border-base;
	border-radius: @border-radius-base;
	box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );
}
