/* General-purpose icons via CSS. Classes here should be named "mw-icon-*". */

/* For the collapsed and expanded arrows, we also provide selectors to make it
 * easy to use them with jquery.makeCollapsible. */
.mw-icon-arrow-collapsed,
.mw-collapsible-arrow.mw-collapsible-toggle-collapsed {
	/* @embed */
	background: url(images/arrow-collapsed-ltr.png) no-repeat left bottom;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/arrow-collapsed-ltr.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(images/arrow-collapsed-ltr.svg);
	width: 12px;
	height: 12px;
	margin: 4px 4px 0 0;
}

.mw-icon-arrow-expanded,
.mw-collapsible-arrow.mw-collapsible-toggle-expanded {
	/* @embed */
	background: url(images/arrow-expanded.png) no-repeat left bottom;
        /* @embed */
        background-image: -webkit-linear-gradient(transparent, transparent), url(images/arrow-expanded.svg);
        /* @embed */
        background-image: linear-gradient(transparent, transparent), url(images/arrow-expanded.svg);
	width: 12px;
	height: 12px;
	margin: 4px 4px 0 0;
}
