
.mw-debug-profile-flyout {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s, left 0.2s, top 0.2s;
	display: none;
	padding: 10px;
	z-index: 2000;
	background-color: white;
	border: 1px solid black;
	max-height: 150px;
	overflow-y: auto;
}

.mw-debug-profile-meta {
	font-size: 10px;
}


