@import "../../settings/typography";
@import "../../mixins/effects";

// Buttons
//
// Styleguide 2.

@buttonBorderRadius: 3px;

// Button styling
//
// Basic button styling to be used on desktop skins. Can be any element.
// Due to a lack of a CSS reset, the exact styling of the button depends on what type of element is used.
//
// Markup:
// <button class="mw-ui-button">.mw-ui-button</button>
// <button class="mw-ui-button" disabled>.mw-ui-button</button>
//
// Styleguide 2.1.
.mw-ui-button {
	// Container layout
	display: inline-block;
	padding: .5em 1em;
	margin: 0;

	// IE6/IE7 hack
	// http://stackoverflow.com/a/5838575/365238
	*display: inline;
	zoom: 1;

	// Container styling
	.button-colors();
	border-radius: @buttonBorderRadius;

	// Ensure that buttons and inputs are nicely aligned when they have differing heights
	vertical-align: middle;

	// Content styling
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;

	// Interaction styling
	cursor: pointer;

	&:disabled {
		cursor: default;
	}

	&:hover {
		text-decoration: none;
	}

	// Button sizes and displays
	// -----------------------------------------
	&.mw-ui-big {
		font-size: @baseFontSize * 1.3;
	}
	&.mw-ui-block {
		display: block;
		width: 100%;
	}
}

// This overrides an underline declaration on a:hover and a:focus in commonElements.css, which the
// class alone isn't specific enough to do
a.mw-ui-button {
	text-decoration: none;
}

// Button groups
//
// Group of buttons. Make sure you clear the floating after using a mw-ui-button-group.
//
// Markup:
// <div class="mw-ui-button-group">
//   <div class="mw-ui-button">A</div>
//   <div class="mw-ui-button">B</div>
//   <div class="mw-ui-button">C</div>
//   <div class="mw-ui-button">D</div>
// </div><div style="clear:both"></div>
//
// Styleguide 2.2.
.mw-ui-button-group > * {
	border-radius: 0;
	float: left;

	&:first-child{
		border-top-left-radius: @buttonBorderRadius;
		border-bottom-left-radius: @buttonBorderRadius;
	}

	&:last-child{
		border-top-right-radius: @buttonBorderRadius;
		border-bottom-right-radius: @buttonBorderRadius;
	}
}
