// @deprecated since MW 1.39.0, use unprefixed `animation:` now.
.animation( ... ) {
	animation: @arguments;
}

// @deprecated since MW 1.39.0, use unprefixed `animation-delay:` now.
.animation-delay( ... ) {
	animation-delay: @arguments;
}

// @deprecated since MW 1.39.0, use unprefixed `transform: rotate( ... )` now.
.transform-rotate( @deg ) {
	transform: rotate( @deg );
}
