/**
 * Stylesheet for collapsible nav
 */

#mw-panel.collapsible-nav .portal {
	/* @embed */
	background: url(images/portal-break.png) left top no-repeat;
	padding: 0.25em 0 !important;
	margin: -11px 9px 10px 11px;
}

#mw-panel.collapsible-nav .portal h3 {
	color: #4D4D4D;
	font-weight: normal;
	/* @embed */
	background: url(images/open.png) left center no-repeat;
	/* SVG support using a transparent gradient to guarantee cross-browser
	 * compatibility (browsers able to understand gradient syntax support also SVG) */
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/open.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(images/open.svg);
	padding: 4px 0 3px 1.5em;
	margin-bottom: 0;
}

#mw-panel.collapsible-nav .portal h3:hover {
	cursor: pointer;
	text-decoration: none;
}

#mw-panel.collapsible-nav .portal h3 a {
	color: #4D4D4D;
	text-decoration: none;
}

#mw-panel.collapsible-nav .portal .body {
	background-image: none !important;
	padding-top: 0;
	display: none;
}

#mw-panel.collapsible-nav .portal .body ul li {
	padding: 0.25em 0;
}

/* First */
#mw-panel.collapsible-nav .portal.first h3 {
	display: none;
}

#mw-panel.collapsible-nav .portal.first {
	background-image: none;
	margin-top: 0;
}

/* Persistent */

#mw-panel.collapsible-nav .portal.persistent .body {
	display: block;
}

#mw-panel.collapsible-nav .portal.persistent h3 {
	background-image: none !important;
	padding-left: 0.7em;
	cursor: default;
}

#mw-panel.collapsible-nav .portal.persistent .body {
	margin-left: 0.5em;
}

/* Collapsed */

#mw-panel.collapsible-nav .portal.collapsed h3 {
	color: #0645AD;
	/* @embed */
	background: url(images/closed-ltr.png) left center no-repeat;
	/* SVG support using a transparent gradient to guarantee cross-browser
	 * compatibility (browsers able to understand gradient syntax support also SVG) */
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(./images/closed-ltr.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(./images/closed-ltr.svg);
	margin-bottom: 0;
}

#mw-panel.collapsible-nav .portal.collapsed h3 a {
	color: #0645AD;
}

#mw-panel.collapsible-nav .portal.collapsed h3:hover {
	text-decoration: underline;
}
