/**
 * Uncollapse collapsible tables/divs.  The proper way to do this 
 * for tables is to use display:table-row, but this is not supported 
 * by all browsers, so use display:block as fallback. Equally, the >
 * selector is not supported by IE<7, so the fourth rule is recognised
 * only by IE6 and below.
 */
table.collapsible tr {
    display: block !important;
}
table.collapsible tr {
    display: table-row !important;
}
div.collapsible > * {
	display: auto !important;
}
* html div.collapsible * {
	display: auto !important;
}