@import 'mediawiki.skin.variables.less';

.mw-special-EditRecovery-LoadNotification-buttons {
	margin-top: @size-50;
	text-align: center;
	display: flex;
	flex-wrap: wrap;

	// Allow long phrases in buttons to wrap to multiple lines rather than extend outside the notification box.
	.oo-ui-buttonElement > .oo-ui-buttonElement-button {
		white-space: normal;
	}

	.oo-ui-buttonWidget,
	.oo-ui-buttonWidget:last-child {
		// Remove trailing margins (because we handle horizontal spacing above), and add a top
		// margin to keep separation between the buttons and between the buttons and the text above.
		margin: @size-50 auto 0 auto;
	}
}
