.mw-feedbackDialog {
	&-welcome-message,
	&-feedback-terms {
		line-height: 1.4;
	}

	&-welcome-message {
		margin-bottom: 1em;
	}

	&-feedback {
		&-terms p:first-child {
			margin-top: 0;
		}

		&-termsofuse {
			margin-left: 2em;
		}

		/* Overwriting OOUI */
		&-form .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body {
			> .oo-ui-fieldLayout-header {
				min-width: 4.2em;
				width: 20%;
			}

			> .oo-ui-fieldLayout-field {
				width: 80%;
			}
		}
	}
}
