/* stylelint-disable selector-class-pattern */

/**
 * Avoid the need to calculate paddings individually
 * https://stackoverflow.com/a/7310398
 */
.mw-gallery-traditional .gallerybox > .thumb {
	&::before {
		content: '';
		vertical-align: middle;
		display: inline-block;
		height: 100%;
	}

	> * {
		vertical-align: middle;
		display: inline-block;
	}
}
