@colorWhite: #fff;
@colorGrayLight: #ccc;
@colorGrayDark: #898989;
@colorText: #252525;
@colorProgressive: #3c68b1;
// FIXME: remove this one
@colorProgressiveShadow: #4091ed;
@colorConstructive: #00af89;
@colorDestructive: #d11d13;
