@colorWhite: #fff;
@colorGrayLight: #ccc;
@colorGrayDark: #898989;
@colorText: #252525;
@colorProgressive: #347bff;
// FIXME: remove @colorProgressiveShadow (shadows should be generated
// in LESS by dimming the original colors)
@colorProgressiveShadow: #4091ed;
@colorConstructive: #00af89;
@colorDestructive: #d11d13;
