.mw-special-BlockList {
	.oo-ui-fieldsetLayout-group {
		max-width: 50em;
	}

	.oo-ui-layout {
		&.mw-field-block-type,
		&.mw-field-limit.mw-has-field-block-type {
			display: inline-block;
			width: 50%;
			box-sizing: border-box;
			margin-top: 0;
		}

		&.mw-field-block-type {
			padding-right: 1em;
		}
	}
}
