/*!
 * Styles for Special:Block
 */

.mw-special-Block .mw-htmlform {
	> .oo-ui-panelLayout-framed {
		border: 0;
	}

	> .oo-ui-panelLayout-padded {
		padding: 0;
	}
}

// Affects sitewide/partial radio, partial action checkboxes, and block detail checkboxes
.mw-block-editing-restriction.oo-ui-fieldLayout,
.mw-block-action-restriction .oo-ui-checkboxMultioptionWidget,
.mw-block-restriction.oo-ui-labelElement {
	margin-top: 12px;
}

.mw-block-partial-restriction.oo-ui-fieldLayout {
	// Match spacing of partial action checkboxes to block detail checkboxes
	.oo-ui-checkboxMultioptionWidget {
		padding: 0;
	}
}

.mw-block-hideuser,
.mw-block-confirm {
	font-weight: bold;
}

#mw-input-wpReason {
	.oo-ui-dropdownInputWidget,
	.oo-ui-textInputWidget {
		display: block;
		max-width: 50em;
	}

	.oo-ui-textInputWidget {
		margin-top: 0.5em;
	}
}

.mw-ipb-conveniencelinks {
	font-size: 90%;
	text-align: right;
}
