/* interwiki search results */
/*==========================*/

.mw-searchresults-has-iw {

	.iw-headline {
		font-weight: bold;
	}

	.iw-results {
		list-style: none;
		margin: 0;
	}

	.iw-resultset {
		padding: 0.5em;
		vertical-align: top;
		width: 100%;
		box-sizing: border-box;
		float: left;
		list-style-type: none;
		background-color: #f8f9fa;
		margin-bottom: 1em;
	}

	/* clearfix */
	.iw-result:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: ' ';
		clear: both;
		height: 0;
	}

	.iw-result__title {
		font-size: 108%; /* matching regular search title */
	}

	.iw-result__content:after { /* clearfix */
		visibility: hidden;
		display: block;
		font-size: 0;
		content: ' ';
		clear: both;
		height: 0;
	}

	.iw-result__footer {
		float: right;
		font-size: 97%; /* matching main search result font-size */
	}
	.iw-result__footer a {
		vertical-align: middle;
		color: #72777d;
	}
	.iw-result__icon {
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
		vertical-align: middle;
		margin-right: 0.25em;
		background-size: 100% 100%;
	}

	@interwikiContentTypes: definition, travel, quotation, book, course, news, textbook, image;

	.generate-iwIcons();

	.generate-iwIcons( @i:1 ) when ( @i =< length( @interwikiContentTypes ) ) {
		@iwIcon: extract( @interwikiContentTypes, @i );

		.iw-result__icon--@{iwIcon} {
			/*  stylelint-disable-next-line function-url-quotes */
			background-image: url( 'images/special.search/@{iwIcon}-icon.png' );
		}

		.generate-iwIcons( @i + 1 );
	}

	/* image search result */
	.iw-result__mini-gallery {
		position: relative;
		float: left;
		width: 60%;
		height: 200px;
		box-sizing: border-box;
		padding: 0.25rem;
	}

	/* second and third images are small */
	.iw-result__mini-gallery:nth-child( 2 ),
	.iw-result__mini-gallery:nth-child( 3 ) { /* stylelint-disable-line indentation */
		width: 40%;
		height: 100px;
	}

	.iw-result__mini-gallery__image {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.iw-result__mini-gallery__image > .iw-result__mini-gallery__caption { /* image gallery text */
		visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		color: #fff;
		text-shadow: 0 0 10px rgba( 0, 0, 0, 0.4 ); /* improves legibility on white background*/
		font-size: 0.8em;
		padding: 5px;
		background-color: rgba( 0, 0, 0, 0.5 );
	}

	.iw-result__mini-gallery__image:hover > .iw-result__mini-gallery__caption {
		visibility: visible;
	}

	/* desktop only */

	@media only screen and ( min-width: @deviceWidthTablet ) {

		#mw-interwiki-results {
			width: 30%;
			display: inline-block; /* used to align iw sidebar with the top of the main search results*/
			margin-left: 10%;
		}
		.mw-search-createlink,
		.mw-search-nonefound,
		.mw-search-results {
			float: left;
			width: 60%;
			clear: left;
			max-width: 60%;
		}
	}
}
