/* Special:AllMessages */
#mw-allmessagestable .allmessages-customised td.am_default {
	background-color: #fcffc4;
}

#mw-allmessagestable tr.allmessages-customised:hover td.am_default {
	background-color: #faff90;
}

#mw-allmessagestable td.am_actual {
	background-color: #e2ffe2;
}

#mw-allmessagestable tr.allmessages-customised:hover + tr.allmessages-customised td.am_actual {
	background-color: #b1ffb1;
}

/* Common for Special:Allpages and Special:PrefixIndex */
.mw-allpages-body, .mw-prefixindex-body {
	columns: 22em 3;
	-moz-columns: 22em 3;
	-webkit-columns: 22em 3;
	break-inside: avoid-column;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}
.allpagesredirect {
	font-style: italic;
}

/* Special:Block */
p.mw-ipb-conveniencelinks {
	font-size: 90%;
	text-align: right;
}

/* Special:BlockList */
table.mw-blocklist span.mw-usertoollinks,
span.mw-blocklist-actions {
	white-space: nowrap;
	font-size: 90%;
}

/* Special:Contributions */
.mw-uctop {
	font-weight: bold;
}
.mw-contributions-form select {
	vertical-align: middle;
}

/* Special:EditWatchlist */
.watchlistredir {
	font-style: italic;
}

/* Special:EmailUser */
td#mw-emailuser-sender,
td#mw-emailuser-recipient {
	font-weight: bold;
}

/* Special:FileDuplicateSearch */
#mw-fileduplicatesearch-icon {
	float: right;
}

/* Special:ListGroupRights */
table.mw-listgrouprights-table tr {
	vertical-align: top;
}
.listgrouprights-revoked {
	text-decoration: line-through;
}

/* Special:RevisionDelete */
p.mw-revdel-editreasons {
	font-size: 90%;
	text-align: right;
}

/* Special:Specialpages */
.mw-specialpagerestricted {
	font-weight: bold;
}

.mw-specialpages-list {
	-webkit-columns: 16em 2;
	-moz-columns: 16em 2;
	columns: 16em 2;
}

/* Special:Statistics */
td.mw-statistics-numbers {
	text-align: right;
}

/* Special:ProtectedPages */
table.mw-protectedpages span.mw-usertoollinks,
span.mw-protectedpages-length,
span.mw-protectedpages-actions {
	white-space: nowrap;
	font-size: 90%;
}
span.mw-protectedpages-unknown {
	color: #808080;
	font-size: 90%;
}

/* Special:UserRights */
.mw-userrights-disabled {
	color: #888;
}
table.mw-userrights-groups * td,
table.mw-userrights-groups * th {
	padding-right: 1.5em;
}
