/* Special:Search */

/*
 * Fixes sister projects box moving down the extract
 * of the first result (bug #16886).
 * It only happens when the window is small and
 * This changes slightly the layout for big screens
 * where there was space for the extracts and the
 * sister projects and thus it showed like in any
 * other browser.
 *
 * This will only affect IE 7 and lower
 */
.searchresult {
	display: inline !ie;
}
.searchresults {
}
.searchresults p {
	margin-left: 0.4em;
	margin-top: 1em;
	margin-bottom: 1.2em;
}
div.searchresult {
	font-size: 95%;
	width: 38em;
}
.mw-search-results {
	margin-left: 0.4em;
	float: left;
}
.mw-search-results li {
	padding-bottom: 1.2em;
	list-style: none;
	list-style-image: none;
}
.mw-search-results li a {
	font-size: 108%;
}
.mw-search-result-data {
	color: green;
	font-size: 97%;
}
.mw-search-profile-tabs {
	background-color: #f3f3f3;
	margin-top: 1em;
	border: 1px solid silver;
}
.mw-search-profile-tabs div.search-types {
	float: left;
	padding-left: 0.25em;
}
.mw-search-profile-tabs div.search-types ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}
.mw-search-profile-tabs div.search-types ul li {
	float: left;
	margin: 0;
	padding: 0;
}
.mw-search-profile-tabs div.search-types ul li a {
	display: block;
	padding: 0.5em;
}
.mw-search-profile-tabs div.search-types ul li.current a {
	color: #333333;
	cursor: default;
}
.mw-search-profile-tabs div.search-types ul li.current a:hover {
	text-decoration: none;
}
#mw-search-top-table div.results-info {
	float: right;
	padding: 0.5em;
	padding-right: 0.75em;
	color: #666;
	font-size: 95%;
}

fieldset#mw-searchoptions {
	margin: 0;
	padding: 0.5em 0.75em 0.75em 0.75em !important;
	border: none;
	background-color: #f9f9f9;
	border: 1px solid silver !important;
	border-top-width: 0 !important;
}
fieldset#mw-searchoptions legend {
	display: none;
}
fieldset#mw-searchoptions h4 {
	padding: 0;
	margin: 0;
	float: left;
}
fieldset#mw-searchoptions div#mw-search-togglebox {
	float: right;
}
fieldset#mw-searchoptions div#mw-search-togglebox label {
	margin-right: 0.25em;
}
fieldset#mw-searchoptions div#mw-search-togglebox input {
	margin-left: 0.25em;
}
fieldset#mw-searchoptions table {
	float: left;
	margin-right: 3em;
	border-collapse: collapse;
}
fieldset#mw-searchoptions table td {
	padding: 0 1em 0 0;
	white-space: nowrap;
}
fieldset#mw-searchoptions div.divider {
	clear: both;
	border-bottom: 1px solid #DDDDDD;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}
td#mw-search-menu {
	padding-left:6em;
	font-size:85%;
}
div#mw-search-interwiki {
	float: right;
	width: 18em;
	border: 1px solid #AAAAAA;
	margin-top: 2ex;
}
div#mw-search-interwiki li {
	font-size: 95%;
}
.mw-search-interwiki-more {
	float: right;
	font-size: 90%;
}
div#mw-search-interwiki-caption {
	text-align: center;
	font-weight: bold;
	font-size: 95%;
}
.mw-search-interwiki-project {
	font-size: 97%;
	text-align: left;
	padding: 0.15em 0.15em 0.2em 0.2em;
	background-color: #ececec;
	border-top: 1px solid #BBBBBB;
}
span.searchalttitle {
	font-size: 95%;
}
div.searchdidyoumean {
	font-size: 127%;
	margin-top: 0.8em;
	/* Note that this color won't affect the link, as desired. */
	color: #c00;
}
div.searchdidyoumean em {
	font-weight: bold;
}
.searchmatch {
	font-weight: bold;
}
/* Advanced PowerSearch box */
td#mw-search-togglebox {
	text-align: right;
}
table#mw-search-powertable {
	width: 100%;
}
form#powersearch {
	clear: both;
}
