/*!
 * Styling for Special:Watchlist
 */
.mw-changelist-line-inner-unwatched {
	text-decoration: line-through;
	opacity: 0.5;
}

.mw-changeslist-line-prefix {
	width: 1.25em;
	display: inline-block;
}
