/*!
 * Styling for Special:UserRights
 */
.mw-userrights-nested {
	margin-left: 1.2em;
}

.mw-userrights-nested span {
	margin-left: 0.3em;
	display: inline-block;
	vertical-align: middle;
}

.mw-userrights-disabled {
	color: #72777d;
}
.mw-userrights-groups * td,
.mw-userrights-groups * th {
	padding-right: 1.5em;
}

.mw-userrights-groups * th {
	text-align: left;
}

/* Support: Firefox 57 https://bugzilla.mozilla.org/1418152 */
#mw-userrights-form2 input[type='checkbox']:not( :checked ) ~ div { /* stylelint-disable-line selector-attribute-brackets-space-inside */
	display: none;
}
