/* Reuses colors from mediawiki.special.changeemail.css */
.mw-email-not-authenticated .mw-input,
.mw-email-none .mw-input{
	border: 1px solid #FF8080;
	background-color: #FFC0C0;
	color: black;
}
/* Authenticated email field has its own class too. Unstyled by default */
/*
.mw-email-authenticated .mw-input { }
*/

/*
 * Hide, but keep accessible for screen-readers.
 * Like .mw-jump, #jump-to-nav from shared.css
 */
.mw-navigation-hint {
	overflow: hidden;
	height: 0;
	zoom: 1;
}

/* When JS is enabled, .mw-preferences-messageboxes are replaced with mw.notifications */
.mw-preferences-messagebox {
	display: none;
}

.prefsection td.mw-label {
	width: 20%;
}

.prefsection table {
	width: 100%;
}

.prefsection table.mw-htmlform-matrix {
	width: auto;
}
