/* Special:AllMessages */
#mw-allmessagestable .allmessages-customised .am_default {
	background-color: #fcffc4;
}

#mw-allmessagestable .allmessages-customised:hover .am_default {
	background-color: #faff90;
}

#mw-allmessagestable .am_actual {
	background-color: #e2ffe2;
}

#mw-allmessagestable .allmessages-customised:hover + .allmessages-customised .am_actual {
	background-color: #b1ffb1;
}

/* Common for Special:Allpages and Special:PrefixIndex */
.mw-allpages-body,
.mw-prefixindex-body {
	columns: 22em 3;
	-moz-columns: 22em 3;
	-webkit-columns: 22em 3;
	break-inside: avoid-column;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}

.mw-allpages-chunk,
.mw-prefixindex-list {
	margin-top: 0;
	margin-bottom: 0;
}

.allpagesredirect {
	font-style: italic;
}

/* Special:Block */
.mw-ipb-conveniencelinks {
	font-size: 90%;
	text-align: right;
}

.mw-block-hideuser,
.mw-block-confirm {
	font-weight: bold;
}

#mw-input-wpReason .oo-ui-dropdownInputWidget,
#mw-input-wpReason .oo-ui-textInputWidget {
	display: block;
	max-width: 50em;
}

#mw-input-wpReason .oo-ui-textInputWidget {
	margin-top: 0.5em;
}

/* Special:BlockList */
.mw-blocklist .mw-usertoollinks,
.mw-blocklist-actions {
	white-space: nowrap;
	font-size: 90%;
}

/* Special:Contributions */
.mw-uctop {
	font-weight: bold;
}
.mw-contributions-form select {
	vertical-align: middle;
}

/* Special:EditWatchlist */
.watchlistredir {
	font-style: italic;
}

/* Special:EmailUser */
#mw-emailuser-sender,
#mw-emailuser-recipient {
	font-weight: bold;
}

/* Special:FileDuplicateSearch */
#mw-fileduplicatesearch-icon {
	float: right;
}

/* Special:ListGroupRights */
.mw-listgrouprights-table tr {
	vertical-align: top;
}
.listgrouprights-revoked {
	text-decoration: line-through;
}

/* Special:RevisionDelete */
.mw-revdel-editreasons {
	font-size: 90%;
	text-align: right;
}

/* Special:Specialpages */
.mw-specialpagerestricted {
	font-weight: bold;
}

.mw-specialpages-list {
	-webkit-columns: 16em 2;
	-moz-columns: 16em 2;
	columns: 16em 2;
}

.mw-specialpages-list ul {
	margin-top: 0;
	margin-bottom: 0;
}

/* Special:Statistics */
.mw-statistics-numbers {
	text-align: right;
}

/* Special:ProtectedPages */
.mw-protectedpages .mw-usertoollinks,
.mw-protectedpages-length,
.mw-protectedpages-actions {
	white-space: nowrap;
	font-size: 90%;
}
.mw-protectedpages-unknown {
	color: #72777d;
	font-size: 90%;
}
