/*!
 * Styling for Special:Watchlist and Special:RecentChanges
 */

.mw-changeslist-line-watched .mw-title {
	font-weight: bold;
}

/*
 * Titles, including username links, and also tag names
 * are prone to getting jumbled up
 * with other titles, usernames, etc. in mixed RTL-LTR environment.
 */
.mw-changeslist .mw-tag-marker,
.mw-changeslist .mw-title {
	unicode-bidi: embed;
}

/* Colored watchlist and recent changes numbers */
.mw-plusminus-pos {
	color: #006400; /* dark green */
}

.mw-plusminus-neg {
	color: #8b0000; /* dark red */
}

.mw-plusminus-null {
	color: #a2a9b1; /* gray */
}

/*
 * Bidi-isolate these numbers.
 * See https://phabricator.wikimedia.org/T93484
 */
.mw-plusminus-pos,
.mw-plusminus-neg,
.mw-plusminus-null {
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
}

/* Prevent FOUC if legend is initially collapsed */
.mw-changeslist-legend.mw-collapsed .mw-collapsible-content {
	display: none;
}

.mw-changeslist-legend.mw-collapsed {
	margin: 0;
}

/* Prevent pushing down of content if legend is initially collapsed */
.mw-changeslist-legend.mw-collapsed ~ ul:first-of-type > li:first-child {
	clear: right;
}

/* Absolute positioning to avoid table overlap with floating elements */
.mw-changeslist > .mw-changeslist-legend.mw-enhanced {
	background-color: #fff;
	position: absolute;
	right: 0;
}
