/*!
 * Styling for Special:Version
 */
.mw-version-ext-name,
.mw-version-library-name {
	font-weight: bold;
}

.mw-version-ext-license,
.mw-version-ext-vcs-timestamp {
	white-space: nowrap;
}

th.mw-version-ext-col-label {
	font-size: 0.9em;
}

.mw-version-ext-vcs-version {
	unicode-bidi: embed;
}
