/* Reuses colors from mediawiki.legacy/shared.css */
.mw-email-not-authenticated .oo-ui-labelWidget,
.mw-email-none .oo-ui-labelWidget {
	border: 1px solid #fde29b;
	background-color: #fdf1d1;
	color: #000;
}
/* Authenticated email field has its own class too. Unstyled by default */
/*
.mw-email-authenticated .oo-ui-labelWidget { }
*/

/* This is needed because add extra buttons in a weird way */
.mw-prefs-buttons .mw-htmlform-submit-buttons {
	margin: 0;
	display: inline;
}

.mw-prefs-buttons {
	margin-top: 1em;
}

#prefcontrol {
	margin-right: 0.5em;
}

/*
 * Hide, but keep accessible for screen-readers.
 * Like .mw-jump, #jump-to-nav from shared.css
 */
.client-js .mw-navigation-hint {
	overflow: hidden;
	height: 0;
	zoom: 1;
}

/* Override OOUI styles so that dropdowns near the bottom of the form don't get clipped,
 * e.g.'Appearance' / 'Threshold for stub link formatting'. This is hacky and bad, it would be
 * better solved by setting overlays for the widgets, but we can't do it from PHP... */
#preferences .oo-ui-panelLayout {
	position: static;
	overflow: visible;
	-webkit-transform: none;
	transform: none;
}

#preferences .oo-ui-panelLayout-framed .oo-ui-panelLayout-framed {
	border-color: #c8ccd1;
	border-width: 1px 0 0;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	box-shadow: none;
}

/* Tweak the margins to reduce the shifting of form contents
 * after JS code loads and rearranges the page */
.client-js #preferences > .oo-ui-panelLayout {
	margin: 1em 0;
}

.client-js #preferences .oo-ui-panelLayout-framed .oo-ui-panelLayout-framed {
	margin-left: 0.25em;
}

.client-js #preferences .oo-ui-tabPanelLayout {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.client-js #preferences .oo-ui-tabPanelLayout .oo-ui-panelLayout-framed {
	margin-left: 0;
	margin-bottom: 0;
	border: 0;
	padding-top: 0;
}

.client-js #preferences > .oo-ui-panelLayout > .oo-ui-fieldsetLayout > .oo-ui-fieldsetLayout-header {
	margin-bottom: 1em;
}
