/* User login and signup forms */
.mw-form-related-link-container {
	margin: 0.5em 0;
	text-align: center;
}

.mw-form-related-link-container .oo-ui-labelWidget {
	display: block;
}

.mw-secure {
	/* @embed */
	background: url( images/icon-lock.png ) no-repeat left center;
	margin: 0 0 0 1px;
	padding: 0 0 0 11px;
}

.mw-aside {
	/* This is weird and fragile, but we can't just do 'float: right' due to FieldLayout's styles. */
	position: absolute;
	right: 0;
}

#userloginForm {
	width: 25em;
}

/* Reposition and resize language links, which appear on a per-wiki basis */
#languagelinks {
	margin-bottom: 2em;
	font-size: 0.8em;
}

/* ConfirmEdit's CAPTCHA */
.fancycaptcha-captcha-container {
	background-color: #f8f8f8;
	border: 1px solid #c9c9c9;
	padding: 10px;
	text-align: center;
}

/* Make the buttons full-width to overall form. */
/* Limit to .oo-ui-fieldLayout-body to avoid messing up the "help" icon buttons. */
.oo-ui-fieldLayout-body .oo-ui-buttonElement,
.oo-ui-fieldLayout-body .oo-ui-buttonElement-button {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
