/*!
 * Styles for Special:Upload
 */
.mw-destfile-warning {
	border: 1px solid #fde29b;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	color: #705000;
	background-color: #fdf1d1;
}

.mw-destfile-warning::after {
	content: '';
	clear: both;
	display: block;
}

p.mw-upload-editlicenses {
	font-size: 90%;
	text-align: right;
}
