/*!
 * Styles for Special:UserRights
 */

#mw-userrights-form2 .mw-htmlform-field-HTMLSelectOrOtherField {
	margin-left: 26px;
}

/* Customizations for 2-column layout of form for editing groups */

#mw-userrights-form2 .oo-ui-panelLayout-framed {
	border: 0;
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	vertical-align: top;
}

#mw-userrights-form2 .oo-ui-panelLayout-padded {
	padding: 0;
}

#mw-userrights-form2 .mw-widget-selectWithInputWidget .oo-ui-textInputWidget {
	padding-top: 0.5em;

	/*
	 * Make maximum width consistent with the dropdown, as defined in
	 * mw.widgets.SelectWithInputWidget.base.less
	 */
	max-width: 20em;

	/*
	 * Avoid FOUC on page load, since the default value will never be "Other".
	 * When the user selects "Other", OOUI adds styles that will make this
	 * visible again.
	 */
	display: none;
}
