@import '../../common/variables.less';

.client-nojs .vector-settings {
	display: none;
}

.vector-settings {
	position: fixed;
	bottom: 8px;
	right: 8px;
}

/**
 * Limited width toggle - a button which lets users change the layout from
 * a fixed-width content column to a layout where the content takes up the
 * full window width.
 */

// By default, toggle should be hidden unless the breakpoint below is reached.
.vector-limited-width-toggle,
.vector-limited-width-popup {
	display: none;
}

// Note on certain pages the control will have no effect e.g. Special:RecentChanges
// Defining this at 1400px is a product decision so do not change it
// (more context at https://phabricator.wikimedia.org/T326887#8540889)
@media ( min-width: 1400px ) {
	.vector-limited-width-toggle,
	.vector-limited-width-popup {
		display: block;
	}
}
