@import '../../common/variables.less';
@import '../../common/mixins.less';
@import 'mediawiki.mixins.less';

// Ensure there is only 1 main menu landmark at anytime
&.vector-feature-main-menu-pinned-enabled .vector-header-start .vector-main-menu-landmark,
&.vector-feature-main-menu-pinned-disabled .vector-main-menu-container .vector-main-menu-landmark {
	display: none;
}

.vector-main-menu {
	box-sizing: border-box;

	// Hide #p-navigation label
	#p-navigation .vector-menu-heading {
		display: none;
	}

	// Match styles of .mw-list-item a in PinnableElement.less
	.vector-main-menu-action-opt-out a,
	.vector-main-menu-action-lang-alert .vector-main-menu-action-content {
		.mixin-vector-dropdown-menu-item();
	}

	.vector-main-menu-action-opt-out a {
		font-weight: bold;
	}

	.vector-main-menu-action-lang-alert .vector-main-menu-action-content {
		padding-top: 0;
	}

	.vector-language-sidebar-alert {
		// Override default .mw-message-box styles
		padding: 8px;
		margin: 0;
	}
}

// Main menu when pinned in the sidebar
#vector-main-menu-pinned-container .vector-main-menu {
	// Align the left edge of the text with the page container
	margin-left: -@padding-horizontal-dropdown-menu-item;
	// Align border under pinnable header with border under page title
	margin-top: 11px;
	padding: @padding-vertical-dropdown-menu-item @padding-horizontal-dropdown-menu-item;
	background-color: @background-color-secondary--modern;

	// Match styles of .mw-list-item a in PinnableElement.less
	.vector-main-menu-action-opt-out a,
	.vector-main-menu-action-lang-alert .vector-main-menu-action-content {
		padding-left: 0;
		padding-right: 0;
	}
}

// Main menu when unpinned in the dropdown
#vector-main-menu-unpinned-container .vector-main-menu {
	.vector-language-sidebar-alert {
		margin-bottom: 6px;
	}
}
