.mw-addcategory-prompt {
	display: inline;
}

.mw-addcategory-prompt input {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.mw-remove-category {
	padding: 2px 8px;
	display: inline;
}
.mw-removed-category {
	text-decoration: line-through;
}

#catlinks:hover .icon {
	opacity: 1;
}
#catlinks ul {
	margin-right: 2em;
}

.mw-ajax-addcategory-holder {
	display: inline-block;
}
.mw-ajax-addcategory {
	margin-right: 1em;
	cursor: pointer;
	display: inline-block;
}

#catlinks .icon {
	cursor: pointer;
	padding: 1px 8px;
	margin: 0;
	background-position: 0 0 ;
	background-repeat: no-repeat;
	opacity: 0.5;

}
#catlinks .icon-parent {
	cursor: pointer;
	margin-right: 1em;
}
#catlinks .icon-close {
	/* @embed */ background-image: url(images/ajaxcat-close.png);
}
#catlinks .icon-edit {
	/* @embed */ background-image: url(images/ajaxcat-edit.png);
}
#catlinks .icon-tick {
	/* @embed */ background-image: url(images/ajaxcat-tick.png);
}
#catlinks .icon-add {
	/* @embed */ background-image: url(images/ajaxcat-add.png);
}
#catlinks .icon-close:hover {
	/* @embed */ background-image: url(images/ajaxcat-close-hover.png);
}
#catlinks .icon-edit:hover {
	/* @embed */ background-image: url(images/ajaxcat-edit-hover.png);
}
#catlinks .icon-tick:hover {
	/* @embed */ background-image: url(images/ajaxcat-tick-hover.png);
}
#catlinks .icon-add:hover {
	/* @embed */ background-image: url(images/ajaxcat-add-hover.png);
}
