/**
 * Common LESS mixin library for MediaWiki
 *
 * By default the folder containing this file is included in $wgResourceLoaderLESSImportPaths,
 * which makes this file importable by all less files via '@import "mediawiki.mixins";'.
 *
 * The mixins included below are considered a public interface for MediaWiki extensions.
 * The signatures of parametrized mixins should be kept as stable as possible.
 *
 * See <http://lesscss.org/#-mixins> for more information about how to write mixins.
 */

.background-image(@url) when (embeddable(@url)) {
	background-image: embed(@url);
	background-image: url(@url)!ie;
}

.background-image(@url) when not (embeddable(@url)) {
	background-image: url(@url);
}

/* Attempts to render an svg as a background falling back to @fallback when unavailable */
.background-image-svg(@svg, @fallback) when (embeddable(@url)) {
	background-image: embed(@fallback);
	/* SVG support using a transparent gradient to guarantee cross-browser
	 * compatibility (browsers able to understand gradient syntax support also SVG) */
	background-image: -webkit-linear-gradient(transparent, transparent), embed(@url);
	background-image: linear-gradient(transparent, transparent), embed(@url);
}

.background-image-gradient(@url, @fallback) when not (embeddable(@url)) {
	background-image: url(@fallback);
	/* SVG support using a transparent gradient to guarantee cross-browser
	 * compatibility (browsers able to understand gradient syntax support also SVG) */
	background-image: -webkit-linear-gradient(transparent, transparent), url(@url);
	background-image: linear-gradient(transparent, transparent), url(@url);
}
