/**
 * Common LESS mixin library for MediaWiki
 *
 * By default the folder containing this file is included in $wgResourceLoaderLESSImportPaths,
 * which makes this file importable by all less files via '@import "mediawiki.mixins";'.
 *
 * The mixins included below are considered a public interface for MediaWiki extensions.
 * The signatures of parametrized mixins should be kept as stable as possible.
 *
 * See <http://lesscss.org/#-mixins> for more information about how to write mixins.
 */

.background-image(@url) when (embeddable(@url)) {
	background-image: embed(@url);
	background-image: url(@url)!ie;
}

.background-image(@url) when not (embeddable(@url)) {
	background-image: url(@url);
}
