@import 'mediawiki.skin.variables.less';

.mw-specialwatchlistlabels-table th:last-child,
.mw-specialwatchlistlabels-table td:last-child {
	text-align: right;
}

.mw-specialwatchlistlabels-table .cdx-table__header__header-content {
	display: flex;
	gap: @size-50;
}

// T412304
.mw-specialwatchlistlabels-table .cdx-table__table__empty-state .cdx-table__table__empty-state-content {
	text-align: center;
}

.mw-specialwatchlistlabels-icon {
	&--edit {
		.cdx-mixin-css-icon( @cdx-icon-edit, @param-is-button-icon: true );
	}

	&--trash {
		.cdx-mixin-css-icon( @cdx-icon-trash );
	}
}
