/* The "check all" checkbox for each namespace on Special:EditWatchlist
   does not function without JavaScript. */
.client-nojs .mw-watchlistedit-checkall {
	display: none;
}

#namespace-selector-form {
	select {
		width: 100%;
	}
}

.client-js & {
	#namespace-selector-form .mw-htmlform-submit-buttons {
		display: none;
	}
}
