.mw-body a.external.text:after,
.mw-body a.external.autonumber:after {
    content: "";
}

.mw-body a.external.text[href^='//']:after,
.mw-body a.external.autonumber[href^='//']:after {
    content: "";
}

.mw-body ol.references a.external.text:after,
.mw-body ol.references a.external.autonumber:after {
    content: " (" attr( href ) ")";
    word-break: break-all;
    word-wrap: break-word;
}

.mw-body ol.references a.external.text[href^='//']:after,
.mw-body ol.references a.external.autonumber[href^='//']:after {
    content: " (https:" attr( href ) ")";
}