/* the css file for sequence styles */
.mv_head_jump{
	font-family:"verdana","helvetica","arial",sans-serif;
	font-size:11px;
	background:#CCCCCC;
	z-index:1;
}
.mv_playline{
	position:absolute;
	background:gray;
	top:20px;
	left:0px;
	width:2px;
	bottom:0px;
	z-index:10;
	overflow:visible; 
}
.mv_playline_top{
	position:absolute;
	top:-5px;
	left:-7px;
	width:16px;
	height:16px;	
	background:url("images/opened.png");
}
.mv_story_playline{
	position:absolute;
	background:blue;
	top:0px;
	left:0px;
	width:2px;
	height:100%;
	bottom:0px;
	z-index:10;
	overflow:visible; 
}
.mv_seq_tracks{
	position:absolute;left:90px;top:0px;right:12px;bottom:0px;overflow:auto;
}
.mv_tl_left_cnt{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:85px;
}
.track_name{
	font-family:"verdana","helvetica","arial",sans-serif;
	font-size:12px;
	width:85px;
	position:absolute;
	background:#CCCCCC;
}
.container_track{
	position:absolute;
	border:solid thin gray;

}
/**************************/
.clip_img{
	}
.clip_edit_button{	
	width:16px;
	height:16px;
	position:absolute;
	top:0px;
	right:50px;
	cursor:pointer;
}
.clip_trans_box{
	border:solid thin black;
	width:32px;
	height:32px;
	position:absolute;
	top:27px;
	right:15px;
}

.clip_edit_base{
	background: url("images/uni_edit_bw.png");
}
.clip_edit_over{
	background: url('images/uni_edit_color.png');
}
.mv_time_clip_text{
	font-family:"verdana","helvetica","arial",sans-serif;
	font-size:12px;
}
.mv_clip_cnt{
	position:absolute;
	width:16px;
	height:16px;
}

.ui-drag-e{ cursor: e-resize;}
.ui-drag-w{ cursor: w-resize;}

.mv_clip_stats{
	font-family:"verdana","helvetica","arial",sans-serif;
	font-size:11px;
	position:absolute;
	background:#CCCCCC;
	bottom:0px;
	right:0px;
}
.mv_droppable{
	position:absolute;
	top:0px;
	z-index:-1;
}
.mv_storyboard_container{
	position:absolute;
	z-index:0;
	overflow:hidden;
}
.mv_clip_thumb{
	position:absolute;
	top:7px;	
	border:solid #CCC;
	display:block;
	overflow:hidden; 	
}
.mv_tl_clip{
	position:absolute;
	z-index:0;
	overflow:hidden;
	border:solid thin white;
	white-space: nowrap; 	
}
.mv_tl_thumb{
	display:inline; 
}
.mv_selected_clip{
	border:solid #9F9; 	
}
.mv_selected_transition{
	border:solid #9F9;
}
.mv_adj_text{
	font-weight: strong;
	font-size:small;
	color:#6F6;
	display:none; /* hide by default */
	position:absolute;
	left:20px;
}
.mv_adjust_click{
	cursor:pointer;
}
/*
#seq_menu{
	list-style-type:none;
	list-style-position:outside;
	display:block;
	padding-left:10px;
}
#seq_menu li{
	display:inline;
	padding:5px;
	margin:0px;
	border: solid thin gray;
	cursor:pointer; 
}
#seq_menu li a{
	color:#fff;
}
*/
.seq_control_container{
	position:absolute;
	top:40px;	
	overflow:auto; 
	bottom:0px;
	left:10px;
	right:0px;
}
.submenu_container{
/*	top:25px;
	left:10px;
	right:0px;
	overflow:auto;
	position:absolute;
	broder: solid thin gray;
*/
}
.mv_submenu{	
	/*position:absolute;*/
	/*left:0px;
	top:0px;
	margin:2px;
	list-style-type:none; 
	bottom:0px;	
	border:none;
	padding:0px;*/
}
.mv_submenu li{
	border:solid thin gray;
	cursor:pointer;
	display:inline;
	padding:5px;
}
.mv_submenu .mv_sub_selected{
	border-bottom: none;
}
#seq_menu .mv_selected_item{
	border-bottom:none;
}