/*
 * reference player skin 
 */
 
/* large play button: */
.play-btn-large { width:130px; height:96px; background: url(images/player_big_play_button.png); position:absolute; cursor:pointer; border:none;}/*.ui-state-default */




