/* Special:Search */
@import 'mediawiki.mixins.less';

/* stylelint-disable selector-class-pattern */
.searchresults {
	margin: 1em 0 1em 0;
}

.searchresults .mw-search-exists {
	margin-bottom: 32px;
}

/* needs extra specificity to override `.mw-body p` selector */
.mw-body .mw-search-nonefound {
	margin: 1.5em 0 0.5em 0;
	font-size: 1.2em;
}

.searchmatch {
	font-weight: bold;
}

.mw-search-results {
	margin: 0;
	max-width: 38em;

	li {
		list-style: none;
		/* Rely on `padding-bottom` here to add on top of `.content li` provided `margin`. */
		padding-bottom: 24px;

		a {
			font-size: 114%;
		}
	}
}

.mw-search-visualclear {
	clear: both;
}

.mw-search-result-data {
	color: #54595d;
	font-size: 93%;
}

.mw-search-profile-tabs {
	background-color: #f8f9fa;
	margin-top: 1em;
	border: 1px solid #c8ccd1;
	border-radius: 2px;
}

.search-types {
	float: left;
	padding-left: 0.25em;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		padding: 0.5em;
	}

	.current a {
		color: #202122;
		cursor: default;

		&:hover {
			text-decoration: none;
		}
	}
}

.results-info {
	float: right;
	padding: 0.5em;
	padding-right: 0.75em;
	color: #54595d;
	font-size: 95%;
}

#mw-search-top-table div.oo-ui-actionFieldLayout {
	float: left;
	width: 100%;
}

/* Advanced options menu */
/* ===================== */

#mw-searchoptions {
	/* Support: Firefox, needs `clear: both` on `fieldset` when zoom level > 100%, see T176499 */
	clear: both;
	padding: 0.5em 0.75em 0.75em 0.75em;
	background-color: #f8f9fa;
	margin: -1px 0 0;
	border: 1px solid #c8ccd1;
	border-radius: 0 0 2px 2px;

	legend {
		display: none;
	}

	h4 {
		padding: 0;
		margin: 0;
		float: left;
	}

	.divider {
		clear: both;
		border-bottom: 1px solid #eaecf0;
		padding-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.checkbox-container {
		columns: 13em;
		margin-bottom: 1em;

		> * {
			.column-break-inside-avoid;
		}
	}
}

#mw-search-menu {
	padding-left: 6em;
	font-size: 85%;
}

#mw-search-interwiki {
	float: right;
	width: 18em;
	border: 1px solid #a2a9b1;
	margin-top: 2ex;
}

.searchalttitle,
#mw-search-interwiki li {
	font-size: 95%;
}

.mw-search-interwiki-more {
	float: right;
	font-size: 90%;
}

#mw-search-interwiki-caption {
	text-align: center;
	font-weight: bold;
	font-size: 95%;
}

.mw-search-interwiki-project {
	font-size: 97%;
	text-align: left;
	padding: 0.15em 0.15em 0.2em 0.2em;
	background-color: #eaecf0;
	border-top: 1px solid #c8ccd1;
}

.searchdidyoumean {
	font-size: 114%;
	margin-top: 0.8em;

	em {
		font-style: normal;
	}
}

#mw-search-togglebox {
	float: right;

	label {
		margin-right: 0.25em;
	}

	input {
		margin-left: 0.25em;
	}
}

.client-nojs #mw-search-togglebox {
	display: none;
}
