/*!
 * Styling for Special:Watchlist and Special:RecentChanges when preference 'usenewrc'
 * a.k.a. Enhanced Recent Changes is enabled.
 */

table.mw-enhanced-rc {
	border: 0;
	border-spacing: 0;

	th,
	td {
		padding: 0;
		vertical-align: top;
	}

	td.mw-enhanced-rc-nested {
		padding-left: 1em;
	}
}

td.mw-enhanced-rc {
	white-space: nowrap;
	font-family: monospace, monospace;
}

.mw-enhanced-rc-time {
	font-family: monospace, monospace;
}

/* Show/hide arrows in enhanced changeslist */
.mw-enhanced-rc .collapsible-expander {
	float: none;
}

/* If JS is disabled, the arrows or the placeholder space shouldn't be shown */
.client-nojs .mw-enhancedchanges-arrow-space {
	display: none;
}

.mw-enhancedchanges-arrow {
	padding-top: 2px;
}

.mw-enhancedchanges-arrow-space {
	display: inline-block;
	*display: inline; /* IE7 and below */
	zoom: 1;
	width: 15px;
	height: 15px;
}

.mw-enhanced-watched .mw-enhanced-rc-time {
	font-weight: bold;
}

span.changedby {
	font-size: 95%;
}
