/*!
 * Styling for changes list legend
 */
@import 'mediawiki.skin.variables.less';

.mw-changeslist-legend {
	float: right;
	margin-left: 1em;
	margin-bottom: 0;
	clear: right;
	font-size: 85%;
	line-height: 1.2em;
	padding: 0.5em;
	border: @border-subtle;
	background-color: @background-color-base;

	summary {
		cursor: pointer;
	}

	dl {
		/* Parent element defines sufficient padding */
		margin-bottom: 0;
	}

	dt {
		float: left;
		margin: 0 0.5em 0 0;
	}

	dd {
		margin-left: 1.5em;
	}

	dt,
	dd {
		line-height: 1.3em;
	}
}
