// Grays
// -----------------------------------------
$agoraGray: #c9c9c9;
$agoraTextColor: #252525;

// Blues
// -----------------------------------------
$agoraBlue: #3366bb;
$agoraBlueShadow: #4091ed;

// Greens
// -----------------------------------------
$agoraGreen: #27aa65;

// Reds
// -----------------------------------------
$agoraRed: #cc0000;
