/*
** MediaWiki 'chick' style sheet for PDAs or other small-screen devices.
** Copyright Timwi
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on Monobook by Gabriel Wicke
*/

body {
	font-family: sans-serif;
	color: black;
	background: white;
	margin: 0;
	padding: 0.3em;
}

a { color: #002bb8; }
a:visited { color: #5a3696; }
a:active { color: #ffa500; }
a.stub { color: #772233; }
a.new,
#p-personal a.new { color:#ba0000; }
a.new:visited,
#p-personal a.new:visited { color:#a55858; }

p {
	margin: 0.4em 0em 0.5em 0em;
	line-height: 1.5em;
}

p img { margin: 0; }

textarea {
	border: 1px solid #2f6fab;
	color: black;
	background-color: white;
	overflow: auto;
}
/* hide this from ie/mac and konq2.2 */
@media All {
	head:first-child+body input {
		visibility: visible;
		border: 1px solid #2f6fab;
		color: black;
		background-color: white;
		vertical-align: middle;
		padding: 0.2em;
	}
}
input.historysubmit {
	padding: 0 0.3em 0.3em 0.3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
input[type="radio"],
input[type="checkbox"] { border:none; }
select {
	border: 1px solid #2f6fab;
	color: black;
	vertical-align: top;
}

code { background-color: #f9f9f9; }
pre { line-height: 1.1em; }

/*
** the main content area
*/

span.subpages { display: block; }

/* Some space under the headers in the content area */
#bodyContent h1, #bodyContent h2 { margin-bottom:0.6em; }
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
	margin-bottom: 0.3em;
}
#firstHeading { margin-bottom:0.1em; }

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 0.1em 0 0 0;
	padding: 2px 5px;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 0.9em 0 0.9em;
}
#siteNotice p { margin: 0; padding: 0; }
.error {
	color: red;
	font-size: larger;
}
.catlinks {
	border:1px solid #aaaaaa;
	background-color:#f9f9f9;
	padding: 2px 5px;
	margin: 0.1em 0 0 0;
	clear: both;
}
.catlinks { margin: 0; padding: 0; }

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small { font-size: 94%; }
table.small { font-size: 100% }

/*
** content styles
*/

#toc {
	/*border:1px solid #2f6fab;*/
	border:1px solid #aaaaaa;
	background-color:#f9f9f9;
	padding:5px;
	font-size: 95%;
}
#toc ul { margin: 0 2em; }
#toc .toctoggle { font-size: 94%; }
#toc .editsection {
	margin-top: 0.7em;
	font-size: 94%;
}

/* images */
/* @noflip */div.floatright, table.floatright {
	margin: 0;
	border: 0.5em solid white;
	border-width: 0.5em 0 0.8em 1.4em;
}
div.floatright p { font-style: italic; }
/* @noflip */div.floatleft, table.floatleft {
	margin: 0.3em 0.5em 0.5em 0;
	border: 0.5em solid white;
	border-width: 0.5em 1.4em 0.8em 0;
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: 0.5em;
	width: auto;
}
div.thumbinner {
	border:1px solid #cccccc;
	padding: 3px !important;
	background-color:#f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border:1px solid #cccccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 0.3em 0 0.1em 0;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */div.tright {
	margin: 0.5em 0 1.3em 1.4em;
}
/* @noflip */div.tleft {
	margin: 0.5em 1.4em 1.3em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float:right;
	position:relative;
	margin-left:1em;
	margin-bottom:1em;
	text-align:center;
}
.toccolours {
	border:1px solid #aaaaaa;
	background-color:#f9f9f9;
	padding:5px;
	font-size: 95%;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

a.external { color: #3366bb; }
div#footer { text-align: center; }
ul#f-list li { list-style: none;  text-align: center; }
div.portlet { margin: 0.5em 0; }

.redirectText {
	font-size:150%;
	margin:5px;
}

ul.special li.not-patrolled, ol.special li.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	font-size: 75%;
	text-align: right;
}

span.updatedmarker {
	color:black;
	background-color:#00FF00;
}

div.gallerybox {
	width:  150px;
}

#xjump-to-nav {
	display: none;
}

.templatesUsed { margin-top: 1.5em; }

.printfooter {
	display: none;
}

#footer {
	background-color: white;
	border-top: 1px solid #fabd23;
	border-bottom: 1px solid #fabd23;
	margin: .6em 0 1em 0;
	padding: .4em 0 1.2em 0;
	text-align: center;
	font-size: 90%;
}
#f-poweredbyico, #f-copyrightico {
	display: inline;
}
