/**
 * File to be removed in 1.37.
 * Rules are duplicated in '/mw-config/config.css', where they are still in use by WebInstaller.
 * Add here for skins/extensions that may be using the deprecated `Html::infoBox` method.
 */

.mw-infobox {
	border: 2px solid #fc3;
	margin: 0.5em;
	clear: left;
	overflow: hidden;
}

.mw-infobox-left {
	margin: 7px;
	float: left;
	width: 35px;
}

.mw-infobox-right {
	margin: 0.5em 0.5em 0.5em 49px;
}
