.mw-upload-bookletLayout-filePreview {
	width: 100%;
	height: 1em;
	background-color: #eaecf0;
	background-size: cover;
	background-position: center center;
	/* Same as padding on `.oo-ui-bookletLayout-stackLayout > .oo-ui-panelLayout`,
	 * equals 20px at default font size */
	padding: 1.42857143em;
	margin: -1.42857143em;
	margin-bottom: 1.42857143em;
	position: relative;
}

.mw-upload-bookletLayout-infoForm.mw-upload-bookletLayout-hasThumbnail .mw-upload-bookletLayout-filePreview {
	height: 10em;
}

.mw-upload-bookletLayout-filePreview p {
	line-height: 1em;
	margin: 0;
}

.mw-upload-bookletLayout-filePreview .oo-ui-progressBarWidget {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.mw-upload-bookletLayout-filePreview .oo-ui-progressBarWidget-bar {
	height: 0.5em;
}
