/* Animate between standard and high definition layouts */
body.vector-animateLayout {
	div#content,
	div#footer,
	#left-navigation {
		.transition(margin-left 250ms, padding 250ms;);
	}

	#p-logo {
		.transition(left 250ms);
	}

	#mw-panel {
		.transition(padding-right 250ms);
	}

	#p-search {
		.transition(margin-right 250ms);
	}

	#p-personal {
		.transition(right 250ms);
	}

	#mw-head-base {
		.transition(margin-left 250ms);
	}
}

.portal input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

.portal input + .body ul {
    display: none;
}

.portal input:checked + .body ul {
	display: block;
}

div#mw-panel div.portal label {
	font-weight: normal;
	color: #444;
	padding: 0.25em;
	padding-top: 0;
	padding-left: 1.75em;
	cursor: default;
	border: none;
	font-size: 0.75em;
}