// FIXME: This size of this CSS is ridiculous. Please refactor (see bug 54604)
@import "mediawiki.mixins.less";
// External links
.external {
	background-position: center right;
	background-repeat: no-repeat;
	.background-image-svg('images/external-link-ltr-icon.svg', 'images/external-link-ltr-icon.png' );
	padding-right: 13px;
}
