/* Search */
#p-search {
	/* @noflip */
	float: left;
	margin-right: 0.5em;
	margin-left: 0.5em;

	h3 {
		display: none;
	}

	form,
	input {
		margin: 0;
		margin-top: 0.4em;
	}
}

div#simpleSearch {
	display: block;
	width: 14em;
	height: 1.4em;
	margin-top: 0.65em;
	position: relative;
	min-height: 1px; /* Gotta trigger hasLayout for IE7 */
	border: solid 1px #aaa;
	color: black;
	background-color: white;
	.background-image('images/search-fade.png');
	background-position: top left;
	background-repeat: repeat-x;

	// Styles for both the search input and the button
	input {
		position: absolute;
		margin: 0;
		padding: 0;
		border: 0;
		background-color: transparent;
		color: black;
	}

	// The search input
	#searchInput {
		top: 0;
		left: 0;
		width: 90%;
		padding: 0.2em 0 0.2em 0.2em;
		font-size: 13px;
		direction: ltr;

		&:focus {
			outline: none;
		}

		// These rules MAY NOT be merged because of how CSS requires browsers
		// to parse unrecognized selectors!
		&.placeholder {
			color: #999;
		}
		&:-ms-input-placeholder {
			color: #999;
		}
		&:-moz-placeholder {
			color: #999;
		}
		&::-webkit-input-placeholder {
			color: #999;
		}

		// Undo the styles Webkit browsers apply to type=search fields,
		// we provide our own
		-webkit-appearance: textfield;

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			-webkit-appearance: textfield;
		}
	}

	// The buttons. They are displayed in the same position, and if both are
	// present the fulltext search one obscures the 'Go' one.
	#searchButton,
	#mw-searchButton {
		top: 0;
		right: 0;
		width: 10%;
		height: 100%;
		cursor: pointer;
		/* Hide button text and replace it with the image. */
		/* This would be 100% if not for Firefox shenanigans (bug 60900). */
		text-indent: 200%;
		/* Needed to make IE6 respect the text-indent. */
		line-height: 1;
		/* Opera 12 on RTL flips the text in a funny way without this. */
		/* @noflip */
		direction: ltr;
		white-space: nowrap;
		overflow: hidden;
		.background-image-svg('images/search-ltr.svg', 'images/search-ltr.png');
		background-position: center center;
		background-repeat: no-repeat;
	}

	#mw-searchButton {
		z-index: 1;
	}
}

// The following styles exist only for backwards-compatibility with
// cached HTML and are to be removed before 1.23 release.

/* Fix direction changed for awful hacks */
.sitedir-ltr div#simpleSearch button#searchButton {
	/* @noflip */
	direction: ltr;
}
.sitedir-rtl div#simpleSearch button#searchButton {
	/* @noflip */
	direction: rtl;
}

div#simpleSearch button#searchButton {
	position: absolute;
	padding: 0;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	padding-right: 0.4em;
	margin: 0;
	border: none;
	background-color: transparent;
	background-image: none;
	text-indent: 0;

	/* OVERRIDDEN BY COMPLIANT BROWSERS */
	img {
		border: none;
		margin: 0;
		margin-top: -3px;
		padding: 0;
	}
	/* IGNORED BY IE6 */
	> img {
		margin: 0;
	}
}
