.thumb {
	&.tright {
		padding: 1px 0 0 15px;
	}

	&.tleft {
		padding: 1px 15px 0 0;
	}

	.thumbcaption {
		line-height: 1.5em;
		font-size: .85em;
		padding: 3px 0 0 0;
		color: #333;
	}

	.magnify {
		display: none;
	}
}
