<<<<<<< HEAD   (ad3eed Merge fundraising release branch into REL1_25)
=======
.agora-flush-left() {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

.agora-flush-right() {
	float: right;
	margin-right: 0;
	padding-right: 0;
}

.agora-center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
>>>>>>> BRANCH (a1211f Merge REL1_23 into fundraising/REL1_23)
