@wm-expirywidget-text-width: 43.3em;

.mw-widget-ExpiryWidget.mw-widget-ExpiryWidget-hasDatePicker {
	.oo-ui-buttonSelectWidget {
		float: left;
	}

	.oo-ui-textInputWidget.mw-widget-ExpiryWidget-relative {
		display: inline-block;
		max-width: @wm-expirywidget-text-width;
	}

	.mw-widget-selectWithInputWidget.mw-widget-ExpiryWidget-relative .oo-ui-textInputWidget {
		max-width: 22.8em;
	}

	.mw-widgets-datetime-dateTimeInputWidget {
		margin-top: 0;
		margin-bottom: 0;
		max-width: @wm-expirywidget-text-width;

		.mw-widgets-datetime-dateTimeInputWidget-handle {
			max-height: 2.286em;
		}
	}
}
