/* IE5.5/win- only fixes */

#portal-column-content {
    display: inline;
}
#portal-column-content #content {
    margin-top: 2.8em;
    overflow: auto;
}
#bodyContent center,
#bodyContent pre {
    overflow: auto;
}

#portal-personaltools {
    padding-bottom: 0.1em;
}
img {
    position: relative;
}
div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
    position:relative;
}

body {
    font-size: xx-small;
}
#portlet-contentViews {
    width: 76% !important;
    z-index: 3 !important;
    float: none;
}

#portlet-contentViews li {
    display: block;
    float: left;
    padding: 0;
}
#portlet-contentViews li.selected {
    background-color: White;
}

#portlet-contentViews li a,
#portlet-contentViews .selected a,
#portlet-contentViews li a:hover {
    padding-bottom: 0.1em;
}
#portlet-contentViews li a {
    z-index: 0 !important;
}
.portlet {
    overflow:hidden;
}
#bodyContent a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
