/* 6.0 - only fixes */
/* content area */ 

/* workaround for various ie float bugs */
#portal-column-content #content {
    margin-top: 3em;
    overflow: auto;
}

#portal-column-content {
    display: inline;
}

/* the tabs */

#portlet-contentViews {
    z-index: 3;
}

#portlet-contentViews li {
    display: block;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    height: 0.9em;
}
#portlet-contentViews li.selected {
    background-color: White;
    padding-bottom: 0.2em;
}

/* log in etc */
#portal-personaltools {
    padding-bottom: 0.1em;
}
#bodyContent a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent {
    width: 98%;
}

div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
    position:relative;
}

/* show the hand */
#portlet-logo a,
#portlet-logo a:hover {
    cursor: pointer;
}
div.visualClear {
    width:100%;
    line-height: 0;
}
textarea {
    overflow: auto;
    width: 99%;
    /* same negative margin as on #portal-column-content
    don't ask why..*/
    margin-left: -12.2em;
}
#tawrapper {
    width: 100%;
    text-align: left;
    overflow: hidden;
}
div.editsection,
div.tright,
div.tleft {
    position: relative;
}
/*{ border:1px solid Red !important;}*/
