/* 6.0 - only fixes */
/* content area */ 

/* workaround for various ie float bugs */
#column-content #content {
    margin-top: 3em;
    overflow: auto;
    height: 1%;
}

#column-content { display: inline; }

/* the tabs */

#p-cactions {
    z-index: 3;
}

#p-cactions li {
    float: left;
    padding-top: 0;
    padding-bottom: 0 !important;
    height: 0.9em;
}
#p-cactions li a {
    display: block;
    padding-bottom: 0.045em;
}
#p-cactions li.selected a {
    padding-bottom: 0.17em;
}
#p-cactions li a:hover {
    padding-bottom: 0.17em;
}
#portal-personaltools {
    padding-bottom: 0.1em;
}
#bodyContent a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent {
    height: 1%;
}

/* show the hand */
#p-logo a,
#p-logo a:hover {
    cursor: pointer;
}
div.visualClear {
    width:100%;
    line-height: 0;
}
textarea {
    overflow: auto;
    width: 97%;
}
.special li {
    overflow: auto;
    width: 100%;
}

div.editsection,
#catlinks,
div.tright,
div.tleft {
    position: relative;
}
/*{ border:1px solid Red !important;}*/
