/* 6.0 - only fixes */
/* content area */ 

/* workaround for various ie float bugs */
#portal-column-content #content {
    margin-top: 2.9em;
    overflow: auto;
}

#portal-column-content {
    display: inline;
}
#bodyContent center, /* the full-size images are in center tags */
#bodyContent pre {
    overflow: auto;
}


/* the tabs */

#portlet-contentViews {
    z-index: 3;
}

#portlet-contentViews li {
    display: block;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    height: 0.9em;
}
#portlet-contentViews li.selected {
    background-color: White;
    padding-bottom: 0.2em;
}

/* log in etc */
#portal-personaltools {
    padding-bottom: 0.1em;
}
#bodyContent a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}


/* height on everything... */
#toc,
#content p,
div.comment,
h1,
h2,
h3,
h4,
h5,
h6,
.description,
.portalMessage {
    height: 1%;    
}


/*{ border:1px solid Red !important;}*/
