/*
** Mediawiki 'mono' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://www.aulinx.de/
**
** Based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/.
** Alexander Limi - http://www.plonesolutions.com
** additional plone work:
** Joe Geldart & Tom Croucher - http://www.netalleynetworks.com, Michael Zeltner - http://niij.org,
** Geir Bækholt - http://www.plonesolutions.com
** All you guys rock :)
*/

#portal-columns {
    width: 100%;
    margin: 0;
}
#portal-column-content {
    width: 100%;
    float: right;
    margin: 0 0 0 -12.2em;
    padding:0;
}
#portal-column-content #content {
    margin: 2.8em 0 0 12.2em;
}
#portal-column-one {
    padding-top: 160px;
}
/* the left column width is specified in class .portlet */

/* Font size: 
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
    font: x-small "Bitstream Vera Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background: #f9f9f9 url("headbg.jpg") 0px 0px no-repeat;
    color: Black;
    margin: 0;
    padding: 0;
}

/* scale back up to a sane default */
#visual-portal-wrapper {
    font-size:123%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* general styles */

table {
    font-size: 100%;
    background: White;
}
a {
    text-decoration: none;
    /*color: #436976;*/
    color: #005189;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0.4em 0em 0.7em 0em;
    line-height: 1.5em;
}
p a {
    text-decoration: none;
}
p a:visited {
    color: #5a3696;
    background-color: transparent;
}
p a:active {
    color: Red;
    background-color: transparent;
}
p img {
    border: 0;
    margin: 0;
}

hr {
    height: 1px;
    color: #aaaaaa;
    background-color: #aaaaaa;
    border: 0;
    margin: 0.2em 0 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
   /* border-bottom: 1px solid #2f6fab;*/
    border-bottom: 1px solid #aaaaaa;

}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: Black ! important; 
}
h1 {
    font-size: 188%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 132%;
    border-bottom: none;
    font-weight: bold;
}
h4 {
    font-size: 116%;
    border-bottom: none;
    font-weight: bold;
}

h5 {
    font-size: 100%;
    border-bottom: none;
    font-weight: bold;
}

h6 {
    font-size: 80%;
    border-bottom: none;
    font-weight: bold;
}


ul { 
    line-height: 1.5em;
    list-style-type: square;
    margin: 0.3em 0 0 1.5em;
    padding:0;
    list-style-image: url("bullet.gif");
}
ol {
    line-height: 1.5em;
    margin: 0.3em 0 0 1.5em;
    padding:0;
}
ul a, ol a {
    text-decoration: none;
}
li {
    margin-bottom: 0.1em;
}
dt {
    font-weight: bold;    
}
dt a {
    text-decoration: none;
}

dd {
    line-height: 1.5em;
    margin-bottom: 0.8em;
    margin-left: 1.4em;
}
dd a {
    text-decoration: none;
}

dd.link a {
    text-decoration: none;
    color: Black;
}

fieldset {
    border: 1px solid #2f6fab;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}
legend {
    background: White;
    padding: 0.5em;
    font-size: 90%;
}

form {
    border: none;
    margin: 0;
}

textarea {
    border: 1px solid #2f6fab;  
    color: Black;
    background-color: white;
    width: 100%;
    padding: 0.1em;
    overflow: auto;
}
/* hide this from ie/mac and konq2.2 */
@media All {
    head:first-child+body input {
        font-family: "Bitstream Vera Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
        visibility: visible;
        border: 1px solid #2f6fab;  
        color: Black;
        background-color: white;
        vertical-align: middle;
        padding: 0.2em;
    }
}
input[type="radio"],
input[type="checkbox"] {
    border:none;
}
select {
    border: 1px solid #2f6fab;  
    color: Black;
    vertical-align: top;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted Black;
    color: Black;
    background-color: transparent;
    cursor: help;
}
q {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}
blockquote {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}
code {
    color: Black;
    background-color: #f9f9f9;
}
pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: Black;
    background-color: #f9f9f9;
}
.pre a {
    text-decoration: none;
}


/*
** the main content area
*/

#documentSubtitle {
    font-size: 84%;
    line-height: 1.2em;
    margin: -1.6em 0 0.6em 1em;
    color: #7d7d7d;
}
#siteSubtitle {
    display: none;    
}
#catlinks {
    width: 40%;
    text-align: right;
    float: right;
    position: relative;
    top: -1.5em;
}

#content {
    padding: 0 0 1em 0em;
    margin: 0;
}

#bodyContent a:hover {
    text-decoration: underline;
}

/* Some space under the headers in the content area */
#bodyContent h1,
.documentFirstHeading,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
    margin-bottom:0.8em;
}


#documentContent {
    padding: 0em 1em 1.5em 1em;
    background: White;
    border: 1px solid #aaaaaa;
    border-right: none;
    margin:0;
    line-height: 1.5em;
    position: relative;
    z-index: 2;
}

/* this will be the user notification thing */
.portalMessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-size: 100%;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
.documentDescription {
    /* The summary text describing the document */
    font-weight: bold;
    display: block;
    margin: 1em 0em;
    line-height: 1.5em;
}
.documentByLine {
    text-align: right;
    font-size: 90%;
    clear: both;
    font-weight: normal;
    color: #76797c;
}
.documentByLine a {
    text-decoration: none;
}

/* emulate center */
.center {
    width: 100%;
    text-align: center;
}
div.center * {
    margin-left: auto;
    margin-right: auto;
}
/*
** mediawiki-specific styles
*/

a.stub,
a.new { color:#ba0000; text-decoration:none; }

#toc { 
    /*border:1px solid #2f6fab;*/
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
    font-size: 95%;
}
.tocindent {
	margin-left: 2em;
}
.tocline {
	margin-bottom: 0px;
}
.toctoggle, .editsection {
	font-size: smaller;
}
/* images */
div.floatright { 
    float: right; 
    margin: 0;
    position:relative;
    border: 0.5em solid White;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.floatright p { font-style: italic;} 
div.floatleft { 
    float: left; 
    margin: 0.3em 0.5em 0.5em 0;
    position:relative;
    border: 0.5em solid White;
    border-width: 0.5em 1.4em 0.8em 0;
}
div.floatleft p { font-style: italic; } 
/* thumbnails */
div.thumbnail-none,
div.thumbnail-right,
div.thumbnail-left {
 /*   border:1px solid #2f6fab;*/
    background-color:#f9f9f9;
    padding: 2px;
    position:relative;
    margin: 0.3em 0 0.5em;
    font-size: 95%;
    text-align: center;
}
div.thumbnail-none div,
div.thumbnail-right div,
div.thumbnail-left div{
    border:1px solid #cccccc;
}
div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
    margin-top:3px; margin-bottom:3px;
    text-align: left;
}
div.thumbnail-right {
    float: right;
    position:relative;
    border: 0.5em solid White;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.thumbnail-left {
    float: left;
    position:relative;
    margin-right:0.5em;
    border: 0.5em solid White;
    border: 0.5em 1.4em 0.8em 0;
}
/* table standards */
table.rimage {
    float:right; 
    width:1pt; 
    position:relative;
    margin-left:1em; 
    margin-bottom:1em;
    text-align:center;
}

/*
** Link rendering 
*/

.urlexpansion,
.hiddenStructure {
    display: none;
}
/*
** Diff rendering
*/
table.diff {
        background:white;
}
td.diff-otitle {
        background:#ffffff;
}
td.diff-ntitle {
        background:#ffffff;
}
td.diff-addedline {
        background:#ccffcc;
}
td.diff-deletedline {
        background:#ffffaa;
}
td.diff-context {
        background:#eeeeee;
}

/* 
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2 
*/
#bodyContent a[href ^="http://"],
#bodyContent a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
    background: transparent url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
    background: transparent url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
    background: transparent url("news_icon.png") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
    background: transparent url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
    background: transparent url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}
.visualClear {
    clear: both;
}

/*
** classes for special content elements like town boxes
*/
div.townBox {
    position:relative;
    float:right;
    background:White;
    margin-left:1em;
    border: 1px solid Grey;
    padding:0.3em;
    width: 200px;
    overflow: hidden;
    clear: right;
}
div.townBox dl {
    padding: 0;
    margin: 0 0 0.3em 0; 
    font-size: 96%;
}
div.townBox dl dt {
    background-color: transparent;
    margin: 0.4em 0 0 0;
}
div.townBox dl dd {
    margin: 0.1em 0 0 1.1em;
    background-color: #f3f3f3;
}

/*
** Special content area views
*/
.special li {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
/* the auto-generated edit comments */
.autocomment { color: gray; }


/*
** Structural Elements
*/

/*
** the portlets (elements in the quickbar)
*/
.portlet {
    border: none;
    margin: 0 0 1em 0em;
    float: none;
    padding: 0;
    width: 11.6em;
    overflow: hidden;
}
.portlet h4 {
    font-size: 95%;
    font-weight: normal;
    white-space: nowrap;
}
.portlet h5 { 
    background: transparent;
    padding: 0em 1em 0em 0.5em;
    text-transform: lowercase;
    display: inline;
    font-size: 91%;
    height: 1em;
    font-weight: normal;
    white-space: nowrap;
}
.portlet h6 { 
    background: #ffae2e;
    border: 1px solid #2f6fab;
    border-style: solid solid none solid;
    padding: 0em 1em 0em 1em;
    text-transform: lowercase;
    display: block;
    font-size: 1em;
    height: 1.2em;
    font-weight: normal;
    white-space: nowrap;
}
.portletBody {
    font-size: 95%;
    background: White;
    border-collapse: collapse;
    border: 1px solid #aaaaaa;
}
.portletDetails {
    text-align: right;
}
.portletMore {
    display: block;
    text-align: right;
}
.portletContent {
    padding: 0.1em 0.8em 0.7em 0.5em;
}
.portletClose {
    float: right;
    text-transform: none;
    border-left: 1px solid #2f6fab;
    padding: 0em 0.2em;
}
.portlet h1, 
.portlet h2, 
.portlet h3, 
.portlet h4 {
    margin: 0;
    padding: 0;
}
.portlet .even {
    background-color: #f7f9fa;
}
.portlet .odd {
    background-color: transparent;
}
.portlet input {
    font-size: 100%;
}
.portlet ul {
    line-height: 1.5em;
    list-style-type: square;
    list-style-image: url("bullet.gif");
    font-size:95%;
}
.portlet li {
    padding:0;
    margin: 0 0 0 0;
    margin-bottom: 0;
}
.even {
    background-color: #f7f9fa;
}
.odd {
    background-color: transparent;
}
.visualHighlight {
    background-color: #f7f9fa;
}
.discreet {
    color: #76797c;
    font-size: 80%;
    font-weight: normal;
}

/* 
** Logo properties 
*/
 
#portlet-logo {
    z-index: 3;
    position:absolute; /*needed to use z-index */
    top: 0;
    left: 0;
    height: 155px;
    width: 135px;
    overflow: visible;
}
#portlet-logo h5 { display: none; }
#portlet-logo a,
#portlet-logo a:hover {
    display: block;
    height: 155px;
    width: 135px;
    background: url(wiki.png) no-repeat;
    background-repeat: no-repeat;
    text-decoration: none;
}

/*
** the navigation portlet
*/


#portlet-navigation {
    position:relative;
    z-index:3;
}
#portlet-navigation .plain {
    white-space: nowrap;
}

/*
** Search portlet
*/
#portlet-search {
    position:relative;
    z-index:3;
}    
#portlet-search .portletBody {
    text-align: center;
}
input.searchButton {
    margin-top:1px;
    padding: 0 0.4em!important;
    font-size: 95%;
    cursor: pointer;
    background-color: White;
    border: 1px solid #2f6fab;  
}

#searchGadget {
    border: 1px solid #2f6fab;  
    width:11.0em;
    margin: 0 0 0 0;
    font-size: 95%;
}


#portlet-search .portletContent {
    padding: 0.5em 0.4em 0.4em 0.4em;
}


/* 
** the personal toolbar
*/

#portlet-personal {
    width:100%;
    white-space:nowrap;
    padding:0 0 0 0;
    margin:0;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 0;
    border: none;
    background-color: transparent;
    overflow: visible;
    line-height: 1.2em;
}

#portlet-personal h5 {
    display:none;
}
#portlet-personal .portlet,
#portlet-personal .portletBody,
#portlet-personal .portletContent,
#portlet-personal .odd{
    padding:0;
    margin:0;
    border: none;
    z-index:0;
    overflow: visible;
    background-color: transparent;
}
#portal-personal ul,
#portal-personal li {
    z-index:0;
    border:none;
    background-color: transparent;
}

/* this is the ul contained in the portlet */

#portal-personaltools {
/*    background-color: #fabd23;*/
/*    border-bottom-color: #2f6fab;*/
    border: none;
    line-height: 1.4em;
    color: #2f6fab;
    padding: 0em 2em 0 3em;
    margin: 0;
    text-align: right;
    text-transform: lowercase;
    list-style: none;
    z-index:0;
    background-color: transparent;
}

#portal-personaltools .portalNotLoggedIn {
    color: #2f6fab;
    padding: 0;
    background: transparent;
    background-image: none;
} /* Used on all descriptions relevant to those not logged in */
 
#portal-personaltools li {
    padding:0;
    display: inline;
    color: #2f6fab;
    margin-left: 1em;
    line-height: 1.2em;
    background-color: transparent;
}
#portal-personaltools li a {
    text-decoration: none;
/*    color: #436976;*/
    color: #005896;
    padding-bottom: 0.2em;
    background-color: transparent;
}
#portal-personaltools li a:hover {
    text-decoration: none;
/*    color: #436976;*/
    background-color: White;
    padding-bottom: 0.2em;
}

/* the icon in front of the user name, single quotes
in bg url to hide it from iemac */
li#personaltools-userpage,
li#personaltools-login {
    background: transparent url('user.gif') center left no-repeat;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-transform: none;
}

/*
** the page-related actions- page/talk, edit etc 
*/

#portlet-contentViews {
    position:absolute;
    top: 1.3em;
    left: 11.5em;
    margin: 0;
    white-space:nowrap;
    /*width:auto;*/
    width: 76%;
    line-height: 1.1em;
    overflow: visible;
    background-color: transparent;
    border-collapse: collapse;
    padding-left: 1em;
    list-style: none;
    font-size: 95%;
}

#portlet-contentViews .hiddenStructure {
    display: none;
}

#portlet-contentViews ul {
    list-style: none;
}
#portlet-contentViews li {
    display: inline;
    border: 1px solid #aaaaaa;
    border-bottom: none;
    padding: 0 0 0.1em 0;
    margin: 0 0.3em 0 0;
    overflow: visible;
}

#portlet-contentViews li.selected {
    border-color: #fabd23;
    padding: 0 0 0.2em 0;
}
    
#portlet-contentViews li a {
    background-color: White;
    color: #005189;
    border: none;
    padding: 0 0.8em 0.3em 0.8em;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    z-index: 0;
    margin: 0;
}

#portlet-contentViews .selected a {
    z-index: 3;
}
#portlet-contentViews .new a {
    color:#ba0000;
}
#portlet-contentViews li a:hover {
    z-index: 3;
}
#portlet-contentViews h5 { display: none; }

/* offsets to distinguish the tab groups */
li#contentaction-talk {
    margin-right: 1.6em;
}
li#contentaction-watch {
    margin-left: 1.6em;
}


/*
** the remaining portlets
*/
#portlet-toolbox,
#portlet-language {
    position:relative;
    z-index:3;
}

/*
** footer
*/
#portal-footer {
    background-color: White;
    border-top: 1px solid #fabd23;
    border-bottom: 1px solid #fabd23;
    margin: 0.3em 0em 1em 0em;
    padding: 0.4em 0em 1em 0em;
    text-align: center;
    font-size: 90%;
}
#portal-footer li {
    display: inline;
    margin: 0 1.3em;
}
/* hide from incapable browsers */
head:first-child+body #portal-footer li {
    white-space: nowrap;
}
#footer-poweredbyico, #footer-copyrightico {
        margin: 0 8px;
        position: relative;
        top: -2px; /* Bump it up just a tad */
}
#footer-poweredbyico {
        float: right;
        height: 1%;
}
#footer-copyrightico {
        float: left;
        height: 1%;
}

/* 
** IE/Mac fixes, hope to find a validating way to move this
** to a separate stylesheet. This would work but doesn't validate: 
** @import("IEMacFixes.css");
*/

/* tabs: border on the a, not the div */
*>html #portlet-contentViews li {
    border:none;
}
*>html #portlet-contentViews li a {
    border: 1px solid #aaaaaa;
    border-bottom: none;
}
*>html #portlet-contentViews li.selected a {
    border-color: #fabd23;
}
/* footer icons need a fixed width */
*>html #footer-poweredbyico,
*>html #footer-copyrightico {
    width: 88px;
}

/* more IE fixes */
/* fixes for broken IE float handling */
* html #portal-column-content {
    display: inline;
}
/* only indexed png transparency */
* html #portlet-logo a,
* html #portlet-logo a:hover {
    background: url(wiki-indexed.png) no-repeat;
}

/* float/negative margin brokenness */
* html #bodyContent pre,
* html #bodyContent div.fullImage {
    overflow: auto;
    overflow-y: hidden;
    width: 96%;
    margin-bottom: 25px;
    margin-right: 0;
}
/* more float brokenness */
* html #bodyContent {
    display: inline;
    overflow: auto;
    width: 100%;
}

/* opera 6 fixes */
html>body #portal-column-one {
    position: relative;
    max-width: 11.7em;
}
head:first-child+body #portal-column-one {
    position: static; 
    width: auto;
}

html>body #portlet-personal {
    width: 45em;
    margin-left: 8.6em;
    right: 0;
}
head:first-child+body #portlet-personal {
    margin-left: 0;
    width: 100%;
}
/* debugging tool.. */
/*div{ border:1px solid #000000;}*/

