/*!
 * Styles for elements of the editing form, loaded only when JavaScript is enabled.
 */

.mw-toolbar-editbutton {
	width: 23px;
	height: 22px;
	cursor: pointer;
	vertical-align: middle;
	/* Modern browsers */
	display: inline-block;
	/* IE7 */
	zoom: 1;
	*display: inline;
}
