.mw-content-ltr,
.mw-content-rtl {
	ul.revision-history-links {
		margin-left: 0;
		padding: 0.33em 0.5em 1em;

		.current {
			font-weight: bold;
		}
	}
}

#mw-mf-minidiff {
	ins,
	del {
		color: black;
		text-decoration: none;
	}

	span {
		margin-right: 2px;
	}

	ins {
		background-color: #75C877;
	}

	del {
		background-color: #E07076;
		text-decoration: none;
	}
}
