/*!
 * File description page
 */

.mw-filepage-resolutioninfo {
	font-size: smaller;
}

/*
 * File histories
 */
#filehistory {
	clear: both;
}

.filehistory th,
.filehistory td {
	vertical-align: top;
}

.filehistory th {
	text-align: left;
}

.filehistory td.mw-imagepage-filesize,
.filehistory th.mw-imagepage-filesize {
	white-space: nowrap;
}

.filehistory td.filehistory-selected {
	font-weight: bold;
}

/*
 * Add a checkered background image on hover for file
 * description pages. (bug 26470)
 */
.filehistory a img,
#file img:hover {
	/* @embed */
	background: #fff url( images/checker.png ) repeat;
}

/*
 * filetoc
 */
#filetoc {
	text-align: center;
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

/*
 * Shared images hint
 */
#shared-image-dup,
#shared-image-conflict {
	font-style: italic;
}

/*
 * Classes for Exif data display
 */
.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 400px;
}

.mw_metadata caption {
	font-weight: bold;
}

.mw_metadata th {
	font-weight: normal;
	text-align: center;
}

.mw_metadata td {
	padding: 0.1em;
}

.mw_metadata {
	border: none;
	border-collapse: collapse;
}

.mw_metadata td,
.mw_metadata th {
	border: 1px solid #aaa;
	padding-left: 5px;
	padding-right: 5px;
}

.mw_metadata th {
	background-color: #f9f9f9;
}

.mw_metadata td {
	background-color: #fcfcfc;
}

.mw_metadata ul.metadata-langlist {
	list-style-type: none;
	list-style-image: none;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0;
}
