/*!
 * Styles for elements of the editing form.
 */

/* General layout */
#wpTextbox1 {
	margin: 0;
	display: block;
}

/* Adjustments to edit form elements */
.editCheckboxes {
	margin-bottom: 1em;
}

.editCheckboxes input:first-child {
	margin-left: 0;
}

.cancelLink {
	margin-left: 0.5em;
}

#editpage-copywarn {
	font-size: 0.9em;
}

input#wpSummary {
	display: block;
	margin-top: 0;
	background-color: #fff;
	color: #000;
	width: 80%;
	margin-bottom: 1em;
	padding: 0.625em 0.546875em 0.546875em;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px #fff;
	font-family: inherit;
	font-size: inherit;
	-webkit-transition: border-color 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 );
	-moz-transition: border-color 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 );
	transition: border-color 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 200ms cubic-bezier( 0.39, 0.575, 0.565, 1 );
}

input#wpSummary:focus,
input#wpSummary:active {
	outline: 0;
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
}

.editButtons input:first-child {
	margin-left: .1em;
}

/*
 * Add a bit of margin space between the preview and the toolbar.
 * This replaces the ugly <p><br /></p> we used to insert into the page source
 */
#wikiPreview.ontop {
	margin-bottom: 1em;
}
