/**
 * Basic styles for the edit revision history page 'HistoryAction.php'
 */

@import 'mediawiki.skin.variables.less';

/* stylelint-disable selector-class-pattern */

.mw-history-compareselectedversions {
	margin-top: 8px;
}

.mw-checkbox-toggle-controls {
	margin-top: 4px;
}

.mw-history-revisionactions {
	float: right;
}

#pagehistory {
	.history-user {
		margin-left: 0.4em;
		margin-right: 0.2em;
	}

	li {
		padding: 1px;
	}

	li.selected {
		background-color: @background-color-neutral-subtle;
		color: @color-base;
		outline: 1px dashed #a2a9b1;
	}

	[ type='checkbox' ],
	[ type='radio' ] {
		margin: 4px 4px 0 4px;
	}
}

#mw-oldid-null {
	visibility: hidden;
}

.updatedmarker {
	background-color: #b7f430;
	color: #202122; // @color-base in light mode
}
