/* Styles for collapsible lists of templates used and hidden categories */
@import 'mediawiki.skin.variables.less';

.mw-editfooter-toggler {
	cursor: pointer;
	display: flex;
	align-items: center;

	// Different skins have different values for <p>'s spacing making toggle
	// arrow hard to vertically align correctly with heading paragraph, this
	// resets it to the symmetric spacing of Vector-2010.
	p {
		margin: 0.5em 0;
		padding: 0;
	}

	// This doesn't follow the best practice of Codex icons, use a separate
	// element rather than pseudo-element where possible.
	&::before {
		content: '';
		margin-right: 4px;
		.cdx-mixin-css-icon( @cdx-icon-down-triangle, @color-disabled, @size-icon-x-small );
		transition: transform 250ms ease;

		.mw-editfooter-toggler-collapsed& {
			[ dir='ltr' ] & {
				transform: rotate( -90deg );
			}

			[ dir='rtl' ] & {
				transform: rotate( 90deg );
			}
		}
	}
}

.mw-editfooter-list {
	margin-bottom: 1em;
	margin-left: 2.5em;
}

/* Show/hide animation is incorrect if the table has a margin set. Extra
 * ".wikitable" is needed in the selector for CSS specificity. */
/* stylelint-disable-next-line selector-class-pattern */
.wikitable.preview-limit-report {
	margin: 0;
}
