@import 'mediawiki.mixins';

/* stylelint-disable selector-class-pattern */

.postedit-container {
	margin: 0 auto;
	position: fixed;
	top: 0;
	height: 0;
	left: 50%;
	z-index: 1000;
	font-size: 14px;
	cursor: pointer;
}

.postedit {
	position: relative;
	top: 0.6em;
	left: -50%;
	line-height: 1.35;
	opacity: 1;
	.transition( opacity 250ms );

	&:after {
		content: '';
		background: no-repeat center center;
		.background-image-svg( 'images/close.svg', 'images/close.png' );
		background-size: 12px 12px;
		position: absolute;
		right: 0.4em;
		top: 0;
		bottom: 0;
		min-width: 32px;
		min-height: 32px;
		opacity: 0.87;

		&:hover {
			opacity: 1;
		}
	}

	&.mw-notification {
		padding-right: 3em;
	}
}

.postedit-faded {
	opacity: 0;
}

.postedit-icon {
	padding-left: 25px;
	/* like min-height, but old IE compatible and keeps text vertically aligned, too */
	line-height: 25px;
	background-repeat: no-repeat;
}

.postedit-icon-checkmark {
	/* @embed */
	background-image: url( images/green-checkmark.png );
	/* T176796 */
	background-position: left;
}
