/*!
 * Styles for elements of the editing form.
 */

/* General layout */
#wpTextbox1 {
	margin: 0;
	display: block;
	/* Ensure the textarea is not higher than browser's viewport on small screens */
	max-height: 100vh;
	/* But don't let it collapse into nothingness on really tiny screens */
	min-height: 5em;
}

/*
 * Add a bit of margin space between the preview and the toolbar.
 * This replaces the ugly <p><br /></p> we used to insert into the page source
 */
#wikiPreview.ontop {
	margin-bottom: 1em;
}

/* Adjustments to edit form elements */
#editpage-copywarn {
	font-size: 0.9em;
}

.mw-editform-ooui #wpSummaryWidget {
	display: block;
	width: 80%;
	margin-bottom: 1em;
}

.mw-editform-ooui #editpage-copywarn {
	line-height: 1.26;
}

.mw-editform-ooui #wpSummaryWidget {
	max-width: none;
}

.mw-editform-ooui #wpSummaryLabel {
	margin: 0;
}

.mw-editform-ooui .editCheckboxes .oo-ui-fieldLayout {
	margin-right: 1em;
}

.mw-editform-ooui .editHelp {
	margin-left: 0.5em;
	vertical-align: middle;
}

.mw-editform-ooui .editHelp a {
	font-weight: bold;
}

.mw-editform-ooui .editOptions {
	border-radius: 0 0 2px 2px;
}
