@import "mediawiki.mixins";

.mw-category {
	.column-count(3);
	.column-width(25em);
	.mw-category-group {
		li {
			-webkit-column-break-inside: avoid; // Chrome Any, Safari 3+, Opera 11.1+
			page-break-inside: avoid; // Firefox 1.5+
			break-inside: avoid; // IE 10+
		}
	}
}
