/**
 * Styles for the .editCheckboxes HorizontalLayout in the edit form.
 */

/* stylelint-disable-next-line selector-class-pattern */
.editCheckboxes .oo-ui-horizontalLayout {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
