/*!
 * Styles for elements of the editing form.
 */

/* General layout */
#wpTextbox1 {
	margin: 0;
	display: block;
}

.editOptions {
	background-color: #F0F0F0;
	border: 1px solid silver;
	border-top: none;
	padding: 1em 1em 1.5em 1em;
	margin-bottom: 2em;
}

/* Adjustments to edit form elements */
.editCheckboxes {
	margin-bottom: 1em;
}

.editCheckboxes input:first-child {
	margin-left: 0;
}

.cancelLink {
	margin-left: 0.5em;
}

#editpage-copywarn {
	font-size: 0.9em;
}

#wpSummaryLabel {
	float: left;
	margin-right: 0.5em;
}

/* Create a line break when the remaining space is less than 20em */
#wpSummaryDiv:before {
	content: "";
	display: table;
	width: 40em;
}

/* Hack for a box with the remaining space */
#wpSummaryDiv {
	display: table-cell;
	width: 1%;
	/* IE7 and earlier */
	*width: 100%;
}

#wpSummary {
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0.5em;
}

/* Ensure that the element after the summary is below of #wpSummaryLabel */
#wpSummaryDiv + * {
	clear: left;
}

.editButtons input:first-child {
	margin-left: .1em;
}
