/* stylelint-disable selector-class-pattern */

/* Styles for the JavaScript enhancements of the history page */

#pagehistory li.before input[ name='oldid' ],
#pagehistory li.after input[ name='diff' ] {
	visibility: hidden;
}
