/* Styles for collapsible lists of templates used and hidden categories */
.mw-editfooter-toggler {
	cursor: pointer;
	background-position: left center;
	padding-left: 16px;
}

.mw-editfooter-list {
	margin-bottom: 1em;
	margin-left: 2.5em;
}

/* Show/hide animation is incorrect if the table has a margin set. Extra
 * "table.wikitable" is needed in the selector for CSS specificity. */
table.wikitable.preview-limit-report {
	margin: 0;
}
