<?php
# Test if PHPTal is enabled. If not MediaWiki will load the 'standard' skin
# which doesnt use PHPTal
if ($wgUsePHPTal) {
require_once('includes/SkinPHPTal.php');

# Your class extension is defined there.
#
# The class name MUST begin with 'Skin' and the rest is the name of the file
# excluding '.php'
# This file is named SkinPHPTal.sample (but it should end with php). So the
# class name will be 'Skin' . 'SkinPHPTal'

class SkinSkinPHPTal extends SkinPHPTal {
	function initPage( &$out ) {
		SkinPHPTal::initPage( $out );
		$this->skinname = 'name of your skin all lower case';
		$this->template = 'phptal template used do not put the .pt';
	}

# Override method below
#

}

}
?>
