<!DOCTYPE html>
<html dir="{{dir}}" lang="{{lang}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="color-scheme" content="light dark" />
		<title>{{msgHdr}}</title>
	</head>
	<body>
		<h1>{{msgHdr}}</h1>
		<p>{{detailMsg}}</p>
	</body>
</html>
