<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>{{{title}}}</title>
		<link>{{{url}}}</link>
		<description>{{{description}}}</description>
		<language>{{{language}}}</language>
		<generator>MediaWiki {{{version}}}</generator>
		<lastBuildDate>{{{timestamp}}}</lastBuildDate>
