header {
	padding: .8em 16px 0;
}

nav {
	float: left;
	width: 200px;
}

article {
	margin-left: 250px;
}

.content.kss-no-margin {
	margin: 0;
}

// FIXME: Remove when typography module in mediawiki-ui
body {
	font-family: "Nimbus Sans L", "Liberation Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1,h2,h3,h4,h5 {
	font-family: "DejaVu Serif", Georgia, serif;
}
