// Form elements and layouts

@import "mediawiki.mixins";
@import "mediawiki.ui/variables";
@import "mediawiki.ui/mixins";

// --------------------------------------------------------------------------
// Layouts
// --------------------------------------------------------------------------

// The FancyCaptcha image CAPTCHA used on WMF wikis drives the width of the
// 'VForm' design, the form can't be narrower than this.
@captchaContainerWidth: 290px;
@defaultFormWidth: @captchaContainerWidth;

// VForm
//
// Styleguide 3.

// VForm
//
// Style a fixed width compact vertical stacked form ("VForm") and the elements in divs
// within it. See button and inputs section on guidance of how and when to use them.
//
// Markup:
// <form class="mw-ui-vform">
//   <div class="mw-ui-vform-field">This is a form example.</div>
//   <div class="mw-ui-vform-field">
//     <label>Username </label>
//     <input class="mw-ui-input" value="input">
//     <input type="checkbox"><label class="mw-ui-label">label</label>
//     <select class="mw-ui-input" value="input">
//       <option>foo</option>
//     </select>
//   </div>
//   <div class="mw-ui-vform-field">
//     <button class="mw-ui-button mw-ui-constructive">Button in vform</button>
//   </div>
// </form>
//
// Styleguide 3.1.
.mw-ui-vform {
	.box-sizing(border-box);

	width: @defaultFormWidth;

	// MW currently doesn't use the type attribute everywhere on inputs.
	> label,
	select,
	.mw-ui-button {
		display: block;
		.box-sizing(border-box);
		margin: 0;
		width: 100%;
	}

	// Give dropdown lists the same spacing as input fields for consistency.
	// Values taken from .agora-field-styling() in mixins/form.less
	select {
		padding: 0.35em 0.5em 0.35em 0.5em;
		vertical-align: middle;
	}

	> label {
		width: auto;
		margin-bottom: .2em;
		padding: 0;
	}

	// Override input styling just for checkboxes and radio inputs.
	input[type="radio"] {
		display: inline;
		.box-sizing(content-box);
		width: auto;
	}


	// VForm errors and warning boxes
	//
	// Regular HTMLForm uses .error class, some special pages like
	// SpecialUserlogin (login and create account) use .errorbox.
	//
	// Markup:
	// <form class="mw-ui-vform">
	//   <div class="errorbox">An error occurred</div>
	//   <div class="warningbox">A warning to be noted</div>
	//   <div class="successbox">Action successful!</div>
	//   <div class="error">A different kind of error</div>
	//   <div class="error">
	//     <ul><li>There are problems with some of your input.</li></ul>
	//   </div>
	//   <div class="mw-ui-vform-field">
	//     <input type="text" value="input" class="mw-ui-input">
	//   </div>
	//   <div class="mw-ui-vform-field">
	//     <button class="mw-ui-button mw-ui-constructive">Button in vform</button>
	//   </div>
	// </form>
	//
	// Styleguide 3.2.
	.error,
	.errorbox,
	.warningbox,
	.successbox {
		.box-sizing(border-box);
		font-size: 0.9em;
		margin: 0 0 1em 0;
		padding: 0.5em;
		word-wrap: break-word;
	}

	// Colours taken from those for .errorbox in skins/common/shared.css
	.error {
		color: #cc0000;
		border: 1px solid #fac5c5;
		background-color: #fae3e3;
		text-shadow: 0 1px #fae3e3;
	}

	// This specifies styling for individual field validation error messages.
	// Show them below the fields to prevent line break glitches, and leave
	// some space between the field and the error message box.
	.mw-ui-vform-div .error, /* for backwards-compatibility, remove before 1.24 */
	.mw-ui-vform-field .error {
		display: block;
		margin-top: 5px;
	}

}

// --------------------------------------------------------------------------
// Elements
// --------------------------------------------------------------------------

// A wrapper for a single form field: the <input> / <select> / <button> element,
// help text, labels, associated error/warning/success messages, and so on.
// Elements with this class are generated by HTMLFormField in core MediaWiki.
//
// (We use a broad definition of 'field' here: a purely textual information
// block is also a "field".)
.mw-ui-vform-div, /* for backwards-compatibility, remove before 1.24 */
.mw-ui-vform-field {
	display: block;
	margin: 0 0 15px;
	padding: 0;
	width: 100%;
}

// Labels
//
// Styleguide 4.

// Labels (block)
//
// Apply mw-ui-label to individual elements to style them. All text inside
// a label should be normal font weight.
//
// Markup:
// <label class="mw-ui-label">Label for input:</label>
// <input class="mw-ui-input">
//
// Styleguide 4.1.
.mw-ui-label {
	font-size: 0.9em;
	color: @colorText;

	* {
		font-weight: normal;
	}
}

// Inline labels
//
// Labels for checkboxes and radio buttons should be inline.
//
// Markup:
// <div>
//   <input type="checkbox" id="kss-4-2-ex-1"><label class="mw-ui-checkbox-label" for="kss-4-2-ex-1">checkbox label text</label>
// </div>
// <div>
//   <input type="radio" id="kss-4-2-ex-2"><label class="mw-ui-radio-label" for="kss-4-2-ex-2">radio label text</label>
// </div>
//
// Styleguide 4.2.
.mw-ui-checkbox-label,
.mw-ui-radio-label {
	margin-bottom: 0.5em;
	cursor: pointer;
	vertical-align: bottom;
	line-height: normal;
	font-weight: normal;

	& > input[type="checkbox"],
	& > input[type="radio"] {
		width: auto;
		height: auto;
		margin: 0 0.1em 0 0;
		padding: 0;
		border: 1px solid @colorFieldBorder;
		cursor: pointer;
	}
}
