@import "mediawiki.mixins";

@iconSize: 1.4em;
@gutterWidth: 1em;
.mixin-mw-ui-icon-bgimage(@icon_svg; @icon_png) {
	&:not(.mw-ui-icon-before):before,
	&.mw-ui-icon-before:before {
		.background-image-svg(@icon_svg, @icon_png);
	}
}

// Icons
//
// To use icons you must be using a browser that supports pseudo elements.
// This includes support for IE8.
// http://caniuse.com/#feat=css-gencontent
// Browsers that do not support either of these selectors will degrade to text only.
//
// Styleguide 4.

// Standalone icons
//
// Markup:
// <div class="mw-ui-icon mw-ui-icon-element mw-ui-icon-ok">OK</div>
// <div class="mw-ui-icon mw-ui-icon-element mw-ui-icon-ok mw-ui-button mw-ui-progressive">OK</div>
//
// Styleguide 4.1.
.mw-ui-icon {
	position: relative;
	min-height: @iconSize;

	// mw-ui-icon on its own requires support of not selector will not work in IE < 9.
	&.mw-ui-icon-element {
		text-indent: -999px;
		overflow: hidden;
		width: @iconSize + ( 2 * @gutterWidth );
		&:before {
			left: 0;
			right: 0;
			position: absolute;
		}
	}

	&:before {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: inline-block;
		position: relative;
		height: @iconSize;
		content: '';
	}


	// Icons with text
	//
	// Markup:
	// <div class="mw-ui-icon mw-ui-icon-before mw-ui-icon-ok">OK</div>
	// <div class="mw-ui-icon mw-ui-icon-before mw-ui-icon-ok mw-ui-progressive mw-ui-button">OK</div>
	//
	// Styleguide 4.1.2
	&.mw-ui-icon-before {
		&:before {
			width: @iconSize;
			margin-right: @gutterWidth;
		}
	}
}

// Icons
.mw-ui-icon-ok {
	.mixin-mw-ui-icon-bgimage('images/ok.svg', 'images/ok.png');
}
