// Utilities
//
// Other things which effect the behaviour of components

// Flush left
//
// Used when you want to push an element to the left of its containing element
//
// Markup:
// <div class="mw-ui-vform-field">
//   <label>Username <a href="#" class="mw-ui-flush-left">?</a></label>
//   <input>
// </div>
.mw-ui-flush-left {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

// Flush right
//
// Used when you want to push an element to the right of its containing element
//
// Markup:
// <div class="mw-ui-vform-field">
//   <label>Username <a href="#" class="mw-ui-flush-right">?</a></label>
//   <input>
// </div>
.mw-ui-flush-right {
	float: right;
	padding-right: 0;
	margin-right: 0;
}

// Center block
//
// Centers the element in its containing element
//
// Markup:
// <div>
//   <button class="mw-ui-center-block">click me</button>
// </div>
.mw-ui-center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// mw-ui-text-truncated
//
// Apply the mw-ui-text-truncated class to any element where long text is
// expected. Use in Flow, Echo and MobileFrontend extensions.
//
// Markup:
// <div class="mw-ui-text-truncated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// Cras magna diam, lacinia quis mi id, commodo convallis justo. Donec eget purus in elit cursus fringilla.
// Nullam eu nibh id sapien aliquet pellentesque a sed lorem. Pellentesque habitant morbi tristique
// senectus et netus et malesuada fames ac turpis egestas.
// Vestibulum a nisl lectus. Aliquam erat volutpat. Vivamus tortor est, adipiscing in egestas eget, mollis ac est.
// In et quam vestibulum, posuere lorem eu, dignissim ante. Ut felis eros, molestie et metus sed, viverra
// tempor augue. Suspendisse at faucibus sem, ut elementum nisi. Donec gravida, dui ut porttitor tempus,
// augue sem feugiat quam, vel consectetur orci ante et arcu. Vivamus est eros, ornare vehicula erat nec,
// viverra suscipit urna.</div>
.mw-ui-text-truncated {
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
