/* stylelint-disable selector-class-pattern */
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	line-height: 1.4;
	font-size: 1em;
	-webkit-text-size-adjust: 100%;
}

html.dark {
	color-scheme: dark;
}

body {
	margin: 0;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.6;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: rgba( 60, 60, 67 );
	background-color: #f8f9fa;
	direction: ltr;
	font-synthesis: style;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block;
}

.mw-body {
	margin: 32px 32px 0;
	padding-bottom: 30px;
}

@media ( min-width: 960px ) {
	.mw-body {
		margin: 32px 32px 0;
		padding-top: 64px;
		padding-left: 272px;
	}
}

@media ( min-width: 1440px ) {
	.mw-body {
		padding-right: calc( (100vw - 1440px) / 2 );
		padding-left: calc( (100vw - 1440px) / 2 + 272px );
	}
}

#mw-panel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	padding: 32px 32px 96px;
	width: calc( 100vw - 64px );
	max-width: 320px;
	opacity: 0;
	overflow: hidden auto;
	transform: translate( -100% );
	transition: opacity 0.5s, transform 0.25s ease;
	overflow-wrap: break-word;
	border-right: 1px solid #c8ccd1;
}

#mw-panel a {
	font-weight: 500;
	color: #54595d;
}

#mw-panel div:nth-child( n+2 ) {
	border-top: 1px solid #a2a9b1;
	padding-top: 10px;
}

#mw-panel a:hover {
	/* stylelint-disable-next-line declaration-no-important */
	color: #447ff5 !important;
}

#mw-panel a:active {
	/* stylelint-disable-next-line declaration-no-important */
	color: #36c !important;
	/* stylelint-disable-next-line declaration-no-important */
	font-weight: bold !important;
}

#mw-panel li {
	list-style-type: none;
}

.dark #mw-panel {
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.04 ), 0 1px 2px rgba( 0, 0, 0, 0.06 );
}

@media ( min-width: 960px ) {
	#mw-panel {
		z-index: 1;
		padding-top: 64px;
		padding-bottom: 128px;
		width: 272px;
		max-width: 100%;
		opacity: 1;
		visibility: visible;
		box-shadow: none;
		transform: translate( 0 );
	}
}

@media ( min-width: 1440px ) {
	#mw-panel {
		/* CSS math (max) not supported by all browsers */
		/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
		padding-left: max( 32px, calc( (100% - (1440px - 64px)) / 2 ) );
		width: calc( (100% - (1440px - 64px)) / 2 + 240px );
	}
}

#p-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 160px;
}

#p-logo a {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 10em;
	height: 160px;
	text-decoration: none;
	background-image: url( images/installer-logo.png );
}

.config-page-list {
	float: right;
	max-width: 300px;
	margin: 10px;
}

.config-submit {
	margin: 5px 0 5px 0;
}

.config-help-field-content {
	display: flex;
}

.config-help-field-content-hidden {
	display: none;
}

.config-page-current {
	font-weight: bold;
}

#config-live-log {
	display: flex;
	margin: 10px;
}

#config-live-log textarea {
	width: 100%;
}

.cdx-card {
	margin-top: 5px;
	margin-bottom: 5px;
}

.dbWrapper {
	margin-bottom: 30px;
}
/* Logo preview */
.logo-preview-area {
	display: flex;
	padding: 20px;
	margin: 20px 20px 0;
}
/* Logo preview (main) */
.logo-main {
	display: inline-flex;
	max-height: 100px;
	align-items: center;
	margin-left: 20px;
}

.logo-icon {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.logo-tagline,
.logo-wordmark {
	display: block;
	max-width: 130px;
	max-height: 50px;
}

.logo-tagline {
	font-size: 0.75em;
	text-align: center;
}

.logo-dropper {
	display: none;
}

.sidebar .cdx-card__text {
	text-align: center;
}
