<nav class="vector-user-links{{#is-wide}} vector-user-links-wide{{/is-wide}}" aria-label="{{msg-personaltools}}" role="navigation" >
	{{#data-user-links-overflow-menu}}{{>Menu}}{{/data-user-links-overflow-menu}}
	{{>UserLinksDropdown}}
</nav>
