.mw-apisandbox-toolbar {
	background: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom: -1px;
	padding: 0.5em 0;
	border-bottom: 1px solid #a2a9b1;
	text-align: right;
	z-index: 1;
}

#mw-apisandbox-ui .mw-apisandbox-link {
	display: none;
}

.mw-apisandbox-popup .oo-ui-popupWidget-body > .oo-ui-widget {
	vertical-align: middle;
}

/* So DateTimeInputWidget's calendar popup works... */
.mw-apisandbox-popup .oo-ui-popupWidget-popup,
.mw-apisandbox-popup .oo-ui-popupWidget-body {
	overflow: visible;
}

/* Display contents of the popup on a single line */
.mw-apisandbox-popup > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-body {
	display: table;
}

.mw-apisandbox-popup > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-body > * {
	display: table-cell;
}

.mw-apisandbox-popup > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-body > .oo-ui-buttonWidget {
	padding-left: 0.5em;
	width: 1%;
}

.mw-apisandbox-spacer {
	display: inline-block;
	height: 1px;
	width: 5em;
}

.mw-apisandbox-help-field {
	border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}

.mw-apisandbox-help-field:last-child {
	border-bottom: 0;
}

.mw-apisandbox-optionalWidget {
	width: 100%;
}

.mw-apisandbox-optionalWidget.oo-ui-widget-disabled {
	position: relative;
	z-index: 0; /* New stacking context to prevent the cover from leaking out */
}

.mw-apisandbox-optionalWidget-cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	cursor: pointer;
}

.mw-apisandbox-optionalWidget-fields {
	display: table;
	width: 100%;
}

.mw-apisandbox-optionalWidget-widget,
.mw-apisandbox-optionalWidget-checkbox {
	display: table-cell;
	vertical-align: middle;
}

.mw-apisandbox-optionalWidget-checkbox {
	width: 1%; /* Will be expanded by content */
	white-space: nowrap;
	padding-left: 0.5em;
}

.mw-apisandbox-textInputCode .oo-ui-inputWidget-input {
	font-family: monospace, monospace;
	font-size: 0.8125em;
	-moz-tab-size: 4;
	tab-size: 4;
}

.mw-apisandbox-widget-field .oo-ui-textInputWidget {
	/* Leave at least enough space for icon, indicator, and a sliver of text */
	min-width: 6em;
}

.apihelp-deprecated {
	font-weight: bold;
	color: #d33;
}

.apihelp-deprecated-value .oo-ui-labelElement-label {
	text-decoration: line-through;
}
