@import '../variables.less';

/* Logo */
#p-logo {
	width: 10em;
	height: 160px;
	margin-bottom: 1em;

	a {
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		width: 10em;
		height: 160px;
		text-decoration: none;
	}
}
