@import '../variables.less';

/** element that wraps a notice that comes from wiki page */
#localNotice {
	margin-bottom: 0.9em;
}

/* Site Notice (includes notices from CentralNotice extension) */
#siteNotice {
	font-size: @font-size-site-notice;
	margin: @grid-row-gap 0;
	position: relative;
	text-align: center;
}
