/*
** MediaWiki 'mono' style sheet for CSS2-capable browsers.
**
** Copyright Gabriel Wicke - http://www.aulinx.de/
**
** Based on the Plone 2.0 styles, see http://plone.org/.
** Plone stylesheet Copyright: 
** Alexander Limi - http://www.plonesolutions.com
** additional plone work:
** Joe Geldart & Tom Croucher - http://www.netalleynetworks.com
** Michael Zeltner - http://niij.org
** Geir Bækholt - http://www.plonesolutions.com
**
** All you guys rock :)
*/

/*
** Tableless Column Layout for CSS2 capable Browsers
** Based on http://www.positioniseverything.net/ordered-floats.html by Big John.
** Fixed width modifications by Tonico Strasser (http://www.webproducer.at) and
** Michael Zeltner (http://niij.org).
** simplified heavily by Gabriel Wicke
*/

#portal-columns {
/*    width: auto;*/
    margin: 0;
}


#portal-column-content {
    /*position:relative;
    top:2.2em; */
    width: 100%;
    float: right;
    margin: 0 0 0 -12.2em;
}
#portal-column-content #content {
    margin: 2.5em 0 0 12.2em;
}

#portal-column-one {
    padding-top: 160px;
}

/* the left column width is specified in class .portlet */

/* Font size: 
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
    font: x-small "Bitstream Vera Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: Black;
    margin: 0;
    padding: 0;
}


/* scale back up to a sane default */
#visual-portal-wrapper {
    font-size:123%
}

/* general styles */

table {
    font-size: 100%;
}


a {
    text-decoration: none;
    /*color: #436976;*/
    color: #005189;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0.4em 0em 0.7em 0em;
    line-height: 1.5em;
}
p a {
    text-decoration: none;
}
p a:visited {
    color: #5a3696;
    background-color: transparent;
}
p a:active {
    color: Red;
    background-color: transparent;
}
p img {
    border: 0;
    margin: 0;
}

hr {
    height: 1px !important;
    color: #aaaaaa;
    background-color: #aaaaaa;
    border: 0;
    margin: 0.2em 0 0.2em 0;
}


h1, h2, h3, h4, h5, h6 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
   /* border-bottom: 1px solid #2f6fab;*/
    border-bottom: 1px solid #aaaaaa;

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: Black ! important; 
}

h1 {
    font-size: 188%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 132%;
    border-bottom: none;
    font-weight: bold;
}

h4 {
    font-size: 116%;
    border-bottom: none;
    font-weight: bold;
}

h5 {
    font-size: 100%;
    border-bottom: none;
    font-weight: bold;
}

h6 {
    font-size: 80%;
    border-bottom: none;
    font-weight: bold;
}


ul { 
    line-height: 1.5em;
    list-style-type: square;
    margin: 0.3em 0 0 1.5em;
    padding:0;
    list-style-image: url("bullet.gif");
}

ol {
    line-height: 1.2em;
    margin: 0.3em 0 0 1.5em;
    padding:0;
}
ul a, ol a {
    text-decoration: none;
}
li {
    margin-bottom: 0.1em;
}
dt {
    font-weight: bold;    
}
dt a {
    text-decoration: none;
}

dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}
dd a {
    text-decoration: none;
}

dd.link a {
    text-decoration: none;
    color: Black;
}

fieldset {
    border: 1px solid #2f6fab;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}
legend {
    background: White;
    padding: 0.5em;
    font-size: 90%;
}

form {
    border: none;
    margin: 0;
}

textarea {
    border: 1px solid #2f6fab;  
    color: Black;
    background-color: white;
    width: 98%;
    padding: 0.1em;
}
input {
    font-family: "Bitstream Vera Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    visibility: visible;
    border: 1px solid #2f6fab;  
    color: Black;
    background-color: white;
    vertical-align: middle;
    padding: 0.1em;
}
select {
    border: 1px solid #2f6fab;  
    color: Black;
    vertical-align: top;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted Black;
    color: Black;
    background-color: transparent;
    cursor: help;
}
q {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}
blockquote {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}
code {
    color: Black;
    background-color: #f9f9f9;
}
pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: Black;
    background-color: #f9f9f9;
    overflow: auto;
}
.pre a {
    text-decoration: none;
}


/*
** the main content area
*/

#documentSubtitle {
    font-size: 84%;
    line-height: 1.2em;
    margin: -1.6em 0 0.6em 1em;
    color: #7d7d7d;
}

#siteSubtitle {
    display: none;    
}


#content {
    padding: 0 0 1em 0em;
    margin: 0;
}

#bodyContent a:hover {
    text-decoration: underline;
}

/* Some space under the headers in the content area */
#bodyContent h1,
.documentFirstHeading,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
    margin-bottom:0.8em;
}


.documentContent {
    font-size: 105%;
    padding: 0em 1em 1.5em 1em !important;
    background: White;
    border: 1px solid #aaaaaa;
    border-right: none;
    margin:0;
    line-height: 1.5em;
    position: relative;
    z-index: 2;
}

/* this will be the user notification thing */
.portalMessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-size: 100%;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
.portalMessage a {
    color: Black;
    text-decoration: none;
}
.documentDescription {
    /* The summary text describing the document */
    font-weight: bold;
    display: block;
    margin: 1em 0em;
    line-height: 1.5em;
}
.documentByLine {
    text-align: right;
    font-size: 90%;
    clear: both;
    font-weight: normal;
    color: #76797c;
}
.documentByLine a {
    text-decoration: none;
}

/*
** Special content area views
*/

.special li {
    line-height: 1.4em !important;
    margin: 0;
    padding: 0;
}

/* the auto-generated edit comments */
#autocomment { color: gray; }



/*
** Structural Elements
*/

#visual-portal-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

/*
** the portlets (elements in the quickbar)
*/

.portlet {
    border: none;
    margin: 0 0 1em 0em;
    float: none;
    padding: 0;
    width: 13.5em !important;
    overflow: hidden;
}
.portlet h4 {
    font-size: 100%;
    font-weight: normal;
    white-space: nowrap;
}
.portlet h5 { 
/*    background: #fabd23;*/
    background: transparent;
   /* border: 1px solid #fabd23;
    border-style: solid solid none solid;*/
    padding: 0em 1em 0em 0.5em;
    text-transform: lowercase;
    display: inline;
    font-size: 1em;
    height: 1em;
    font-weight: normal;
    white-space: nowrap;
}
.portlet h6 { 
    background: #ffae2e;
    border: 1px solid #2f6fab;
    border-style: solid solid none solid;
    padding: 0em 1em 0em 1em;
    text-transform: lowercase;
    display: block;
    font-size: 1em;
    height: 1.2em;
    font-weight: normal;
    white-space: nowrap;
}

.portletBody {
    background: White;
    border-collapse: collapse;
/*    border: 1px solid #2f6fab;*/
    border: 1px solid #aaaaaa;
}
.portletDetails {
    text-align: right;
}

.portletMore {
    display: block;
    text-align: right;
}

.portletContent {
    padding: 0.1em 0.8em 0.7em 0.5em;
}
.portletClose {
    float: right;
    text-transform: none;
    border-left: 1px solid #2f6fab;
    padding: 0em 0.2em;
}
.portlet h1, 
.portlet h2, 
.portlet h3, 
.portlet h4 {
    margin: 0;
    padding: 0;
}
.portlet .even {
    background-color: #f7f9fa;
}
.portlet .odd {
    background-color: transparent;
}
.portlet input {
    font-size: 100%;
}

.portlet ul {
    line-height: 1.5em;
    list-style-type: square;
    list-style-image: url("bullet.gif");
    font-size:108%;
}
.portlet li {
    padding:0;
    margin: 0 0 0 0;
    margin-bottom: 0;
}

.even {
    background-color: #f7f9fa;
}
.odd {
    background-color: transparent;
}
.visualHighlight {
    background-color: #f7f9fa;
}

.discreet {
    color: #76797c;
    font-size: 80%;
    font-weight: normal;
}

/* 
** Logo properties 
*/
 
#portlet-logo {
    z-index: 3;
    position:absolute; /*needed to use z-index */
    top: 0;
    left: 0;
    height: 155px;
    width: 135px;
    overflow: visible;
}
#portlet-logo a {
    display: block;
    height: 155px;
    width: 135px;
    background: url(wiki.png) no-repeat;
    background-repeat: no-repeat;
}

/*
** the navigation portlet
*/


#portlet-navigation-tree {
    position:relative;
    z-index:2;
}
#portlet-navigation-tree .plain {
    white-space: nowrap;
}

/*
** Search portlet
*/
#portlet-search {
    position:relative;
    z-index:2;
}    
input.searchButton {
    width:5.4em;
    margin-top:1px;
    /*    font-size: 100%;
    margin-bottom: 1px ! important;
    background: White url(search_icon.gif) 2px 1px no-repeat;
    cursor: pointer;
    padding: 1px 1px 1px 15px;
    text-transform: lowercase;*/

}

#searchGadget {
    width:11.3em;
    margin: 0;
}


#portlet-search .portletContent {
    padding: 0.5em 0.4em 0.4em 0.4em;
}


/* 
** the personal toolbar
*/

#portlet-personal {
    width:100% !important;
    white-space:nowrap !important;
    padding:0 0 0 0;
    margin:0;
    position:absolute;
    z-index: 0;
    right:0px;
    top:0px;
    border: none;
   /* border-bottom: 1px solid #2f6fab;*/
   /* border-bottom: 1px solid #2f6fab;*/
  /*  background-color: #f0f0f0;*/
    overflow: visible;
    line-height: 1.2em;
}

#portlet-personal .hiddenStructure {
    display:none;
}
#portlet-personal .portlet,
#portlet-personal .portletBody,
#portlet-personal .portletContent,
#portlet-personal .odd{
    padding:0;
    margin:0;
    border: none !important;
    z-index:0;
    overflow: visible;
}
#portal-personal ul,
#portal-personal li {
    z-index:0;
    border:none;
}

/* this is the ul contained in the portlet */

#portal-personaltools {
/*    background-color: #fabd23;*/
/*    border-bottom-color: #2f6fab;*/
    border: none;
    line-height: 1.4em;
    color: #2f6fab;
    padding: 0em 2em 0 3em;
    margin: 0;
    text-align: right;
    text-transform: lowercase;
    list-style: none;
    z-index:0;
}

#portal-personaltools .portalNotLoggedIn {
    color: #2f6fab;
    padding: 0;
    background: transparent;
    background-image: none;
} /* Used on all descriptions relevant to those not logged in */
 
#portal-personaltools li {
    padding:0;
    display: inline;
    color: #2f6fab;
    margin-left: 1em;
    line-height: 1.2em;
}
#portal-personaltools li a {
    text-decoration: none;
/*    color: #436976;*/
    color: #005896;
    padding-bottom: 0.2em;
}
#portal-personaltools li a:hover {
    text-decoration: none;
/*    color: #436976;*/
    background-color: #ffcd6b;
    padding-bottom: 0.2em;
}

/* the icon in front of the user name */
li#personaltools-userpage,
li#personaltools-login{
    background: transparent url(user.gif) center left no-repeat;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-transform: none;
}

/*
** the page-related actions- page/talk, edit etc 
*/

#portlet-contentViews {
    position:absolute;
    /*top:2.5em;
    left:0px;*/
    top: 2.6em;
    left: 13.3em;
    margin: 0;
    margin-top: -1.4em;
    white-space:nowrap !important;
    width:70% !important;
    min-width: 40em;
    line-height: 1.3em;
    overflow: visible;
    background-color: transparent;
    border-collapse: collapse;
    padding-left: 1em;
    list-style: none;
}

#portlet-contentViews .hiddenStructure {
    display: none;
}

#portlet-contentViews ul {
    list-style: none;
}
#portlet-contentViews li {
    float: left;
    margin-right: 0.2em;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid solid none solid;
    padding-bottom: 0.1em;
}

#portlet-contentViews li.selected {
    border-width: 1px;
    border-style: solid solid none solid;
    border-color: #fabd23;
    padding-bottom: 0.2em;
}
#portlet-contentViews li a {
    float:left;
    display: block;
    background-color: White;
    color: #005189;
    padding: 0.1em 0.9em 0.4em 0.9em;
    text-decoration: none;
    border: none;
    text-transform: lowercase;
    position: relative;
    z-index: 0 !important;
}
 /* Commented Backslash Hack
     hides rule from IE5-Mac \*/
#portlet-contentViews li a {float:none;}
  /* End IE5-Mac hack */

#portlet-contentViews .selected a {
    float:left;
    position: relative;
    z-index: 3 !important;
    display: block;
    background-color: White;
    padding: 0.1em 0.9em 0.4em 0.9em;
}
 /* Commented Backslash Hack
     hides rule from IE5-Mac \*/
#portlet-contentViews selected a {float:none;}
  /* End IE5-Mac hack */

#portlet-contentViews li a:hover {
    float:left;
    position: relative;
    z-index: 3 !important;
    display: block;
    border-color: #fabd23;
    padding: 0.1em 0.9em 0.4em 0.9em;
}
 /* Commented Backslash Hack
     hides rule from IE5-Mac \*/
#portlet-contentViews li a:hover {float:none;}
  /* End IE5-Mac hack */

/* offsets to distinguish the tab groups
IE5.5/6.0 is too dumb for this, hides the right tabs
*/
li#contentaction-talk {
    margin-right: 1.6em;
}
li#contentaction-watch {
    margin-left: 1.6em;
}

/*
#portlet-contentViews .contentViews {
    padding: 0 1em 0 1em;
}
*/

/*
** the remaining portlets
*/
#portlet-toolbox,
#portlet-language {
    position:relative;
    z-index:3;
}


/*
** footer
*/


#portal-footer {
    background-color: White;
    border-top: 1px solid #fabd23;
    border-bottom: 1px solid #fabd23;
    float: none;
    margin: 0.3em 0em 1em 0em;
    padding: 0.4em 0em 1em 0em;
    text-align: center;
}

#portal-footer li {
    display: inline;
    margin-right: 2em;
}

#portal-colophon {
    float: none;
/*    margin: 0em 0em 2em 0em;
    padding: 0.5em 0em 1em 0em;*/
    text-align: center;
}

#portal-colophon ul,
#portal-colophon ul li,
#portal-colophon ul li a {
    list-style: none;
    display: inline;
    text-decoration: none;
}



/*
** mediawiki-specific styles
*/

a.stub,
a.new{ color:#ba0000; text-decoration:none; }

#toc { 
    /*border:1px solid #2f6fab;*/
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
}

/* images */
div.floatright { float: right; 
    margin: 0 0 1em 1em;
    position:relative;

}
div.floatright p { font-style: italic;} 
div.floatleft { float: left; margin: 0.3em 0.5em 0.5em 0;
    position:relative;
}
div.floatleft p { font-style: italic; } 

/* thumbnails */
div.thumbnail-none,
div.thumbnail-right,
div.thumbnail-left {
 /*   border:1px solid #2f6fab;*/
      border:1px solid #cccccc;
    
    background-color:#f9f9f9;
    padding: 2px;
    position:relative;
    margin: 0.3em 0 0.5em;
    font-size: 95%;
    text-align: center;
}

div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
    margin-top:3px; margin-bottom:3px;
    position:relative;
    text-align: left;
}

div.thumbnail-right {
    float: right;
    position:relative;
    margin-left:0.5em;
}

div.thumbnail-left {
    float: left;
    position:relative;
    margin-right:0.5em;
}

/* table standards */
table.rimage {
    float:right; 
    width:1pt; 
    position:relative;
    margin-left:1em; 
    margin-bottom:1em;
    text-align:center;
}






/*
** Accessibility and visual enhancement elements 
*/

.link-plain {
    background-image: none;
    padding: 0;
}

.link-parent {
    display: block;
    background: transparent url("arrowUp.gif") 4px 5px no-repeat;
    padding: 1px 0px 1px 16px;
    font-size: 80%;
}

.link-user {
    background: transparent url("user.gif") 0 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

/* the div* hides it from older browsers that choke on css3 */
/*
.link-external,
html*.external{
    background: transparent url("link_icon.gif") 0px 1px no-repeat;
    background-repeat: no-repeat;
    padding: 1px 0px 1px 16px;
}*/

.urlexpansion {
    display: none;
}

.link-https {
    background: transparent url("lock_icon.gif") 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

.link-mailto {
    background: transparent url("mail_icon.gif") 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

.link-ftp {
    background: transparent url("file_icon.gif") 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

.link-irc {
    background: transparent url("discussionitem_icon.gif") 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}


.link-comment {
    background: transparent url("discussionitem_icon.gif") center left no-repeat;
    padding: 1px 0px 1px 16px !important;
}

.hiddenStructure {
    display: none;
  }

.contentActions .hiddenStructure {
    position: absolute;
    top: -200px;
    left: -200px;
}

.visualClear {
    display: block;
    clear: both;
}
.hiddenLabel {
    display: block;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px 0 0 -1px;
    width: 1px;
}
.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}

.visualOverflow {
    overflow: auto;
    margin: 0 0 1em 0;
}

.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
    margin: 0;
}

/* for highlighting of search terms */

.highlightedSearchTerm {
   background-color: #feff82;
}

/* debugging tool.. */
/*div{ border:1px solid #000000 !important;}*/

