<IfModule headers_module>
Header set X-Content-Type-Options nosniff
</IfModule>
<IfModule php7_module>
php_flag engine off
</IfModule>
# In php8, php dropped the version number.
<IfModule php_module>
php_flag engine off
</IfModule>
