
body { margin: 0px; padding: 0px; color: black; }
#specialform { display: inline; }
#content { top: 0; margin: 0; padding: 0; }
#topbar { padding: 0px; }
#powersearch {
  background: #DDEEFF; border-style: solid; border-width: 1; padding: 2;
}
#quickbar {
 width: 140px; top: 18ex; padding: 2px; visibility: visible; z-index: 99;
}
#article, #article td, #article th, #article p {
 font-family: Verdana, Arial, sans-serif;
 font-size: 10pt; color: black;
}
#article p {
 padding-top: 0; padding-bottom: 0;
 margin-top: 1ex; margin-bottom: 0;
}
p, pre, td, th, li, dd, dt { line-height: 12pt; }

#footer { padding: 4px; }
#footer form { display: inline; }

#sitetitle {
 font-family: Times, serif;
 color: white;
 font-weight: normal; font-size: 32pt;
 line-height: 32pt;
}
td.top {
 background-color: #6688AA; color: white;
 margin-top: 4px; margin-bottom: 4px;
 padding-top: 0; padding-bottom: 0;
 text-transform: uppercase;
 font-family: Verdana, Arial, sans-serif; font-size: 8pt;
}
td.top a {
 font-family: Verdana, Arial, sans-serif;
 background-color: #6688AA; color: white;
 text-decoration: none; font-size: 10pt;
}
td.bottom {
 font-family: Verdana, Arial, sans-serif;
 font-size: 10pt;
 padding: 0;
}
#pagestats {
 font-family: Verdana, Arial, sans-serif;
 color: black;
 font-size: 9pt;
}
#sitesub {
 font-family: Verdana, Arial, sans-serif;
 font-size: 9pt; font-weight: bold;
 color: black;
 padding-top: 0;
}
#quickbar {
 font-family: Verdana, Arial, sans-serif;
 font-size: 8pt; font-weight: bold; line-height: 9.5pt;
 text-decoration: none;
 color: black;
 padding: 0; margin-top: 0;
}
#quickbar a { color: #446688; }

#quickbar h6 {
 font-family: Verdana, Arial, sans-serif;
 font-size: 10pt; font-weight: bold; line-height: 12pt;
 text-decoration: none;
 color: #666666;
 padding: 0; margin-bottom: 2px; margin-top: 6px;
}
#quickbar form { padding: 0; margin-top: 0; }

h1 { font-family: Arial, Helvetica, sans-serif;
 color: #666666;
 font-family: Verdana, Arial, sans-serif;
 font-size: 18pt; font-weight: bold; line-height: 21pt;
}
h1.pagetitle { padding-bottom: 0; margin-bottom: 0; }
#article p.subtitle {
 color: #666666; font-size: 11pt; font-weight: bold;
 padding-top: 0; margin-top: 0; padding-bottom: 1ex;
}
a { color: #223366; }
a.external { color: #336644; }
a:visited { color: #8D0749; }
a.printable { text-decoration: underline; }
a.stub { color:#772233; text-decoration:none; }
h2, h3, h4, h5, h6 { margin-bottom: 0; }
a.stub { color:#772233; text-decoration:none; }
small { font-size: 75%; }
#toc { border:1px solid #8888aa; background-color:#f7f8ff;padding:5px;font-size:95%; }


/* Images */
div.floatright { float: right; margin: 0 0 1em 1em; }
div.floatright p { font-style: italic; }
div.floatleft { float: left; margin: 0.3em 0.5em 0.5em 0; }
div.floatleft p { font-style: italic; }


/* thumbnails */
div.thumbnail-none, div.thumbnail-right, div.thumbnail-left {
	padding: 2px;
	border:1px solid #8888aa;
	background:#CCCCCC;
	margin: 0.3em auto 0.5em;
	font-size: 85%;
}

div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
	margin-top:3px; margin-bottom:3px;
}

div.thumbnail-right {
	float: right;
	margin-left:0.5em;
}

div.thumbnail-left {
	float: left;
	margin-right:0.5em;
}

/* table standards */
table.rimage {
        float:right;
        width:1pt;
        margin-left:1em;
        margin-bottom:1em;
        text-align:center;
        font-size:smaller;
        }
