/* 
 * common.css
 * This file contains CSS settings common to Wikistandard, Nostalgia and CologneBlue
 */
#footer { clear: both }
/* images */
div.floatright { float: right; margin: 0 0 1em 1em; }
div.floatright p { font-style: italic; }
div.floatleft { float: left; margin: 0.3em 0.5em 0.5em 0; }
div.floatleft p { font-style: italic; }


/* Print-specific things to hide */
.urlexpansion, .printfooter {
        display: none;
}

/* table standards */
table.rimage {
        float:right;
        width:1pt;
        margin-left:1em;
        margin-bottom:1em;
        text-align:center;
        font-size:smaller;
}

/* thumbnails */
div.thumb {
    margin: 10px;
    text-align: center;
    width: auto;
}
div.thumb div {
    border: 1px solid #8888aa;
    background-color: #f7f8ff;
    padding: 2px;
    font-size: 94%;
}
div.thumb div * { 
    border: none;
    background: none;
}
div.thumb img {
    border:1px solid #8888AA;
    margin-bottom:3px;
    background:#FFFFFF;
}
div.thumbcaption,
div.thumbcaption * {
    border: none !important;
    background: none !important;
}
div.thumbcaption {
    padding: 0.2em 0 0.2em 0 !important;
    text-align: left !important;
}
div.tright {
    float: right;
    margin-left:0.5em;
}
div.tleft {
    float: left;
    margin-right:0.5em;
}

/* Page history styling */
/* automatically generated edit summaries */
.autocomment { color: gray; }
#pagehistory span.hlinedesc { margin-left: 1.4em }
#pagehistory span.hflag { 
    margin-left: -1em;
    font-weight: bold;
}
#pagehistory li { 
    border: 1px solid White;
    padding-left: 1em;
}
#pagehistory li.selected { 
    background-color:#f9f9f9;
    border:1px dashed #aaaaaa;
}

table.diff {
        background:white;
}
td.diff-otitle {
        background:#cccccc;
}
td.diff-ntitle {
        background:#cccccc;
}
td.diff-addedline {
        background:#ccffcc;
}
td.diff-deletedline {
        background:#ffffaa;
}
td.diff-context {
        background:#eeeeee;
}

img { border: none; }
img.tex { vertical-align: middle; }


#toc {
        border: 1px solid #8888aa;
        background-color: #f7f8ff;
        padding: 5px;
        font-size: 95%;
}

.error {
	color: red;
	font-size: larger;
}

/* preference page with js-genrated toc */
#preftoc { 
    float: left;
    margin: 1em 1em 1em 1em;
    width: 13em;
}
#preftoc li { border: 1px solid White; }
#preftoc li.selected { 
    background-color:#f9f9f9;
    border:1px dashed #aaaaaa;
}
#preftoc a,
#preftoc a:active {
    display: block;
    color: #005189;
}
#prefcontrol { 
    clear: left;
    float: left;
    margin-top: 1em;
}
div.prefsectiontip { 
    font-size: 94%;
    margin-top: 1em;
}
fieldset.prefsection { margin-top: 1em }
fieldset.operaprefsection { margin-left: 15em }
