/* 
 * common.css
 * This file contains CSS settings common to Wikistandard, Nostalgia and CologneBlue
 */

/* images */
div.floatright { float: right; margin: 0 0 1em 1em; }
div.floatright p { font-style: italic; }
div.floatleft { float: left; margin: 0.3em 0.5em 0.5em 0; }
div.floatleft p { font-style: italic; }


/* Print-specific things to hide */
.urlexpansion, .printfooter {
        display: none;
}

/* table standards */
table.rimage {
        float:right;
        width:1pt;
        margin-left:1em;
        margin-bottom:1em;
        text-align:center;
        font-size:smaller;
}

/* thumbnails */
div.thumbnail-none, div.thumbnail-right, div.thumbnail-left {
        padding: 2px;
        border:1px solid #8888aa;
        background:#CCCCCC;
        margin: 0.3em 0 0.5em;
        font-size: 85%;
        text-align: center;
}


div.thumbcaption {
        margin-top:3px; margin-bottom:3px;
        text-align: left;
}

div.thumbnail-right {
        float: right;
        margin-left:0.5em;
}

div.thumbnail-left {
        float: left;
        margin-right:0.5em;
}

table.diff {
        background:white;
}
td.diff-otitle {
        background:#cccccc;
}
td.diff-ntitle {
        background:#cccccc;
}
td.diff-addedline {
        background:#ccffcc;
}
td.diff-deletedline {
        background:#ffffaa;
}
td.diff-context {
        background:#eeeeee;
}

img { border: none; }

/* automatically generated edit summaries */
.autocomment { color: gray; }

#toc {
        border: 1px solid #8888aa;
        background-color: #f7f8ff;
        padding: 5px;
        font-size: 95%;
}

