/*
** Stylesheet filter for some b0rked browser
** Don't touch!
*/
/* IE6.0 */
@import "null?\"\{"; 
@import "DaVinciIE60Fixes.css";

voice-family: "\"}\"";
voice-family:inherit; 

/* IE5.0 */
@media tty { 
    i{content:"\";/*" "*/}}; @import 'DaVinciIE50Fixes.css'; {;}/*";} 
}

/* IE5.5 */
@media tty {
    i{content:"\";/*" "*/}}@m; @import 'DaVinciIE55Fixes.css'; /*";}
}



