/*
** IE5.0 Fix Stylesheet
*/

/* IE 4&5 interpret keyword sizes one off */
body {
    font-size: xx-small;
}

* html #visual-portal-wrapper {
  width: 100%;
}
* html*#visual-portal-wrapper {
    width: auto;
}

input {
    margin-bottom: 1px; /* bug fix */
}

table.listing td.top {
    /* insane IE row bug workaround */
    position: relative;
    left: -1px;
    top: -1px;
}

/* 5.0 doesn't like the background icon for external links and user */
.link-external,
.external {
    background: none;
    padding: 0;
}
li#personaltools-userpage,
li#personaltools-login,
li#personaltools-logout {
    background: none;
    padding-left: none;
}

/* try to prevent the sidebar from getting pushed to the bottom */

.portlet {
    width: 13.5em;
    overflow: hidden;
}

#portal-column-one {
    position: absolute;
    z-index:0;
    overflow: visible;
    top: 0px;
}

textarea {
    width: 78% !important;
}


#portal-column-content {
    margin: 2.8em 0 0 -12.2em !important;
}
#portal-column-content #content {
    margin-left: 12.2em;    
    position: relative;
    z-index: 1;
}
/* slightly smaller top margin for the content area */


#portlet-contentViews {
    top: 1.4em;
    left: 11.8em;
    background: transparent;
    width: 76% !important;
}
                                                                                                                                                                       
#portlet-contentViews ul {
    display: block;
    float: left;
}
#portlet-contentViews li {
    display: block;
    float: left;
}
#portlet-contentViews li a {
    display: block;
    float: left;
    padding-bottom: 0.2em;
}
#portlet-contentViews .selected a,
#portlet-contentViews li a:hover {
    padding-bottom: 0.2em;
}

#portlet-personal {
    position: absolute;
    text-align: right;
    top: 0px;
    left: 0px;
    /*width: 760px !important;*/
    width: 100% !important;
    white-space: nowrap !important;
    padding: 0;
    margin: 0;
    border: none;
}

#portal-personaltools {
    padding-bottom: 0.1em;
}

#portal-personaltools li a {
    padding-left: 2em !important;
    margin-left: 2em !important;
}


#portal-footer {
    margin: 0 0 0 15em;
}

/* padding fixes */
#content {
    padding: 0 0 1em 0em;
    margin: 0;
}
.urlexpansion {
    display: none !important;
}
#documentSubtitle {
    margin: -1em 0 0.6em 1em;
}

/*div{ border:1px solid Red !important;}*/
