#article { }
#specialform { display: inline; }
#powersearch {
  background: #DDEEFF; border-style: solid; border-width: 1; padding: 2;
}
.bodytext { }
a.interwiki, a.external { color: #3366BB; }
a.printable { text-decoration: underline; }
a.stub { color:#772233; text-decoration:none; }
h1.pagetitle { padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0; }
h2, h3, h4, h5, h6 { margin-bottom: 0; }
p.subtitle { padding-top: 0; margin-top: 0; }
