body.encyclopedia { background: white }
body.meta    { background: #ffffdd }
body {
	margin: 0px;
	padding:0px;
	}
form.inline {
	display: inline; 
	}
	
/* borders */
/*
#topbar h1, #topbar div.navbox {
	border-bottom:solid grey 1px;	 
}
*/	
	
/* ********************************** TOPBAR */
#topbar {
	border-bottom: solid 1px black;
	
}
/* common to all 3 topbar blocks */
#topbar h1, #topbar div.navbox {
	/*
	background-color: #eef;
	background-color: #f8f8f8;
	*/
	padding: 0px 4px;
	margin: 0px;
	/*
	border-bottom:solid white 2px;	 
	border-bottom:solid grey 1px;	 
	*/
	}
#topbar h1 {
	font-size: 2.2em;
	}	
#topbar h1 span {
	font-size: 0.6em;
	color:#aaa;
	}	
div.navbox {
	font-size:0.9em;
	}
#topbar div#navboxsubtitle {
	}
#topbar div#sitelinks {
	padding-bottom: 2px;
}
	
div.spacer {
	clear:both;
}

div.row span.left {
  float: left;
  text-align: left;
  width: 49%;
  }

div.row span.right {
  float: right;
  text-align: right;
  width: 49%;
  }

/* ********************************* CONTENT */	
#content { 
	top: 0px;  
	margin: 0px; 
	/*
	padding: 0px 5px 0px ; 
	position:relative;
	*/
	}
h1.pagetitle {
	padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0; 
	font-size: 2em;
	
	}
p.subtitle , p.languages , p.actions {
	padding: 0em 1em;
	margin: 0em ; 
	font-size: 0.9em;
	color:#723; 
	}
p.languages {
	font-style: italic;
	}
	
#article {
	padding: 0px 4px;
}

/* ********************************* quickbar */	
#quickbar-left , #quickbar-right { 
	position: absolute; 
	top: 0px; 
	bottom:0px;
	width: 148px; 
	padding: 0px; 
	visibility: visible;
	z-index: 99; 
	}
#quickbar-left { 
	left: 0px; 
	border-right:1px solid black;
	}
#quickbar-right { 
	right: 0px; 
	border-left:1px solid black;
	}
.quickbarsection {
	padding: 6px;
	border-bottom:1px solid black;
}
/* ********************************** QUICKBAR DEPENDENCIES */
#content { 
	margin-left: 148px; 
	}

