#article { padding: 4px; }
#content { margin: 0; padding: 0; }
#footer { padding: 4px;font-size:95%; }
#pagestats { font-size: 9pt; }
#powersearch {
  background: #DDEEFF; border-style: solid; border-width: 1px; padding: 2px;
}
#quickbar { width: 140px; padding: 4px; visibility: visible; z-index:99;font-size:95%;}
#topbar { padding: 4px;font-size:95%; }
#toc { border:1px solid #8888aa; background-color:#f7f8ff;padding:5px;font-size:95%; }
#toolbar { padding:0px; }
#infobox { background:#eeeeff;color:black;;}
#editform { margin-top:1px; }
.bodytext { }
a.interwiki, a.external { color: #3366BB; }
a.printable { text-decoration: underline; }
a.stub { color:#772233; text-decoration:none; }
a.stub { color:#772233; text-decoration:none; }
body { margin: 0px; padding: 4px; color: black; }
form.inline { display: inline; }

/* CHECK MERGE @@@
 * h1.pagetitle { padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;
 * font-size:130%; }
 * h2 { font-size: 112.5%; }
 */

h1.pagetitle { padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;
font-size:150%; }
h2 { font-size: 120%; }
h2, h3, h4, h5, h6 { margin-bottom: 0;}
h3 { font-size: 106.25%; }
h4 { font-size: 103.125%; }
h5 { font-size: 100%; }
h6 { font-size: 95%; }
hr.sep { color:gray;height:1px;background-color:gray;}
p.subpages { font-size:small;}
p.subtitle { padding-top: 0; margin-top: 0;}
td { empty-cells:show; }
td.bottom { border-top: 1px solid gray; }
td.top { border-bottom: 1px solid gray; }
/* images */
div.floatright { float: right; margin: 0 0 1em 1em; }
div.floatright p { font-style: italic; } 
div.floatleft { float: left; margin: 0.3em 0.5em 0.5em 0; }
div.floatleft p { font-style: italic; } 

/* thumbnails */
div.thumbnail-none, div.thumbnail-right, div.thumbnail-left {
	padding: 2px;
	border:1px solid #8888aa;
	background:#CCCCCC;
	margin: 0.3em auto 0.5em;
	font-size: 85%;
	text-align: center;
}

div.thumbnail-none p, div.thumbnail-right p, div.thumbnail-left p {
	margin-top:3px; margin-bottom:3px;
	text-align: left;
}

div.thumbnail-right {
	float: right;
	margin-left:0.5em;
}

div.thumbnail-left {
	float: left;
	margin-right:0.5em;
}

table.diff {
	background:white;
}
td.diff-otitle {
	background:#cccccc;
}
td.diff-ntitle {
	background:#cccccc;
}
td.diff-addedline {
	background:#ccffcc;
}
td.diff-deletedline {
	background:#ffffaa;
}
td.diff-context {
	background:#eeeeee;
}





/* table standards */
table.rimage {
	float:right; 
	width:1pt; 
	margin-left:1em; 
	margin-bottom:1em;
	text-align:center;
	font-size:smaller;
	}
