/* OOUIHTMLForm styles */

.mw-htmlform-ooui .mw-htmlform-field-HTMLCheckMatrix {
	width: 100%;
}

.mw-htmlform-ooui .mw-htmlform-matrix {
	border-spacing: 0;
}

.mw-htmlform-ooui .mw-htmlform-matrix td {
	padding: 0.35em 0.7em;
	-webkit-transition: background-color 250ms;
	-moz-transition: background-color 250ms;
	transition: background-color 250ms;
}

.mw-htmlform-ooui .mw-htmlform-matrix tbody tr:nth-child( even ) td {
	background-color: #f8f9fa;
}

.mw-htmlform-ooui .mw-htmlform-matrix tbody tr:not( :first-child ):hover td {
	background-color: #eaecf0;
}

.mw-htmlform-ooui .mw-htmlform-matrix tbody tr:first-child td {
	background-color: #fff;
}

.mw-htmlform-ooui .mw-htmlform-matrix td.first {
	margin-right: 5%;
	width: 39%;
}

/* Flatlist styling for PHP widgets... */
.mw-htmlform-flatlist .oo-ui-fieldLayout-align-inline,
/* ...and for JS widgets */
.mw-htmlform-flatlist .oo-ui-radioOptionWidget,
.mw-htmlform-flatlist .oo-ui-checkboxMultioptionWidget {
	display: inline-block;
	margin-right: 1em;
}

.mw-htmlform-ooui .htmlform-tip,
.mw-htmlform-ooui .mw-htmlform-submit-buttons {
	margin-top: 1em;
}
