/* OOUIHTMLForm styles */

.mw-htmlform-ooui .mw-htmlform-submit-buttons {
	margin-top: 1em;
}

.mw-htmlform-ooui .mw-htmlform-field-HTMLCheckMatrix {
	width: 100%;
}
,
.mw-htmlform-ooui .mw-htmlform-matrix {
	border-spacing: 0;
}

.mw-htmlform-ooui .mw-htmlform-matrix tbody tr:nth-child( even ) td {
	background-color: #f8f9fa;
	padding: 0.5em;
}

.mw-htmlform-ooui .mw-htmlform-matrix td.first {
	margin-right: 5%;
	width: 39%;
}

/* Flatlist styling for PHP widgets... */
.mw-htmlform-flatlist .oo-ui-fieldLayout-align-inline,
/* ...and for JS widgets */
.mw-htmlform-flatlist .oo-ui-radioOptionWidget,
.mw-htmlform-flatlist .oo-ui-checkboxMultioptionWidget {
	display: inline-block;
	margin-right: 1em;
}
