<!-- See http://www.phpunit.de/manual/3.3/en/appendixes.configuration.html -->
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
  <testsuite name="MediaWiki Test Suite">
    <!-- <directory>.</directory> -->
    <file>ApiTest.php</file>
    <file>HttpTest.php</file>
    <file>LanguageConverterTest.php</file>
    <file>LocalFileTest.php</file>
    <file>MediaWikiParserTest.php</file>
    <file>RevisionTest.php</file>
    <file>SearchDbTest.php</file>
    <file>SiteConfigurationTest.php</file>
    <file>TimeAdjustTest.php</file>
    <file>TitleTest.php</file>
    <file>XmlTest.php</file>
  </testsuite>
  <groups>
    <exclude>
      <group>Broken</group>
      <group>Stub</group>
    </exclude>
  </groups>
</phpunit>