<!-- See http://www.phpunit.de/manual/3.3/en/appendixes.configuration.html -->
<phpunit bootstrap="./bootstrap.php"
         colors="false"
         stopOnFailure="false">
         <!-- convertErrorsToExceptions="true" -->
         <!-- convertNoticesToExceptions="true" -->
         <!-- convertWarningsToExceptions="true" -->
  <testsuite name="MediaWiki Test Suite">
    <directory>.</directory>
  </testsuite>
  <groups>
    <exclude>
      <group>Broken</group>
      <group>Stub</group>
    </exclude>
  </groups>
</phpunit>