.agora-flush-left() {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

.agora-flush-right() {
	float: right;
	margin-right: 0;
	padding-right: 0;
}

.agora-center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
