/* Styles for collapsible lists of templates used and hidden categories */
.mw-editfooter-toggler {
	cursor: pointer;
	background-position: 2px center;
	padding-left: 16px;
}

.mw-editfooter-list {
	margin-bottom: 1em;
	margin-left: 2.5em;
}

/* Parent element has appropriate margins set, and doubling them causes
   animation glitches when using $.slideDown() when they fail to fold */
.mw-editfooter-list table.wikitable {
	margin: 0;
}
