/*
** Diff rendering
*/
table.diff,
td.diff-otitle,
td.diff-ntitle {
	background-color: transparent;
}

td.diff-otitle,
td.diff-ntitle {
	text-align: center;
}

td.diff-marker {
	text-align: right;
}

td.diff-lineno {
	font-weight: bold;
}

td.diff-addedline,
td.diff-deletedline,
td.diff-context {
	font-size: 88%;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

td.diff-addedline {
	background: #E0ECFF;
}

td.diff-deletedline {
	background: #FCF8CC;
}

td.diff-context {
	background: #F2F2F2;
}

.diffchange {
	font-weight: bold;
	text-decoration: none;
}

td.diff-addedline .diffchange {
	background: #B0C8FF;
}

td.diff-deletedline .diffchange {
	background: #FFD084;
}

table.diff {
	border: none;
	width: 98%;
	border-spacing: 4px;

	/* Ensure that colums are of equal width */
	table-layout: fixed;
}

table.diff td {
	padding: 0;
}

table.diff col.diff-marker {
	width: 2%;
}

table.diff col.diff-content {
	width: 48%;
}

table.diff td div {
	/* Force-wrap very long lines such as URLs or page-widening char strings.*/
	word-wrap: break-word;

	/* As fallback (FF<3.5, Opera <10.5), scrollbars will be added for very wide cells
	 * instead of text overflowing or widening
	 */
	overflow: auto;
}
