// Form elements and layouts

@import 'mediawiki.skin.variables.less';

// --------------------------------------------------------------------------
// Elements
// --------------------------------------------------------------------------

// Apply mw-ui-label to individual elements to style them.
.mw-ui-label {
	color: @color-base;
	font-size: 0.9em;

	* {
		font-weight: normal;
	}
}
