@import 'mediawiki.mixins.less';

.mw-category {
	.mw-category-group ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.mw-category-columns {
		.column-count( 3 );
		.column-width( 24em );

		h3 {
			break-after: avoid-column;
		}

		.mw-category-group li {
			.column-break-inside-avoid;

			a {
				overflow-wrap: break-word;
			}
		}
	}
}

/* stylelint-disable-next-line selector-class-pattern */
.redirect-in-category {
	font-style: italic;
}
