<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE preferences SYSTEM 'http://java.sun.com/dtd/preferences.dtd'>

<!--
  The preferences here should be set with the same values
  found in the LocalSettings.php file in the installation
  to be tested.
-->

<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map />
    <node name="com">
      <map />
      <node name="piclab">
        <map />
        <node name="wikitest">
          <map>
            <entry key="script" value="/wiki/wiki.phtml" />
            <entry key="server" value="http://www.myhost.com" />
            <entry key="articlepath" value="" />
            <entry key="uploadpath" value="http://www.myhost.com/wiki/uploads" />
            <entry key="mainpage" value="Main Page" />
            <entry key="sysoppass" value="adminpass" />
          </map>
        </node>
      </node>
    </node>
  </root>
</preferences>

