body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 10pt;

	font-family: sans-serif;
	color: black;
	background-color: #f0f0f0;
}

#mw_header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 0;
	padding: 0 0em 0 0em;
	border: none;
	height: 2em;
	width: 100%;

	background-color: #003366;
	color: white;
}

#mw_header h1 {
	margin: 0 0 0 0.5em;
	padding: 0 0 0 0;
	text-decoration: none;
	font-size: 150%;
}

#p-personal {
	position: absolute;
	top: 2em;
	left: 0;
	height: 1.5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;

}

#p-personal div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1.5em;
	font-variant: small-caps;
}

#p-personal h5 {
	display: none;
}

#p-personal ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
	height: 1.5em;
	background-color: #3c78b5;
}

#p-personal li {
	display: block; float: left;
	height: 1.5em;
	margin: 0 0 0 0;
	vertical-align: middle;

	font-weight: bold;
	text-transform: lowercase;
}

#p-personal li a {
	text-decoration: none;
	color: white;
	padding: 0 1em 0 1em;
}

#p-personal li a:hover {
	text-decoration: none;
	color: white;
}

#p-personal li:hover {
	background-color: #003366;
}

#jump-to-nav {
	display: none;
}

#mw_contentwrapper {
	width: 100%;
	margin: 0 0 0 -14.1em;
	float: right;
}

#mw_content {
	margin: 0 0 0 14em;

	background-color: white;
	border-top: solid 1px #bbbbbb;
	border-left: solid 1px #bbbbbb;
	border-bottom: solid 1px #bbbbbb;

	line-height: 1.5em;
	padding: 1em 1em 1em 1em;
}

#mw_portlets {
	width: 14em;
	
	border-right: solid 1px #bbbbbb;
	background-color: #f0f0f0;
}

#mw_main {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	margin-top: 3.5em;
}

#mw_clear {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	clear: both;
}

.portlet {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.portlet div.pBody {
	padding: 1em 0 1em 0;
}

#searchBody {
	text-align: center;
}

#searchInput {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.portlet h5 {
	padding: 0.3em 0 0.3em 1em;
	margin: 0 0 0 0;
	background-color: #dddddd;
	font-weight: bold;
	border-bottom: solid 1px #3c78b5;
}

.portlet ul {
	margin: 0 0 0 1.5em;
	padding: 0 0 0 0;
}

#mw_portlets .portlet ul {
	line-height: 1.4em;
}

li {
	list-style-image: url(bullet.gif);
}

#p-cactions {
	height: 1.5em;
	padding: 0 0 0 0;
	margin: 0 0 0 14em;
}

#p-cactions div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions a,
#p-cactions a:hover {
	color: black;
	text-decoration: none;
}

#p-cactions ul {
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions li {
	margin: 0 0.5em 0 0.5em;
	padding: 0 0.2em 0 0.2em;
	display: block;
	float: left;
	height: 1.5em;
	text-transform: lowercase;
}

#p-cactions li.selected {
	background-color: #bbbbbb;
}

#p-cactions li a,
#p-cactions li a:hover,
#p-cactions li a:visited {
	text-decoration: underline;
	color: #003366;
}

#p-cactions li.selected a,
#p-cactions li.selected a:hover,
#p-cactions li.selected a:visited {
	text-decoration: none;
	color: white;
}

#p-cactions h5 {
	display: none;
}

#siteSub {
	display: none;
}

#footer {
	background-color: #f0f0f0;
	background: url(footer-grad.png) repeat-x 0 0;
	padding: 10px 1em 0 1em;

	color: #444444;
}

#footer a,
#footer a:hover,
#footer a:visited {
	color: #444444;
	text-decoration: underline;
}

img {
	border: none;
}

#footer li {
	display: inline;
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#footer ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.printfooter {
	display: none;
}

p {
	margin: 0 0 0 0;
}

#contentSub {
	color: #888;
	font-size: small;
	padding-left: 2em;
}

#mw_portlets form {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a, a:hover, a:visited {
	text-decoration: underline;
	color: #003366;
}

span.editsection {
	font-size: small;
}

h1, h2 {
	border-bottom: solid 1px #003366;
}

#preftoc {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1.5em;
	clear: right;
}

#preftoc li {
	margin: 0 0.5em 0 0.5em;
	padding: 0 0.2em 0 0.2em;
	display: block;
	float: left;
	height: 1.5em;
	text-transform: lowercase;
}

#preferences {
	margin: 0 0 0 0;
	padding: 0em 1em 1em 1em;
	border: solid 1px #bbbbbb;
}

#preferences fieldset {
	margin-top: 0;
	border: none;
}

#preferences h2 {
	font-size: 10pt;
}

.mainLegend {
	display: none;
}

#preftoc li.selected {
	background-color: #bbbbbb;
}

#preftoc li a,
#preftoc li a:hover,
#preftoc li a:visited {
	text-decoration: underline;
	color: #003366;
}

#preftoc li.selected a,
#preftoc li.selected a:hover,
#preftoc li.selected a:visited {
	text-decoration: none;
	color: white;
}

#mw_content a.external,
#mw_content a[href ^="gopher://"] {
        background: url(external.png) center right no-repeat;
        padding-right: 13px;
}
#mw_content a[href ^="https://"],
.link-https {
        background: url(lock_icon.gif) center right no-repeat;
        padding-right: 16px;
}
#mw_content a[href ^="mailto:"],
.link-mailto {
        background: url(mail_icon.gif) center right no-repeat;
        padding-right: 18px;
}
#mw_content a[href ^="news://"] {
        background: url(news_icon.png) center right no-repeat;
        padding-right: 18px;
}
#mw_content a[href ^="ftp://"],
.link-ftp {
        background: url(file_icon.gif) center right no-repeat;
        padding-right: 18px;
}
#mw_content a[href ^="irc://"],
.link-irc {
        background: url(discussionitem_icon.gif) center right no-repeat;
        padding-right: 18px;
}

#mw_content a.external[href $=".ogg"], #mw_content a.external[href $=".OGG"],
#mw_content a.external[href $=".mid"], #mw_content a.external[href $=".MID"],
#mw_content a.external[href $=".midi"], #mw_content a.external[href $=".MIDI"],
#mw_content a.external[href $=".mp3"], #mw_content a.external[href $=".MP3"],
#mw_content a.external[href $=".wav"], #mw_content a.external[href $=".WAV"],
#mw_content a.external[href $=".wma"], #mw_content a.external[href $=".WMA"],
.link-audio {
        background: url("audio.png") center right no-repeat;
        padding-right: 13px;
}
#mw_content a.external[href $=".ogm"], #mw_content a.external[href $=".OGM"],
#mw_content a.external[href $=".avi"], #mw_content a.external[href $=".AVI"],
#mw_content a.external[href $=".mpeg"], #mw_content a.external[href $=".MPEG"],
#mw_content a.external[href $=".mpg"], #mw_content a.external[href $=".MPG"],
.link-video {
        background: url("video.png") center right no-repeat;
        padding-right: 13px;
}
#mw_content a.external[href $=".pdf"], #mw_content a.external[href $=".PDF"],
#mw_content a.external[href *=".pdf#"], #mw_content a.external[href *=".PDF#"],
#mw_content a.external[href *=".pdf?"], #mw_content a.external[href *=".PDF?"],
.link-document {
        background: url("document.png") center right no-repeat;
        padding-right: 12px;
}
