/*!
 * Diff rendering
 */

.diff {
	border: 0;
	border-spacing: 4px;
	margin: 0;
	width: 100%;
	/* Ensure that colums are of equal width */
	table-layout: fixed;
}

.diff td {
	padding: 0.33em 0.5em;
}

.diff td.diff-marker {
	/* Compensate padding for increased font-size */
	padding: 0.25em;
}

.diff col.diff-marker {
	width: 2%;
}

.diff .diff-content {
	width: 48%;
}

.diff td div {
	/* Force-wrap very long lines such as URLs or page-widening char strings */
	word-wrap: break-word;
}

.diff-title {
	vertical-align: top;
}

.diff-notice,
.diff-multi,
.diff-otitle,
.diff-ntitle {
	text-align: center;
}

.diff-lineno {
	font-weight: bold;
}

td.diff-marker {
	text-align: right;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.2;
}

.diff-addedline,
.diff-deletedline,
.diff-context {
	font-size: 88%;
	line-height: 1.6;
	vertical-align: top;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-radius: 0.33em;
}

.diff-addedline {
	border-color: #a3d3ff;
}

.diff-deletedline {
	border-color: #ffe49c;
}

.diff-context {
	background: #f8f9fa;
	border-color: #eaecf0;
	color: #222;
}

.diffchange {
	font-weight: bold;
	text-decoration: none;
}

.diff-addedline .diffchange,
.diff-deletedline .diffchange {
	border-radius: 0.33em;
	padding: 0.25em 0;
}

.diff-addedline .diffchange {
	background: #d8ecff;
}

.diff-deletedline .diffchange {
	background: #feeec8;
}

/* Correct user & content directionality when viewing a diff */
.diff-currentversion-title,
.diff {
	direction: ltr;
	unicode-bidi: embed;
}

/* @noflip */ .diff-contentalign-right td {
	direction: rtl;
	unicode-bidi: embed;
}

/* @noflip */ .diff-contentalign-left td {
	direction: ltr;
	unicode-bidi: embed;
}

.diff-multi,
.diff-otitle,
.diff-ntitle,
.diff-lineno {
	direction: ltr !important; /* stylelint-disable-line declaration-no-important */
	unicode-bidi: embed;
}

/*!
 * Wikidiff2 rendering for moved paragraphs
 */

.mw-diff-movedpara-left,
.mw-diff-movedpara-right,
.mw-diff-movedpara-left:visited,
.mw-diff-movedpara-right:visited,
.mw-diff-movedpara-left:active,
.mw-diff-movedpara-right:active {
	display: block;
	color: transparent;
}

.mw-diff-movedpara-left:hover,
.mw-diff-movedpara-right:hover {
	text-decoration: none;
	color: transparent;
}

.mw-diff-movedpara-left:after,
.mw-diff-movedpara-right:after {
	display: block;
	color: #222;
	margin-top: -1.25em;
}

.mw-diff-movedpara-left:after,
.rtl .mw-diff-movedpara-right:after {
	content: '↪';
}

.mw-diff-movedpara-right:after,
.rtl .mw-diff-movedpara-left:after {
	content: '↩';
}
