/* stylelint-disable selector-class-pattern */
/*!
 * Diff rendering
 */
td.diff-context,
td.diff-addedline .diffchange,
td.diff-deletedline .diffchange {
	background-color: transparent;
}

td.diff-addedline .diffchange {
	text-decoration: underline;
}

td.diff-deletedline .diffchange {
	text-decoration: line-through;
}
