/**
 * Styling for Special:Watchlist and Special:RecentChanges
 */

table.mw-enhanced-rc {
	background: none;
	border:0;
	border-spacing:0;
}

table.mw-enhanced-rc th, table.mw-enhanced-rc td {
	padding:0;
	vertical-align:top;
}

td.mw-enhanced-rc {
	white-space:nowrap;
	font-family:monospace;
}

.mw-enhanced-rc-time {
	font-family: monospace;
}

table.mw-enhanced-rc td.mw-enhanced-rc-nested {
	padding-left: 1em;
}

/* Show/hide arrows in enhanced changeslist */
.mw-enhanced-rc .collapsible-expander {
	float: none;
}

.mw-rc-openarrow,
.show .mw-rc-closearrow {
	display: none;
}
.show .mw-rc-openarrow {
	display: inline;
}
