/* The login form invites users to create an account */
#mw-createaccount-cta {
	width: 20em;
	height: 10em;
	/* @embed */
	background: url(images/glyph-people-large.png) no-repeat 50%;
	margin: 0 auto;
	padding-top: 4em;
}

#mw-createaccount-cta,
#mw-createaccount-another {
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
}

/* Remove this when the cache has expired */
#mw-createaccount-cta h3,
#mw-createaccount-another h3 {
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
}

/* Remove this when the cache has expired */
#mw-createaccount-cta h3 {
	padding-top: 4em;
}
