/* Styles just for VForm user login */
#mw-userlogin-help {
	text-align: center;
}

.mw-ui-vform .mw-secure {
	/* @embed */
	background: url(images/icon-lock.png) no-repeat scroll left center transparent;
	margin: 0 0 0 1px;
	padding: 0 0 0 11px;
}

/* The login form invites users to create an account */
#mw-createaccount-cta {
	width: 20em;
	height: 10em;
	/* @embed */
	background: url(images/glyph-people-large.png) no-repeat 50%;
	margin: 0 auto;
}

#mw-createaccount-cta h3,
#mw-createaccount-another h3 {
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
}

#mw-createaccount-cta h3 {
	padding-top: 4em;
}

#mw-createaccount-join {
	margin-left: 0.75em;
	/* Separate from background image */
	box-shadow: 4px 4px 4px 4px rgba(255, 255, 255, 1);
	width: auto;
	display: inline-block;
}
