/*
 * When inside the VForm style, disable the border that Vector and other skins
 * put on the div surrounding the login/create account form.
 * Also disable the margin and padding that Vector puts around the form.
 */
.mw-ui-container #userloginForm,
.mw-ui-container #userlogin {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Reposition and resize language links, which appear on a per-wiki basis */
.mw-ui-container #languagelinks {
	margin-bottom: 2em;
	font-size: 0.8em;
}

/* Put some space under template's header, which may contain CAPTCHA HTML.*/
section.mw-form-header {
	margin-bottom: 10px;
}

/*
 * Styles for information boxes.
 */
.mw-ui-vform .errorbox,
.mw-ui-vform .warningbox,
.mw-ui-vform .successbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.9em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	word-wrap: break-word;
}

/*
 * Override the right margin of the form to give space in case a benefits
 * column appears to the side.
 *
 */
.mw-ui-container #userloginForm {
	margin-right: 100px;
}
