/*
 * Styles for information boxes.
 */
.mw-ui-vform .errorbox,
.mw-ui-vform .warningbox,
.mw-ui-vform .successbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.9em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	word-wrap: break-word;
}
