<<<<<<< HEAD   (304fd6 Merge remote-tracking branch 'origin/REL1_22' into fundraisi)
/** Reuses colors from mediawiki.special.changeemail.css */
.mw-email-not-authenticated .mw-input,
.mw-email-none .mw-input{
	border: 1px solid #FF8080;
	background-color: #FFC0C0;
	color: black;
}
/** Authenticated email field has its own class too. Unstyled by default */
/*
.mw-email-authenticated .mw-input { }
*/
=======
>>>>>>> BRANCH (f3d821 Updated release notes and version number to MediaWiki 1.23.3)
