/* Styles for links to RSS/Atom feeds in sidebar */

/* stylelint-disable-next-line selector-class-pattern */
a.feedlink {
	background-image: url( images/feed-icon.svg );
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-left: 16px;
}
