@mixin agora-flush-left() {
    float: left;
    margin-left: 0;
    padding-left: 0;
}

@mixin agora-flush-right() {
    float: right;
    margin-right: 0;
    padding-right: 0;
}

@mixin agora-center-block() {
    display: block;
    margin: {
        left: auto;
        right: auto;
    };
}