/* 7.0 - only fixes */
/* content area */
/* workaround for various ie float bugs */

/* This bit is needed to make links clickable... WTF */
div#column-content div#content {
	margin-left: 12.2em;
	margin-top: 3em;
	height: 1%;
}
.rtl div#column-content div#content {
	margin-right: 12.2em;
	margin-left: 0;
}


.rtl div#column-one {
	/* For some reason it tries to inherit the padding-top into every div,
	 * and I can't figure out how to get it back off.
	 * Margin works correctly for this use, though.
	 */
	padding-top: 0;
	margin-top: 160px;
}

/* These elements also have padding-left: 20px; in main.css, but in RTL mode this is flipped.
 * That's good in normal browsers, but in IE7 it needs to not be flipped for some daft reason.
 * Also clear the right margin (originally margin-left: 1em)
 */
li#pt-userpage, li#pt-anonuserpage, li#pt-login {
	padding-left: 20px;
	margin-right: 0;
}

.rtl a.feedlink {
	background-position: right;
	padding-right: 0;
	padding-left: 16px;
}
/* the tabs */

#p-cactions {
	z-index: 3;
}


#p-cactions li {
	padding-bottom: 0 !important;
	border: none;
	background-color: transparent;
	cursor: default;
	float: none !important;
}

#p-cactions li a {
	display: inline-block !important;
	vertical-align: top;
	padding-bottom: 0;
	border: solid #aaa;
	border-width: 1px 1px 0;
}
#p-cactions li.selected a {
	border-color: #fabd23;
	padding-bottom: 0.17em;
}
#p-cactions li a:hover {
	padding-bottom: 0.17em;
}
#p-navigation a {
	display: inline-block;
	width: 100%;
}
#portal-personaltools {
	padding-bottom: 0.1em;
}
textarea {
	width: 96%;
}

/*
#catlinks,
div.tright,
div.tleft {
	position: relative;
}
*/


div#footer li {
	/* Work around bug with inline <li> tags with right margins and nowrap */
	margin-right: 0;
}
