.rtl #bodyContent a.external {
	background-image: url(external-rtl.png);
	padding-right: 13px;
	padding-left: 0;
}

.rtl a.feedlink {
	background-position: right;
	padding-right: 0;
	padding-left: 16px;
}
