<html>
<head>
<style>
	/* RESET CSS (abridged) */
	html, body, div, span, p, a, small, strong, footer, header {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	footer, header, section {
		display: block;
	}
	body {
		line-height: 1;
	}

	/* STYLES */
	#mw-confirm-email {
		background-color: #F8F9FA;
		font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Inter', 'Helvetica', 'Arial', sans-serif;
		font-size: 1rem;
		line-height: 1.375rem;
	}
	#mw-confirm-email .mw-confirm-email__content {
		max-width: 600px;
		margin: auto;
		padding: 16px;
		background-color: #FFFFFF;
	}

	@media (min-width: 600px) {
		#mw-confirm-email .mw-confirm-email__content {
			padding: 32px;
		}
	}

	#mw-confirm-email .mw-confirm-email__logo {
		width: 100px;
		margin-bottom: 24px;
	}

	#mw-confirm-email .mw-confirm-email__button-wrapper {
		margin-top: 24px;
		margin-bottom: 48px;
		text-align: center;
	}

	#mw-confirm-email .mw-confirm-email__welcome {
		margin-bottom: 16px;
	}

	#mw-confirm-email strong {
		font-weight: 700;
	}

	#mw-confirm-email .mw-confirm-email__button {
		background: #36C;
		color: white;
		padding: 0.45em 0.6em;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
	}
	#mw-confirm-email .mw-confirm-email__button:hover {
		background: #3056a9;
	}
	#mw-confirm-email .mw-confirm-email__button:focus {
		border-color: #36c;
		box-shadow: inset 0 0 0 1px #36c,inset 0 0 0 2px #fff;
	}
	#mw-confirm-email .mw-confirm-email__button:active {
		background-color: #233566;
	}

	#mw-confirm-email .mw-confirm-email__footer small {
		color: #54595D;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	#mw-confirm-email .mw-confirm-email__footer a {
		color: #36c;
		text-decoration: none;
	}

	#mw-confirm-email .mw-confirm-email__footer a:hover {
		text-decoration: underline;
	}
</style>
</head>
<body id="mw-confirm-email">
<section class="mw-confirm-email__content">
{{#logo}}
	<img class="mw-confirm-email__logo" src="{{icon.src}}" alt="{{icon.alt}}" />
{{/logo}}
	<p class="mw-confirm-email__welcome">{{{par1}}}</p>
	<p>{{{par2}}}</p>
	<div class="mw-confirm-email__button-wrapper">
		<a class="mw-confirm-email__button" href="{{confirmationUrl}}">
			{{buttonLabel}}
		</a>
	</div>
	<p class="mw-confirm-email__footer">
		<small>{{{footer}}}</small>
	</p>
</section>
</body>
</html>
