.mw-rcfilters-ui-viewSwitchWidget {
	label.oo-ui-labelWidget {
		color: #54595d;
		font-weight: bold;
	}

	&-buttons {
		margin-top: 0.5em;

		.oo-ui-buttonWidget:not( :first-child ) {
			margin-left: 0.5em;
		}
	}
}
