.mw-rcfilters-ui-quickLinkMenuOptionWidget {
	padding: 0.5em;
	&:not( :last-child ) {
		border-bottom: 1px solid #ccc;
	}

	.mw-rcfilters-ui-cell {
		vertical-align: middle;
	}

	&-icon span {
		display: inline-block;
	}

	&-input {
		display: inline-block;
		width: 15em;
	}

	&-label {
		max-width: 15em;
		display: inline-block;
		vertical-align: middle;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer !important;
		margin-left: 0.5px;
	}

	&-icon,
	&-button {
		width: 2em;
	}

	&-content {
		width: 100%;
	}

}
