// Corrections for the standard special page
.client-js{
	.rcoptions {
		border: 0;
		border-bottom: 1px solid #a2a9b1;

		legend {
			display: none;
		}
	}

	.rcfilters-head {
		min-height: 270px;
		&:not( .mw-rcfilters-ui-ready ) {
			/* @embed */
			background-image: url( ../images/pending.gif );
			margin: 0;

			* {
				visibility: hidden;
			}
		}
	}

	.rcfilters-container {
		min-height: 100px;
		margin: 0;
	}
}

.mw-rcfilters-staticfilters-selected {
	font-weight: bold;
}
