.mw-rcfilters-ui {
	&-table {
		display: table;
		width: 100%;
	}

	&-row {
		display: table-row;
	}

	&-cell {
		display: table-cell;
		vertical-align: top;
	}
}

// Temporary icon classes, until these icons
// are merged into OOUI properly
.oo-ui-iconElement-icon.oo-ui-icon-clip {
	/* @embed */
	background-image: url( ../images/clip.svg );
}

.oo-ui-iconElement-icon.oo-ui-icon-unClip {
	/* @embed */
	background-image: url( ../images/unClip.svg );
}

.oo-ui-iconElement-icon.oo-ui-icon-pushPin {
	/* @embed */
	background-image: url( ../images/pushPin.svg );
}

// Temporarily include article icon, because
// Apex doesn't have it
// Should be removed when
// https://gerrit.wikimedia.org/r/#/c/364599/ is deployed
.oo-ui-iconElement-icon.oo-ui-icon-article {
	/* @embed */
	background-image: url( ../images/article-ltr.svg );
}
