.mw-rcfilters-ui-filtersListWidget {
	&-title {
		font-size: 1.2em;
		padding: 0.75em;
		// TODO: Unify colors with official design palette
		color: #54595d;
	}

	&-header {
		border-bottom: 1px solid #c8ccd1;
		background: #f8f9fa;
		overflow: hidden;

		&-highlight {
			width: 1em;
			vertical-align: middle;
		}

		&-title {
			width: 100%;
			vertical-align: middle;
		}
	}

	&-noresults {
		padding: 0.5em;
		// TODO: Unify colors with official design palette
		color: #666;
	}
}
