.mw-rcfilters-ui-rcTopSectionWidget {
	&-topLinks {
		&-table {
			width: 100%;
		}

		&-top {
			display: block;
			width: 100%;
		}
	}

	&-savedLinks {
		vertical-align: bottom;
		padding-left: 1em;
	}

	.mw-recentchanges-toplinks {
		.oo-ui-widget-enabled.oo-ui-buttonElement.oo-ui-buttonElement-frameless .oo-ui-buttonElement-button {
			padding: 0 2.5em 0 0.5em;
		}
	}
}
