.mw-rcfilters-ui-filterItemWidget {
	padding-left: 0.5em;

	&-label {
		&-title {
			font-weight: bold;
			font-size: 1.2em;
			color: #222;
		}
		&-desc {
			color: #464a4f;
		}
	}

	.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline {
		margin-bottom: 0 !important;
	}
}
