.mw-rcfilters-ui-watchlistTopSectionWidget {
	&-watchlistDetails {
		.rcfilters-unseenSolidMarker {
			// todo: there must be a crazy mixin to reuse here
		}
	}

	&-editWatchlistButton {
		float: right;
		margin-left: 3em;
	}

	&-savedLinks {
		float: right;
	}
}
