.mw-rcfilters-ui-filterCapsuleMultiselectWidget {
	&-content-title {
		font-weight: bold;
		color: #54595d;
	}

	&-emptyFilters {
		color: #72777D;
	}

	&-table {
		display: table;
		width: 100%;
	}

	&-row {
		display: table-row;
	}

	&-cell {
		display: table-cell;
	}

	.oo-ui-capsuleItemWidget {
		color: #222;
		background-color: #fff;
	}
}
