@import 'mediawiki.mixins';
@import 'mediawiki.ui/variables';

.mw-rcfilters-ui-menuSelectWidget {
	z-index: auto;
	max-width: 650px;

	&.oo-ui-menuSelectWidget-invisible {
		display: block;
	}

	&-noresults {
		padding: 0.5em;
		color: @colorGray5;
	}

	&-body {
		max-height: 70vh;
	}

	&-footer {
		padding: 0.5em;
		background-color: @colorGray15;
		border-top: 1px solid @colorGray12;

		& + & {
			border-top: 0;
		}

		&-feedback {
			text-align: right;
		}
	}
}
