.mw-rcfilters-ui-filterCapsuleMultiselectWidget {
	max-width: none;

	&.oo-ui-widget-enabled .oo-ui-capsuleMultiselectWidget-handle {
		background-color: #f8f9fa;
		border: 1px solid #a2a9b1;
		min-height: 5.5em;
		padding: 0.75em;

	}

	&-content-title {
		font-weight: bold;
		color: #54595d;
	}

	&-emptyFilters {
		color: #72777d;
	}

	&-table {
		display: table;
		width: 100%;
	}

	&-row {
		display: table-row;
	}

	&-cell {
		display: table-cell;

		&:last-child {
			text-align: right;
		}
	}

	.oo-ui-capsuleItemWidget {
		color: #222;
		background-color: #fff;
	}
}
