// Highlight color definitions
@highlight-none: #fff;
@highlight-c1: #3366CC;
@highlight-c2: #00AF89;
@highlight-c3: #FFCC33;
@highlight-c4: #FF6D22;
@highlight-c5: #DD3333;

// Muted state
@muted-state: 0.5;

// Result list circle indicators
// Defined and used in mw.rcfilters.ui.ChangesListWrapperWidget.less
@result-circle-margin: 0.1em;
@result-circle-general-margin: 0.5em;
// In these small sizes, 'em' appears
// squished and inconsistent.
// Pixels are better for this use case:
@result-circle-diameter: 5px;
