.mw-rcfilters-ui-rclToOrFromWidget {
	// need to be very specific to override bg-color
	&.oo-ui-dropdownWidget.oo-ui-widget-enabled {
		.oo-ui-dropdownWidget-handle {
			border: 0;
			background-color: transparent;
			font-weight: bold;
		}
	}
}
