.mw-rcfilters-ui-rclTargetPageWidget {
	position: relative;

	.oo-ui-searchWidget-query {
		position: static;
		padding: 0;
		height: auto;
		border: 0;

		.oo-ui-textInputWidget {
			margin: 0;
		}
	}

	.oo-ui-searchWidget-results {
		position: absolute;
		top: 35px;
		padding: 0;
		overflow: visible;
		z-index: 2;

		.mw-widget-titleWidget-menu {
			background-color: #fff;
			border: solid 1px #a9a9a9; // todo: find the right color
			border-radius: 2px;
		}
	}
}
