@import 'mediawiki.mixins';

.mw-rcfilters-ui-filterMenuSectionOptionWidget {
	background: #eaecf0;
	padding-bottom: 0.7em;

	&-header {
		padding: 0 0.75em;
		// Use a high specificity to override OOUI
		.oo-ui-optionWidget.oo-ui-labelElement &-title.oo-ui-labelElement-label {
			// TODO: Unify colors with official design palette
			color: #555a5d;
			.box-sizing( border-box );
			display: inline-block;
			line-height: normal;
		}
	}

	&-whatsThisButton {
		margin-left: 1.5em;
		&.oo-ui-buttonElement {
			vertical-align: text-bottom;

			& > .oo-ui-buttonElement-button {
				font-weight: normal;
				// Override OOUI's definitions for button
				border-color: transparent;
				padding: 0;

				&:focus {
					box-shadow: none;
					outline: 0;
				}
			}
		}

		&-popup-content {
			padding: 1em;

			&-header {
				font-weight: bold;
				margin-bottom: 1em;
			}

			&-link {
				margin: 1em 0;
			}

			.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				margin-left: 0;
			}
		}
	}

	&-active {
		.mw-rcfilters-ui-filterMenuSectionOptionWidget-header-title {
			font-weight: bold;
		}
	}
}
