.mw-rcfilters-ui-filterCapsuleMultiselectWidget {
	&-content-title {
		font-weight: bold;
		color: #54595d;
	}

	&-item-inactive {
		opacity: 0.5;
	}

	.oo-ui-capsuleItemWidget {
		color: #222;
		background-color: #fff;
	}
}
