.mw-rcfilters-ui-saveFiltersPopupButtonWidget {
	&-popup {
		&-layout {
			padding-bottom: 1.5em;
		}

		> .oo-ui-popupWidget-popup > .oo-ui-popupWidget-head {
			> .oo-ui-iconWidget {
				margin: 0.75em 0.5em;
				float: left;
			}

			> .oo-ui-labelElement-label {
				font-size: 1.2em;
				padding: 0.3em;
				margin-left: 0;
				font-weight: bold;
			}
		}
	}

}
