.mw-rcfilters-ui-watchlistTopSectionWidget {
	&-editWatchlistButton {
		float: right;
		margin-left: 3em;
	}

	&-savedLinks {
		float: right;
	}

	.mw-rcfilters-ui-table {
		margin-top: 1em;
	}

	&-separator {
		margin-top: 1em;
		border-top: 2px solid #eaecf0; // Base80 AAA
	}
}
