.mw-rcfilters-ui-filtersListWidget {
	&-title {
		font-size: 1.2em;
		padding: 0.75em;
		// TODO: Unify colors with official design palette
		color: #54595d;
		border-bottom: 1px solid #c8ccd1;
		background: #f8f9fa;
	}

	&-noresults {
		padding: 0.5em;
		// TODO: Unify colors with official design palette
		color: #666;
	}
}
