@import 'mediawiki.mixins';

.mw-rcfilters-ui-saveFiltersPopupButtonWidget {
	&-popup {
		&-layout,
		&-options {
			padding-bottom: 1.5em;
		}

		> .oo-ui-popupWidget-popup > .oo-ui-popupWidget-head {
			position: relative;
			height: auto;
			padding: 1em;
			// Icon width + icon left position (rounded to 0.5 to give a little extra margin)
			padding-right: 1.875em + 0.5em;

			> .oo-ui-buttonWidget {
				top: 50%;
				.transform( translateY( -50% ) );
			}

			> .oo-ui-iconWidget {
				float: none;
				display: inline-block;
				margin: 0;
			}

			> .oo-ui-labelElement-label {
				float: none;
				display: inline-block;
				font-size: 1.2em;
				margin: 0;
				font-weight: bold;
				vertical-align: middle;
			}
		}
	}

}
