.mw-rcfilters-ui-quickLinkMenuOptionWidget {
	padding: 0.5em;

	&:hover {
		// Mimicking optionWidget styles
		background-color: #eaecf0;
		color: #000;
	}

	.mw-rcfilters-ui-cell {
		vertical-align: middle;
	}

	&-icon span {
		display: inline-block;
	}

	&-input {
		display: inline-block;
		width: 12em;
	}

	&-label {
		max-width: 12em;
		display: inline-block;
		vertical-align: middle;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;
		margin-left: 0.5px;
	}

	&-icon,
	&-button {
		width: 2em;
	}

	&-content {
		width: 100%;
	}

}
