.mw-rcfilters-ui-queryButtonWidget {
	display: inline-block;
	margin-right: 0.5em;
	// Same as oo-ui-buttonElement-button
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 0.2em;

	&-icon {
		display: inline-block;
		vertical-align: middle;
	}

	&-input {
		display: inline-block;
		max-width: 10em;
	}

	&-label {
		display: inline-block;
		vertical-align: middle;
		max-width: 10em;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer !important;
		margin-left: 0.5px;
	}

	&-button {
		margin-left: 1.5em;
	}
}
