@import 'mediawiki.mixins';

.mw-rcfilters-ui-filterWrapperWidget {
	width: 100%;
	// Make sure this uses the interface direction, not the content direction
	direction: ltr;

	&-viewToggleButtons {
		margin-top: 1em;
	}

	&-bottom {
		.flex-display;
		.flex;

		margin-top: 1em;
	}
}
