.mw-rcfilters-ui-filterWrapperWidget {
	width: 100%;
	// Make sure this uses the interface direction, not the content direction
	direction: ltr;

	&-viewToggleButtons {
		margin-top: 1em;
	}

	&-bottom {
		margin-top: 1em;

		.mw-rcfilters-ui-changesLimitButtonWidget,
		.mw-rcfilters-ui-dateButtonWidget {
			display: inline-block;

			&:not( :first-child ) {
				margin-left: 0.5em;
			}
		}
	}
}
