.mw-rcfilters-ui-filterFloatingMenuSelectWidget {
	z-index: auto;
	max-width: 650px;

	&-group {
		max-height: 70vh;
	}

	&-footer {
		background-color: #f8f9fa;
		text-align: right;
		padding: 0.5em;
	}
}
