/* OOUIHTMLForm styles */

.mw-htmlform-ooui-wrapper {
	width: 50em;
	margin: 1em 0;
}

.mw-htmlform-ooui .mw-htmlform-submit-buttons {
	margin-top: 1em;
}

.mw-htmlform-ooui .mw-htmlform-field-HTMLCheckMatrix,
.mw-htmlform-ooui .mw-htmlform-matrix,
.mw-htmlform-ooui .mw-htmlform-matrix tr {
	width: 100%;
}

.mw-htmlform-ooui .mw-htmlform-matrix tr td.first {
	margin-right: 5%;
	width: 39%;
}
