.mw-notification-area {
	top: 0;
	right: 0;
	padding: 1em 1em 0 0;
	width: 20em;
	line-height: 1.35;
	z-index: 10000;
	/* Avoid horizontal scrollbar on fade in and on fade out */
	overflow: hidden;
}

.mw-notification {
	padding: 0.25em 1em;
	margin-bottom: 0.5em;
	border: solid 1px #ddd;
	background-color: #fcfcfc;
	/* Click handler in mediawiki.notification.js */
	cursor: pointer;

	opacity: 0;
	-webkit-transform: translateX(35px);
	transform: translateX(35px);
	-webkit-transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.mw-notification-visible {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mw-notification-replaced {
	opacity: 0;
	-webkit-transform: translateY(-35px);
	transform: translateY(-35px);
	pointer-events: none;
}

.mw-notification-title {
	font-weight: bold;
}

.mw-notification-type-warn {
	border-color: #F5BE00; /* yellow */
	background-color: #FFFFE8;
}

.mw-notification-type-error {
	border-color: #EB3941; /* red */
	background-color: #FFF8F8;
}
