/*!
 * CSS for styling HTML-formatted JSON Schema objects
 *
 * @file
 * @author Munaf Assaf <massaf@wikimedia.org>
 */

@borderColor: #808080;
.mw-json {
	border-collapse: collapse;
	border-spacing: 0;
	font-style: normal;

	tbody,
	th,
	tr,
	td {
		display: block;
		box-sizing: border-box;
		width: 100%;
	}

	th {
		border: 1px solid @borderColor;
	}

	td {
		border-bottom: 1px solid @borderColor;
		font-size: 1em;
		padding: 0.5em 1em;
		background-color: #eee;
	}

	.value {
		font-size: .9em;
	}
}

.mw-json .value,
.mw-json-single-value {
	background-color: #dcfae3;
	font-family: monospace, monospace;
	white-space: pre-wrap;
}

.mw-json-single-value {
	background-color: #eee;
}

.mw-json-empty {
	background-color: #fff;
	font-style: italic;
}

.mw-json tr {
	margin-bottom: 0.5em;
}

.mw-json th {
	background-color: #fff;
	font-weight: normal;
}

.mw-json caption {
	/* For stylistic reasons, suppress the caption of the outermost table */
	display: none;
}

.mw-json table caption {
	color: @borderColor;
	display: inline-block;
	font-size: 10px;
	font-style: italic;
	margin-bottom: 0.5em;
	text-align: left;
}

@media all and (min-width: @deviceWidthTablet) {
	.mw-json {
		th,
		td {
			border: 1px solid @borderColor;
		}
	}

	.mw-json {
		border-collapse: collapse;
		border-spacing: 0;
		font-style: normal;

		tbody,
		tr,
		th,
		td {
			box-sizing: inherit;
			width: auto;
		}

		tbody {
			display: table-row-group;
		}
		th,
		td {
			display: table-cell;
		}

		tr {
			display: table-row;
		}
	}
}
