@import "mediawiki.mixins";

#mw-indicator-mw-helplink a {
	.background-image-svg('images/help.svg', 'images/help.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 28px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
