.mw-notification-area {
	top: 0;
	right: 0;
	padding: 1em 1em 0 0;
	width: 20em;
	line-height: 1.35;
	z-index: 10000;
}

.mw-notification {
	padding: 0.25em 1em;
	margin-bottom: 0.5em;
	border: solid 1px #ddd;
	background-color: #fcfcfc;
	/* Message hides on-click */
	/* See also mediawiki.notification.js */
	cursor: pointer;
}

.mw-notification-title {
	font-weight: bold;
}

.mw-notification-type-warn {
	border-color: #F5BE00; /* yellow */
	background-color: #FFFFE8;
}

.mw-notification-type-error {
	border-color: #EB3941; /* red */
	background-color: #FFF8F8;
}
