.mw-foreignStructuredUpload-bookletLayout-license {
	font-size: 90%;
	line-height: 1.4em;
	color: #555;
}

.mw-foreignStructuredUpload-bookletLayout-ownwork {
	
}

.mw-foreignStructuredUpload-bookletLayout-noderiv {
	
}

.mw-foreignStructuredUpload-bookletLayout-useful {
	
}

.mw-foreignStructuredUpload-bookletLayout-ccbysa {
	
}

.mw-foreignStructuredUpload-bookletLayout-question .oo-ui-radioOptionWidget {
	display: inline-block;
	margin-right: 2em;
}

.mw-foreignStructuredUpload-bookletLayout-goodBadExamples {
	
}
