.mw-foreignStructuredUpload-bookletLayout-license {
	font-size: 90%;
	line-height: 1.4em;
	color: #555;
}

.mw-foreignStructuredUploa-bookletLayout-small-notice {
	.oo-ui-fieldLayout-messages-notice {
		.oo-ui-iconWidget {
			display: none;
		}

		.oo-ui-labelWidget {
			line-height: 1.2em;
			font-size: 0.9em;
			color: #555;
		}
	}
}

.mw-foreignStructuredUpload-bookletLayout-upload-type-help-label {
	background: #efefef;
	padding: 1em;
	display: block;
}

.mw-foreignStructuredUpload-bookletLayout-green-notice {
	margin: 0;

	.oo-ui-fieldLayout-field {
		width: 100% !important;

		.oo-ui-labelWidget {
			box-sizing: border-box;
			background: #fbfbfb;
			border: 1px solid #ddd;
			// TODO: Use variable
			border-left: 2px solid #00b389;
			border-top: none;
			display: block;
			padding: 1em;
		}
	}
}

.mw-foreignStructuredUpload-bookletLayout-bottom-notice {
	.oo-ui-fieldLayout-field {
		width: 100% !important;
	}
}

.mw-foreignStructuredUpload-bookletLayout-more-options {
	.oo-ui-fieldLayout-field {
		width: 100% !important;
		text-align: center;
	}
}

.mw-foreignStructuredUpload-bookletLayout-selectFile {
	margin: 0;

	.oo-ui-selectFileWidget-supported {
		.oo-ui-selectFileWidget-dropTarget {
			margin: 0;
		}

		.oo-ui-selectFileWidget-dropTarget {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&.oo-ui-selectFileWidget-empty {
			.oo-ui-selectFileWidget-dropTarget {
				border-radius: 2px;
			}
		}
	}
}