@import 'mediawiki.ui/variables';

.mediawiki-filewarning {
	visibility: hidden;

	.mediawiki-filewarning-header {
		padding: 0;
		font-weight: 600;
	}

	.mediawiki-filewarning-footer {
		color: #888;
	}

	.empty {
		display: none;
	}

	.mediawiki-filewarning-anchor:hover & {
		visibility: visible;
	}
}

.mime-type {
	&.has-warning {
		font-weight: bold;
		color: @colorMediumSevere;
	}
}
