.mw-foreignStructuredUpload-bookletLayout-license {
	font-size: 90%;
	line-height: 1.4em;
	color: #555;
}

.mw-foreignStructuredUploa-bookletLayout-small-notice {
	.oo-ui-fieldLayout-messages-notice {
		.oo-ui-iconWidget {
			display: none;
		}

		.oo-ui-labelWidget {
			line-height: 1.2em;
			font-size: 0.9em;
			color: #555;
		}
	}
}
