@import "mediawiki.mixins";

/**
 * @deprecated since 1.26
 *
 * Use OOUI\ButtonWidget with icon=help instead. See OutputPage#addHelpLink.
 */

#mw-indicator-mw-helplink .mw-helplink {
	.background-image-svg('images/help.svg', 'images/help.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 28px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
