/* Anchors for section headings */
.mw-headline-anchor {
	font-weight: normal;
	margin-left: -14px;
	width: 14px;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* @noflip */
.mw-content-ltr .mw-headline-anchor,
.mw-content-rtl .mw-content-ltr .mw-headline-anchor {
	margin-left: -14px;
	margin-right: 0;
}

/* @noflip */
.mw-content-rtl .mw-headline-anchor,
.mw-content-ltr .mw-content-rtl .mw-headline-anchor {
	margin-left: 0;
	margin-right: -14px;
}

.mw-headline-anchor,
.mw-headline-anchor:visited {
	color: #888;
}

.mw-headline-anchor:hover,
.mw-headline-anchor:focus {
	color: #555;
	text-decoration: none;
}

.mw-headline-anchor:active {
	color: #000;
}

.mw-body h1:hover .mw-headline-anchor,
.mw-body h2:hover .mw-headline-anchor,
.mw-body h3:hover .mw-headline-anchor,
.mw-body h4:hover .mw-headline-anchor,
.mw-body h5:hover .mw-headline-anchor,
.mw-body h6:hover .mw-headline-anchor,
.mw-body h1:focus .mw-headline-anchor,
.mw-body h2:focus .mw-headline-anchor,
.mw-body h3:focus .mw-headline-anchor,
.mw-body h4:focus .mw-headline-anchor,
.mw-body h5:focus .mw-headline-anchor,
.mw-body h6:focus .mw-headline-anchor {
	filter: alpha(opacity=100);
	opacity: 1;
}
