/* Special:AllMessages */
#mw-allmessagestable .allmessages-customised td.am_default {
	background-color: #fcffc4;
}

#mw-allmessagestable tr.allmessages-customised:hover td.am_default {
	background-color: #faff90;
}

#mw-allmessagestable td.am_actual {
	background-color: #e2ffe2;
}

#mw-allmessagestable tr.allmessages-customised:hover + tr.allmessages-customised td.am_actual {
	background-color: #b1ffb1;
}

/* Special:Allpages */
table.mw-allpages-table-form {
	width: 100%;
}
table.mw-allpages-table-form tr {
	vertical-align: top;
}
.mw-allpages-nav {
	text-align: right;
	margin-bottom: 1em;
}

ul.mw-allpages-chunk {
	margin: 0;
	padding: 0;
}
ul.mw-allpages-chunk li {
	border-top: 1px solid #ccc;
	display: inline-block;
	margin: 0 1% 0 0;
	padding: .2em 0;
	vertical-align: top;
	width: 31%;
}

/* Special:BlockList */
table.mw-blocklist span.mw-usertoollinks,
span.mw-blocklist-actions {
	white-space: nowrap;
	font-size: 90%;
}

/* Special:Contributions */
.mw-uctop {
	font-weight: bold;
}

/* Special:EmailUser */
td#mw-emailuser-sender,
td#mw-emailuser-recipient {
	font-weight: bold;
}

/* Special:ListGroupRights */
table.mw-listgrouprights-table tr {
	vertical-align: top;
}
.listgrouprights-revoked {
	text-decoration: line-through;
}

/* Special:Prefixindex */
table.mw-prefixindex-list-table,
table#mw-prefixindex-nav-table {
	width: 100%;
}
td#mw-prefixindex-nav-form {
	margin-bottom: 1em;
	vertical-align: top;
}
.mw-prefixindex-nav {
	text-align: right;
}

/* Special:Specialpages */
.mw-specialpagerestricted {
	font-weight: bold;
}

.mw-specialpages-table {
	margin-top: -1em;
	margin-bottom: 1em;
}

.mw-specialpages-table td {
	vertical-align: top;
}

/* Special:Statistics */
td.mw-statistics-numbers {
	text-align: right;
}

/* Special:ProtectedPages */
table.mw-protectedpages span.mw-usertoollinks,
span.mw-protectedpages-length,
span.mw-protectedpages-actions {
	white-space: nowrap;
	font-size: 90%;
}
span.mw-protectedpages-unknown {
	color: grey;
	font-size: 90%;
}

/* Special:UserRights */
.mw-userrights-disabled {
	color: #888;
}
table.mw-userrights-groups * td,
table.mw-userrights-groups * th {
	padding-right: 1.5em;
}

/* Special:Contributions */
.mw-contributions-form select {
	vertical-align: middle;
}
