<?php
/**
 * @group large
 * @group Database
 * @group Parser
 * @group ParserTests
 */
class CLASSNAME extends \PHPUnit\Framework\TestCase {
	use ParserTestFileTrait;

	protected static string $filename = FILENAME;
	protected static bool $isCore = IS_CORE;
}
