<div class="mw-body">
	<header>
		{{#data-logos}}
			<span class="mw-logo-container">
				{{#wordmark}}
				<img class="mw-logo-wordmark" alt="{{msg-sitetitle}}" src="{{src}}" style="{{style}}">
				{{/wordmark}}
				{{^wordmark}}
				<strong class="mw-logo-wordmark">{{msg-sitetitle}}</strong>
				{{/wordmark}}
			</span>
		{{/data-logos}}
	</header>

	<h1>{{{html-title}}}</h1>

	<main>
		{{{html-body-content}}}
	</main>

	<footer>
		{{#data-footer}}
			<ul>
				{{#data-info}}
				{{#array-items}}<li>{{{html}}}</li>{{/array-items}}
				{{/data-info}}

				{{#data-places}}
				{{#array-items}}<li>{{{html}}}</li>{{/array-items}}
				{{/data-places}}

				{{#data-icons}}
				{{#array-items}}<li>{{{html}}}</li>{{/array-items}}
				{{/data-icons}}
			</ul>
		{{/data-footer}}
	</footer>
</div>
