/**
 * oldshared.css
 * This file contains CSS settings common to Wikistandard, Nostalgia and
 * CologneBlue, the old pre-Monobook skins
 */

/* For clarity, explicitly state some recommendations from
 * http://www.w3.org/TR/CSS21/sample.html to make sure the editsection links scale right
 */

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1.11em;
}

h5 {
	font-size: 1.05em;
}

h6 {
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
}

/* Now the custom parts */

#footer {
	clear: both;
}

/* images */
/* @noflip */
div.floatright {
	float: right;
	clear: right;
	margin: 0 0 1em 1em;
}

/* @noflip */
div.floatright p {
	font-style: italic;
}

/* @noflip */
div.floatleft {
	float: left;
	clear: left;
	margin: 0.3em 0.5em 0.5em 0;
}

/* @noflip */
div.floatleft p {
	font-style: italic;
}

/* table standards */
table.rimage {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-size: smaller;
}

/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}

div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}

html .thumbimage {
	border: 1px solid #ccc;
}

html .thumbcaption {
	border: none;
	line-height: 1.4em;
	padding: 3px;
	font-size: 94%;
	text-align: left;
}

div.magnify {
	float: right;
	margin-left: 3px;
}

div.magnify a {
	display: block;
	/* Hide the text… */
	text-indent: 15px;
	white-space: nowrap;
	overflow: hidden;
	/* …and replace it with the image */
	width: 15px;
	height: 11px;
	/* Use same SVG support hack as mediawiki.legacy's shared.css */
	background: url(images/magnify-clip-ltr.png) center center no-repeat;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/magnify-clip-ltr.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(images/magnify-clip-ltr.svg);
	/* Don't annoy people who copy-paste everything too much */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* @noflip */
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}

/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

img.thumbborder {
	border: 1px solid #dddddd;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment {
	color: #4b4b4b;
}

img {
	border: none;
}

#toc,
.toc {
	border: 1px solid #bba;
	background-color: #f7f8ff;
	padding: 5px;
	font-size: 95%;
	text-align: center;
	display: -moz-inline-block;
	display: inline-block;
	display: table;

	/* IE7 and earlier */
	zoom: 1;
	*display: inline;

	padding: 7px;
}

/* CSS for backwards-compatibility with cached page renders and creative uses in wikitext */
table#toc,
table.toc {
	border-collapse: collapse;
}

/* Remove additional paddings inside table-cells that are not present in <div>s */
table#toc td,
table.toc td {
	padding: 0;
}

#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}

#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	text-align: left;
}

#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}

#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.error {
	color: red;
	font-size: larger;
}

/* preference page with js-genrated toc */
#preftoc {
	float: left;
	margin: 1em 1em 1em 1em;
	width: 13em;
}

#preftoc li {
	border: 1px solid White;
}

#preftoc li.selected {
	background-color: #f9f9f9;
	border: 1px dashed #aaaaaa;
}

#preftoc a,
#preftoc a:active {
	display: block;
	color: #005189;
}

.mw-prefs-buttons {
	clear: left;
	float: left;
	margin-top: 1em;
}

div.htmlform-tip {
	font-size: 94%;
	margin-top: 0.4em;
	color: #666;
}

fieldset.prefsection {
	margin-top: 1em;
}

fieldset.operaprefsection {
	margin-left: 15em;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}

*.center * {
	margin-left: auto;
	margin-right: auto;
}

/* small for tables and similar */
.small {
	font-size: 94%;
}

table.small {
	font-size: 100%;
}

/* use this instead of #toc for page content */
.toccolours {
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

#siteNotice {
	border: 1px solid #aaaaaa;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.sharedUploadNotice {
	font-style: italic;
}

span.unpatrolled {
	font-weight: bold;
	color: red;
}

span.updatedmarker {
	color: black;
	background-color: #00FF00;
}

div.gallerybox {
	width: 150px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-align: center;
	color: #cc0000;
}

.editExternally {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}

.editExternallyHelp {
	font-style: italic;
	color: gray;
}

li span.deleted {
	text-decoration: line-through;
	color: #888;
	font-style: italic;
}

/* Classes for Exif data display */
table.mw_metadata {
	margin-left: 0.5em;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td,
table.mw_metadata th {
	border: 1px solid #aaaaaa;
	padding-left: 4px;
	padding-right: 4px;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

table.mw_metadata td.spacer {
	background: inherit;
	border-top: none;
	border-bottom: none;
}

.visualClear {
	clear: both;
}

/* Allmessages table */
#allmessagestable th {
	background-color: #b2b2ff;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
}

#jump-to-nav {
	display: none;
}

div.multipageimagenavbox {
	border: solid 1px silver;
	padding: 4px;
	margin: 1em;
	background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	border: none;
	margin-left: 2em;
	margin-right: 2em;
}

div.multipageimagenavbox hr {
	margin: 6px;
}

table.multipageimage td {
	text-align: center;
}

.templatesUsed {
	margin-top: 1em;
}

.MediaTransformError {
	border: thin solid #777;
	background-color: #ccc;
	padding: 0.1em;
}

.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}

form#specialpages {
	display: inline;
}

body {
	direction: ltr;
	unicode-bidi: embed;
	background-color: #ffffec;
}

body.ns-0 {
	background-color: white;
}

/** RTL specific CSS starts here **/

/**
 * Lists:
 * The following lines don't have a visible effect on non-Gecko browsers
 * They fix a problem with Gecko browsers rendering lists to the right of
 * left-floated objects in an RTL layout.
 */
/* @noflip */
html > body.rtl div#article ul {
	display: table;
}

/* @noflip */
html > body.rtl .mw-body ul#filetoc {
	display: block;
}

/* RTL specific CSS ends here **/
