/*!
 * mw-datatable styles used by TablePager.
 * These were previously available through legacy.less and are still imported there.
 * After legacy.less has been removed, this file can be merged into TablePager.less.
 */
@import 'mediawiki.skin.variables.less';
/* stylelint-disable selector-class-pattern */
.mw-datatable {
	border: @border-base;
	border-collapse: collapse;

	td,
	th {
		border: @border-base;
		padding: 0.2em 0.4em;
	}

	th {
		background-color: #eaeeff;

		html.skin-theme-clientpref-night & {
			background-color: @background-color-transparent;
		}

		@media ( prefers-color-scheme: dark ) {
			html.skin-theme-clientpref-os & {
				background-color: @background-color-transparent;
			}
		}
	}

	td {
		background-color: @background-color-base;
	}

	tr:hover td {
		background-color: @background-color-progressive-subtle;
	}
}
