/*!
 * mw-datatable styles used by TablePager.
 * These were previously available through legacy.less and are still imported there.
 * After legacy.less has been removed, this file can be merged into TablePager.less.
 */
@import 'mediawiki.skin.variables.less';

.mw-datatable {
	border: @border-base;
	border-collapse: collapse;

	td,
	th {
		border: @border-base;
		padding: 0.2em 0.4em;
	}

	th {
		background-color: #eaeeff;
	}

	td {
		background-color: @background-color-base;
	}

	tr:hover td {
		background-color: @background-color-progressive-subtle;
	}
}
