on: 
 push:
 pull_request:

jobs:
  php-lint:
    name: "PHPLint v9"

    runs-on: "${{ matrix.operating-system }}"

    strategy:
      fail-fast: false

      matrix:
        operating-system:
          - "ubuntu-24.04"
          - "ubuntu-22.04"

        php-version:
          - "8.3"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP runtime
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "none"

      - name: Run tests
        run: |
          curl -Ls https://github.com/overtrue/phplint/releases/latest/download/phplint.phar -o /usr/local/bin/phplint
          chmod +x /usr/local/bin/phplint
          /usr/local/bin/phplint --no-cache --no-progress -v
